<div class="info-page">
  <p>Размер накопительной скидки рассчитывается на основе суммы всех Ваших предыдущих <strong>завершённых</strong> заказов.</p>
  <p>Накопительная скидка распространяется на все товары кроме акционных и товаров из категории "Сусаль" (на сусальное золото скидок нет).</p>
  <p>
    Завершённых заказов на сумму от <strong>500</strong> до <strong>1499</strong> грн скидка    <strong>3%</strong><br>
    Завершённых заказов на сумму от <strong>1500</strong> до <strong>2999</strong> грн скидка    <strong>5%</strong><br>
    Завершённых заказов на сумму от <strong>3000</strong> до <strong>4999</strong> грн скидка    <strong>7%</strong><br>
    Завершённых заказов на сумму от <strong>5000</strong> грн скидка <strong>10%</strong>
  </p>
  <p>Администрация магазина оставляет за собой право изменять условия дисконтной программы.</p>
  <h2>
    Статистика по Вашим завершённым заказам
  </h2>
  <p>
    Количество завершённых заказов - <strong>{{ totalOrders }}</strong><br>
    Итого куплено товаров на <strong>{{ totalCost }}</strong> грн
  </p>

</div>
