<div class="its-mobile">
   <div class="filters-bar__selected-filters" *ngIf="selectedFiltersInBar?.length">
        
        <ng-container *ngFor="let activeFilter of selectedFiltersInBar" [ngSwitch]="activeFilter.type">

          <ng-container *ngSwitchCase="'checkbox'">
            <div class="filters-bar__selected-filter selected" *ngFor="let value of activeFilter.values">
              <div class="selected__label">
                {{ value.label }}
              </div>
              <button class="selected__reset" (click)="unselect(activeFilter, value)" type="button" >
                <i class="mbi mbi-cross" ></i>
              </button>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'range'">
            <div class="filters__selected-filter selected">
              <div class="selected__label">
                {{ activeFilter.label }}: {{ activeFilter.rangeValues.selected.min }}-{{ activeFilter.rangeValues.selected.max }}
              </div>
              <button class="selected__reset" (click)="unselect(activeFilter)" type="button">
                <i class="mbi mbi-cross"></i>
              </button>
            </div>
          </ng-container>

        </ng-container>

      </div>
 
</div>



