@import "variables";
@import "mixins";

.filters-bar {
  display: flex;
  flex-wrap: wrap;

  @include respond-to($media_large) {
    flex-wrap: nowrap;
  }

  @include respond-to($media_large) {
    display: inline-flex;
    align-items: center;
    height: auto;
  }

  &__filters-box {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    order: 1;

    @include respond-to($media_large) {
      width: auto;
      order: 3;
    }
  }

  &__selected-count {
    display: block;
    align-self: flex-start;
    margin: 8px 8px 0 0;
    font-size: 14px;
    line-height: 32px;
    white-space: nowrap;
    order: 2;

    @include respond-to($media_large) {
      order: 1;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    height: 32px;
    margin: 8px 8px 0 0;
    padding: 7px 7px 7px 12px;
    border: 1px solid rgba($grey, 0.4);
    border-radius: 50px;
    font-size: 14px;
    white-space: nowrap;

    &:hover {
      background-color: rgba($grey, 0.05);
    }

    &--clear-all {
      display: inline-flex;
      padding: 10px;
      border-color: rgba($red, 0.8);
      order: 3;

      @include respond-to($media_large) {
        order: 2;
      }
    }

    &--clear-all:hover {
      background-color: rgba($red, 0.8);
      color: $white;
    }        
  }
}
  
.selected {

  &__label {
    padding: 0 5px 0 0;
  }

  &__reset {
    padding: 2px 0 0 0;
    color: rgba($red, 0.8);
    font-weight: 900;
  }

  &__reset:hover {
    color: rgba($red, 1);
  }
}
