@import "variables";
@import "mixins";

.filters-bar  {

  &__filters_box {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__selected-count {
    align-self: flex-start;
    margin: 8px 8px 0 0;
    font-size: 14px;
    line-height: 32px;
    white-space: nowrap;
  }

  &__container {
    @include respond-to($media_large) {
      display: inline-flex;
    }

    display: none;
    align-items: center;
    height: auto;
  }

  &__clear-all {
    display: inline-flex;
    margin: 8px 8px 0 0;
    align-items: center;
  }

  &__item {
    display: inline-flex;
    height: 32px;
    margin: 8px 8px 0 0;
    padding: 7px 7px 7px 12px;
    align-items: center;
    border: 1px solid rgba($grey, 0.4);
    border-radius: 50px;
    font-size: 14px;
    white-space: nowrap;

    &:hover {
      background-color: rgba($grey, 0.05);
    }

    &.clear-all {
      padding: 10px;
      border-color: rgba($red, 0.8)
    }

    &.clear-all:hover {
      background-color: rgba($red, 0.8);
      color: $white;
    }
  }

  &__selected-filter {
    display: inline-flex;
    align-items: center;

  }

  @include respond-to($media_large) {
    display: block;
  }
}
  
.selected {

  &__label {
    padding: 0 5px 0 0;
  }

  &__reset {
    color: rgba($red, 0.8);
    font-weight: 900;
  }

  &__reset:hover {
    color: rgba($red, 1.1);
  }
}