@import "../abstracts/variables";
@import "../abstracts/mixins";

body {
  color: $dark;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.html-description {
  line-height: 1.375;

  p {
    margin-bottom: 1rem;
  }

  img {
    height: auto;
  }

  ul,
  ol {
    padding-left: 25px;
    margin: 0 0 0.5rem;

    li {
      list-style-type: inherit;
    }
  }

  a {
    color: $linkMain;
    cursor: pointer;

    &:hover {
      color: $linkMainHover;
    }
  }
}

.yt-video-wrapper {
  max-width: 560px;
  margin: 0 auto;
}

.yt-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.info-page {
  font-size: 16px;
  line-height: 1.4;

  p {
    margin: 0 0 1em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-link {
  color: $linkMain;
  cursor: pointer;
    
  &:visited, 
  &:active {
      color: $linkMain;
  }

  &:hover {
    @include respond-to($media_large) {
      color: $linkMainHover;
      text-decoration: underline;
    }
  }

  &--black {
    color: $dark;

    &:visited, 
    &:active {
        color: $dark;
    }

    &:hover {
      @include respond-to($media_large) {
        color: $linkMainHover;
      }
    }
  }
}
