@font-face {
  font-family: 'mbicon';
  src: url('../fonts/mbicon/mbicon.woff2') format('woff2'), url('../fonts/mbicon/mbicon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mbi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mbicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mbi-paint-roller:before {
  content: "\e620";
}
.mbi-palette:before {
  content: "\e626";
}
.mbi-color-sampler:before {
  content: "\e627";
}
.mbi-wind:before {
  content: "\e643";
}
.mbi-fan:before {
  content: "\e644";
}
.mbi-shovel:before {
  content: "\e67b";
}
.mbi-drawers:before {
  content: "\e6a2";
}
.mbi-drawers2:before {
  content: "\e6a3";
}
.mbi-drawers3:before {
  content: "\e6a4";
}
.mbi-clipboard-user:before {
  content: "\e6d0";
}
.mbi-register:before {
  content: "\e6d1";
}
.mbi-exit:before {
  content: "\e6d3";
}
.mbi-papers:before {
  content: "\e6d4";
}
.mbi-news:before {
  content: "\e6d5";
}
.mbi-podium:before {
  content: "\e6e1";
}
.mbi-music-note:before {
  content: "\e6e4";
}
.mbi-music-note2:before {
  content: "\e6e5";
}
.mbi-guitar:before {
  content: "\e6e9";
}
.mbi-headphones:before {
  content: "\e6ef";
}
.mbi-bookmark:before {
  content: "\e715";
}
.mbi-library:before {
  content: "\e718";
}
.mbi-baby-bottle:before {
  content: "\e72c";
}
.mbi-bow-tie:before {
  content: "\e738";
}
.mbi-tie:before {
  content: "\e739";
}
.mbi-socks:before {
  content: "\e73a";
}
.mbi-shoes:before {
  content: "\e73c";
}
.mbi-hat:before {
  content: "\e73d";
}
.mbi-pants:before {
  content: "\e73e";
}
.mbi-shorts:before {
  content: "\e73f";
}
.mbi-flip-flops:before {
  content: "\e740";
}
.mbi-shirt:before {
  content: "\e741";
}
.mbi-hanger:before {
  content: "\e742";
}
.mbi-laundry:before {
  content: "\e743";
}
.mbi-vault:before {
  content: "\e769";
}
.mbi-tablet:before {
  content: "\e7ab";
}
.mbi-laptop:before {
  content: "\e7ad";
}
.mbi-laptop-phone:before {
  content: "\e7ae";
}
.mbi-cable:before {
  content: "\e7b3";
}
.mbi-tv:before {
  content: "\e7b5";
}
.mbi-remote-control:before {
  content: "\e7b7";
}
.mbi-lamp:before {
  content: "\e7bc";
}
.mbi-lampshade:before {
  content: "\e7be";
}
.mbi-heart-pulse1:before {
  content: "\e7e9";
}
.mbi-thermometer:before {
  content: "\e7f0";
}
.mbi-beaker:before {
  content: "\e7f3";
}
.mbi-bone:before {
  content: "\e7f5";
}
.mbi-diamond2:before {
  content: "\e807";
}
.mbi-teacup:before {
  content: "\e80b";
}
.mbi-teapot:before {
  content: "\e80c";
}
.mbi-chef:before {
  content: "\e813";
}
.mbi-egg:before {
  content: "\e815";
}
.mbi-egg2:before {
  content: "\e816";
}
.mbi-platter:before {
  content: "\e818";
}
.mbi-steak:before {
  content: "\e819";
}
.mbi-hamburger:before {
  content: "\e81a";
}
.mbi-hotdog:before {
  content: "\e81b";
}
.mbi-pizza:before {
  content: "\e81c";
}
.mbi-sausage:before {
  content: "\e81d";
}
.mbi-fish:before {
  content: "\e81f";
}
.mbi-carrot:before {
  content: "\e820";
}
.mbi-cheese:before {
  content: "\e821";
}
.mbi-bread:before {
  content: "\e822";
}
.mbi-ice-cream:before {
  content: "\e823";
}
.mbi-candy:before {
  content: "\e825";
}
.mbi-lollipop:before {
  content: "\e826";
}
.mbi-cherry:before {
  content: "\e829";
}
.mbi-grapes:before {
  content: "\e82a";
}
.mbi-pine-tree:before {
  content: "\e82f";
}
.mbi-paw:before {
  content: "\e832";
}
.mbi-car-wash2:before {
  content: "\e84c";
}
.mbi-boat:before {
  content: "\e85e";
}
.mbi-dumbbell:before {
  content: "\e861";
}
.mbi-swim:before {
  content: "\e863";
}
.mbi-football:before {
  content: "\e864";
}
.mbi-baseball-bat:before {
  content: "\e865";
}
.mbi-baseball:before {
  content: "\e866";
}
.mbi-tennis:before {
  content: "\e867";
}
.mbi-tennis2:before {
  content: "\e868";
}
.mbi-ping-pong:before {
  content: "\e869";
}
.mbi-hockey:before {
  content: "\e86a";
}
.mbi-8ball:before {
  content: "\e86b";
}
.mbi-bowling-pins:before {
  content: "\e86d";
}
.mbi-golf2:before {
  content: "\e86f";
}
.mbi-christmas:before {
  content: "\e8a5";
}
.mbi-easter-egg:before {
  content: "\e8a6";
}
.mbi-pencil2:before {
  content: "\e032";
}
.mbi-home3:before {
  content: "\e602";
}
.mbi-home5:before {
  content: "\e604";
}
.mbi-pencil:before {
  content: "\e60d";
}
.mbi-pencil5:before {
  content: "\e613";
}
.mbi-cog:before {
  content: "\e672";
}
.mbi-trash2:before {
  content: "\e681";
}
.mbi-heart:before {
  content: "\e68c";
}
.mbi-star:before {
  content: "\e68d";
}
.mbi-star-empty:before {
  content: "\e68f";
}
.mbi-flag2:before {
  content: "\e691";
}
.mbi-at-sign:before {
  content: "\e695";
}
.mbi-envelope:before {
  content: "\e696";
}
.mbi-envelope-open:before {
  content: "\e697";
}
.mbi-paper-plane:before {
  content: "\e699";
}
.mbi-eye:before {
  content: "\e6a5";
}
.mbi-eye-crossed:before {
  content: "\e6a6";
}
.mbi-printer:before {
  content: "\e6b1";
}
.mbi-presentation:before {
  content: "\e6f6";
}
.mbi-film-play:before {
  content: "\e6f8";
}
.mbi-clapboard-play:before {
  content: "\e6f9";
}
.mbi-camera2:before {
  content: "\e704";
}
.mbi-picture:before {
  content: "\e70e";
}
.mbi-picture3:before {
  content: "\e710";
}
.mbi-bookmark2:before {
  content: "\e716";
}
.mbi-label:before {
  content: "\e717";
}
.mbi-profile:before {
  content: "\e71b";
}
.mbi-user:before {
  content: "\e71e";
}
.mbi-store:before {
  content: "\e744";
}
.mbi-store-24:before {
  content: "\e746";
}
.mbi-bag2:before {
  content: "\e74c";
}
.mbi-cart:before {
  content: "\e74d";
}
.mbi-cart-empty:before {
  content: "\e74e";
}
.mbi-tag:before {
  content: "\e755";
}
.mbi-tags:before {
  content: "\e756";
}
.mbi-credit-card2:before {
  content: "\e759";
}
.mbi-telephone:before {
  content: "\e76a";
}
.mbi-phone-wave:before {
  content: "\e76c";
}
.mbi-phone-outgoing:before {
  content: "\e76e";
}
.mbi-telephone2:before {
  content: "\e777";
}
.mbi-pushpin:before {
  content: "\e778";
}
.mbi-map-marker:before {
  content: "\e77a";
}
.mbi-location:before {
  content: "\e783";
}
.mbi-calendar-empty:before {
  content: "\e785";
}
.mbi-calendar-check:before {
  content: "\e786";
}
.mbi-calendar-cross:before {
  content: "\e787";
}
.mbi-calendar-31:before {
  content: "\e788";
}
.mbi-calendar-full:before {
  content: "\e789";
}
.mbi-calendar-user:before {
  content: "\e78c";
}
.mbi-screen:before {
  content: "\e798";
}
.mbi-phone:before {
  content: "\e7a5";
}
.mbi-power:before {
  content: "\e7b9";
}
.mbi-bubble:before {
  content: "\e7d6";
}
.mbi-bubbles:before {
  content: "\e7d7";
}
.mbi-bubble-question:before {
  content: "\e7da";
}
.mbi-heart-pulse:before {
  content: "\e7e8";
}
.mbi-pie-chart:before {
  content: "\e7f8";
}
.mbi-graph:before {
  content: "\e7fa";
}
.mbi-chart-growth:before {
  content: "\e7fb";
}
.mbi-chart-bars:before {
  content: "\e7fc";
}
.mbi-gift:before {
  content: "\e7ff";
}
.mbi-diamond:before {
  content: "\e806";
}
.mbi-diamond4:before {
  content: "\e809";
}
.mbi-rocket:before {
  content: "\e837";
}
.mbi-car:before {
  content: "\e84a";
}
.mbi-truck:before {
  content: "\e857";
}
.mbi-icons2:before {
  content: "\e880";
}
.mbi-alarm:before {
  content: "\e8aa";
}
.mbi-alarm-ringing:before {
  content: "\e8ad";
}
.mbi-volume-high:before {
  content: "\e8b0";
}
.mbi-volume-medium:before {
  content: "\e8b1";
}
.mbi-volume-low:before {
  content: "\e8b2";
}
.mbi-volume:before {
  content: "\e8b3";
}
.mbi-mute:before {
  content: "\e8b4";
}
.mbi-loading:before {
  content: "\e8d0";
}
.mbi-undo2:before {
  content: "\e8d8";
}
.mbi-redo2:before {
  content: "\e8d9";
}
.mbi-sync2:before {
  content: "\e8dd";
}
.mbi-clock3:before {
  content: "\e8e8";
}
.mbi-watch:before {
  content: "\e8e9";
}
.mbi-alarm2:before {
  content: "\e8ea";
}
.mbi-download:before {
  content: "\e8f3";
}
.mbi-download2:before {
  content: "\e8f5";
}
.mbi-upload2:before {
  content: "\e8f6";
}
.mbi-exit-left:before {
  content: "\e8fd";
}
.mbi-exit-right:before {
  content: "\e8fe";
}
.mbi-enter-right2:before {
  content: "\e903";
}
.mbi-exit-left2:before {
  content: "\e907";
}
.mbi-link2:before {
  content: "\e917";
}
.mbi-unlink2:before {
  content: "\e918";
}
.mbi-thumbs-up:before {
  content: "\e919";
}
.mbi-share2:before {
  content: "\e920";
}
.mbi-magnifier:before {
  content: "\e922";
}
.mbi-zoom-in:before {
  content: "\e925";
}
.mbi-zoom-out:before {
  content: "\e926";
}
.mbi-loupe:before {
  content: "\e927";
}
.mbi-cross:before {
  content: "\e92a";
}
.mbi-menu:before {
  content: "\e92b";
}
.mbi-list:before {
  content: "\e92c";
}
.mbi-list2:before {
  content: "\e92d";
}
.mbi-list3:before {
  content: "\e92e";
}
.mbi-list4:before {
  content: "\e930";
}
.mbi-menu3:before {
  content: "\e931";
}
.mbi-check:before {
  content: "\e934";
}
.mbi-cross2:before {
  content: "\e935";
}
.mbi-plus:before {
  content: "\e936";
}
.mbi-minus:before {
  content: "\e937";
}
.mbi-chevron-up:before {
  content: "\e939";
}
.mbi-chevron-down:before {
  content: "\e93a";
}
.mbi-chevron-left:before {
  content: "\e93b";
}
.mbi-chevron-right:before {
  content: "\e93c";
}
.mbi-arrow-up:before {
  content: "\e941";
}
.mbi-arrow-down:before {
  content: "\e942";
}
.mbi-arrow-left:before {
  content: "\e943";
}
.mbi-arrow-right:before {
  content: "\e944";
}
.mbi-arrow-up-right:before {
  content: "\e945";
}
.mbi-expand:before {
  content: "\e94a";
}
.mbi-contract:before {
  content: "\e94b";
}
.mbi-expand2:before {
  content: "\e94c";
}
.mbi-contract2:before {
  content: "\e94d";
}
.mbi-tab:before {
  content: "\e94f";
}
.mbi-notification:before {
  content: "\e954";
}
.mbi-warning:before {
  content: "\e955";
}
.mbi-checkmark-circle:before {
  content: "\e959";
}
.mbi-play-circle:before {
  content: "\e96a";
}
.mbi-pause-circle:before {
  content: "\e96b";
}
.mbi-grid:before {
  content: "\e975";
}
.mbi-layers:before {
  content: "\e977";
}
.mbi-funnel:before {
  content: "\e97c";
}
.mbi-check-square:before {
  content: "\e999";
}
.mbi-menu-square:before {
  content: "\e99b";
}
.mbi-sort-alpha-asc:before {
  content: "\e9b5";
}
.mbi-sort-alpha-desc:before {
  content: "\e9b6";
}
.mbi-sort-amount-asc:before {
  content: "\e9b9";
}
.mbi-sort-amount-desc:before {
  content: "\e9ba";
}
.mbi-pencil-line:before {
  content: "\e9be";
}
.mbi-pointer-right:before {
  content: "\e9c1";
}
.mbi-ellipsis:before {
  content: "\e9e9";
}
.mbi-vk:before {
  content: "\e900";
}
.mbi-foursquare:before {
  content: "\e901";
}
.mbi-yahoo:before {
  content: "\e902";
}
.mbi-google:before {
  content: "\e904";
}
.mbi-amazon:before {
  content: "\e905";
}
.mbi-facebook-square:before {
  content: "\f082";
}
.mbi-twitter:before {
  content: "\f099";
}
.mbi-facebook:before {
  content: "\f09a";
}
.mbi-github:before {
  content: "\f09b";
}
.mbi-credit-card:before {
  content: "\f09d";
}
.mbi-pinterest:before {
  content: "\f0d2";
}
.mbi-google-plus:before {
  content: "\f0d5";
}
.mbi-money:before {
  content: "\f0d6";
}
.mbi-linkedin:before {
  content: "\f0e1";
}
.mbi-youtube:before {
  content: "\f167";
}
.mbi-instagram:before {
  content: "\f16d";
}
.mbi-apple:before {
  content: "\f179";
}
.mbi-android:before {
  content: "\f17b";
}
.mbi-dribbble:before {
  content: "\f17d";
}
.mbi-skype:before {
  content: "\f17e";
}
.mbi-io-add:before {
  content: "\f2c7";
}
.mbi-io-done:before {
  content: "\f383";
}
.mbi-more-vertical:before {
  content: "\f397";
}
.mbi-io-remove:before {
  content: "\f2f4";
}
.mbi-ios-arrow-down:before {
  content: "\f3d0";
}
.mbi-ios-arrow-left:before {
  content: "\f3d2";
}
.mbi-ios-arrow-right:before {
  content: "\f3d3";
}
.mbi-ios-arrow-up:before {
  content: "\f3d8";
}
.mbi-checkmark-outline:before {
  content: "\f3fe";
}
.mbi-checkmark:before {
  content: "\f3ff";
}
.mbi-circle-filled:before {
  content: "\f400";
}
.mbi-circle-outline:before {
  content: "\f401";
}
.mbi-contact-outline:before {
  content: "\f419";
}
.mbi-star-outline:before {
  content: "\f4b2";
}
.mbi-star2:before {
  content: "\f4b3";
}
.mbi-load-c:before {
  content: "\f29c";
}
.mbi-social-rss:before {
  content: "\f23d";
}
