<app-header></app-header>

<div class="page container blog-page">
  <breadcrumbs [breadcrumbs]="[{ title: 'Блог' }]"></breadcrumbs>

  <h1 class="page__title blog-page__title">
    Блог
  </h1>

  <div class="blog-page__container">
    <div class="blog-page__toolbar">
      <blog-toolbar></blog-toolbar>
    </div>

    <div class="blog-page__content">
      <blog-posts-list></blog-posts-list>
    </div>
  </div>

  <recently-viewed-products></recently-viewed-products>

</div>

<app-footer></app-footer>
