<form class="form" [formGroup]="form" ngNativeValidate>

  <div class="form__control-container">
    <label class="form__label" for="firstName">{{ 'global.name' | translate }}</label>
    <div class="form__control">
      <input class="form__input"
             [class.form__input--invalid]="isControlInvalid('firstName')"
             formControlName="firstName"
             id="firstName"
             type="text"
             required
      >
    </div>
  </div>

  <div class="form__control-container">
    <label class="form__label" for="lastName">{{ 'global.last_name' | translate }}</label>
    <div class="form__control">
      <input class="form__input"
             [class.form__input--invalid]="isControlInvalid('lastName')"
             formControlName="lastName"
             id="lastName"
             type="text"
             required
      >
    </div>
  </div>

  <div class="form__control-container">
    <label class="form__label" for="email">Email</label>
    <div class="form__control">
      <input class="form__input"
             [class.form__input--invalid]="isControlInvalid('email')"
             formControlName="email"
             id="email"
             type="email"
             required
      >
    </div>
  </div>

  <div class="form__control-container">
    <label class="form__label" for="password">{{ 'global.password' | translate }}</label>
    <div class="form__control">
      <input class="form__input"
             [class.form__input--invalid]="isControlInvalid('password')"
             formControlName="password"
             id="password"
             type="password"
             required
      >
      <div class="form__input-error" *ngIf="isControlInvalid('password')">
        {{ 'global.password_should_consist_of' | translate }}
      </div>
    </div>
  </div>

  <div class="form__control-container">
    <label class="form__label" for="passwordConfirm">{{ 'registration_form.confirm_password' | translate }}</label>
    <div class="form__control">
      <input class="form__input"
             [class.form__input--invalid]="isControlInvalid('passwordConfirm')"
             formControlName="passwordConfirm"
             id="passwordConfirm"
             type="password"
      >
      <div class="form__input-error" *ngIf="isControlInvalid('passwordConfirm')">
        {{ 'global.passwords_dont_match' | translate }}
      </div>
    </div>
  </div>

  <div class="form__error" *ngIf="formError as error">
    {{ error }}
  </div>

  <button class="btn form__submit" [class.form__submit--loading]="isLoading" (click)="submit()" type="submit">
    {{ 'registration_form.to_sign_up' | translate }}
    <preloader class="form__submit-preloader" *ngIf="isLoading"></preloader>
  </button>

  <button class="form__switch-auth" (click)="switchToLogin()" type="button">{{ 'registration_form.have_account' | translate }}</button>

  <div class="form__delimiter">
    <div class="form__delimiter-text">{{ 'registration_form.or' | translate }}</div>
  </div>

  <auth-social class="form__social" (authSuccess)="socialAuthSuccess()"></auth-social>
</form>
