@import "variables";

.container {
  padding-top: 50px;
}

.related {
  margin: 20px 0 0;

  &__title {
    padding: 10px 0;
    background: #f4f4f4;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  &__carousel {
    margin: 20px 0 0;
  }
}

.carousel {
  position: relative;
  min-height: 200px;

  &__preloader {
    position: absolute;
    top: 70px;
    left: calc(50% - 40px);
  }

  &__arrow {
    position: absolute;
    top: 50%;
    padding: 10px 0;
    background: rgba(#fff, 0.4);
    transition: background 0.2s ease;
    font-size: 20px;
    z-index: 1;

    &:hover {
      background: rgba(#fff, 0.8);
    }
    &--prev {
      left: -8px;
    }

    &--next {
      right: -8px;
    }
  }

  &__items-container {
    overflow: hidden;
  }

  &__items {
    display: inline-flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.75s ease;
    backface-visibility: hidden;
  }

  &__item {
    box-sizing: border-box;
    padding: 15px 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: $borderColor;
    border-radius: 2px;
  }
}
