@import "variables";

.btn {
  padding: 10px 15px 9px;
  background: $action;
  border: 1px solid $action;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.2s ease;

  &:hover,
  &:active {
    color: $dark;
    background: darken($action, 3%);
  }
  &:active {
    background: darken($action, 5%);
  }

  &--transparent {
    background: transparent;

    &:hover {
      background: $primary;
    }
    &:active {
      background: $primary;
    }
  }

  &--default {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;

    &:hover {
      background: rgba($dark, 0.08);
    }
    &:active {
      background: rgba($dark, 0.12);
    }
  }

  &--small {
    padding: 8px 13px 7px;
    font-size: 14px;
    border-radius: 3px;
  }
}
