@import "variables";
@import "mixins";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.5);
  cursor: pointer;
  z-index: $zIndexModalOverlay;
  animation: fadeIn 0.3s ease;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background: #fff;
  z-index: $zIndexModal;
  animation: fadeIn 0.3s ease, slideIn 0.4s ease;

  @include respond-to($media_large) {
    right: auto;
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-width: 600px;
    max-height: 90vh;
    border-radius: 10px;
    overflow: hidden;
    animation: fadeIn 0.3s ease, slideInCentered 0.4s ease;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 13px 10px;
    background: #fff;
    border-bottom: 1px solid rgba($dark, 0.1);

    @include respond-to($media_medium) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include respond-to($media_large) {
      padding: 23px 35px 15px;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 600;

    @include respond-to($media_large) {
      font-size: 24px;
    }
  }

  &__close {
    font-size: 20px;
    transition: color 0.2s ease;

    @include respond-to($media_large) {
      position: absolute;
      top: 11px;
      right: 10px;
      padding: 10px;
      color: rgba($dark, 0.6);
      font-size: 24px;
    }

    &:hover {
      color: $dark;
    }
  }

  &__content {
    padding: 17px 13px 40px;
    overflow: auto;

    @include respond-to($media_medium) {
      padding: 20px 20px 40px;
    }

    @include respond-to($media_large) {
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 50px;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInCentered {
  from {
    transform: translate(-50%, -40%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
