@import "variables";
@import "mixins";

.top-menu {
  display: none;

  @include respond-to($media_large) {
    display: block;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__menu {
    min-width: 0;
    flex-grow: 2;
  }

  &__phones {
    flex-shrink: 0;
    min-width: 0;
  }
}

.header {
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;

  &__content {
    position: relative;
    padding: 10px 0;

    @include respond-to($media_medium) {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
    }

    @include respond-to($media_large) {
      flex-direction: row;
    }
  }

  &__logo {
    @include respond-to($media_medium) {
      width: 40%;
    }

    @include respond-to($media_large) {
      width: 25%;
    }
  }

  &__logo-img {
    display: block;
    width: 190px;
    margin: 0 auto;
  }

  &__logo-text {
    display: block;
    margin: 8px 0 0;
    text-align: center;
    font-size: 12px;

    @include respond-to($media_large) {
      font-size: 14px;
    }
  }

  &__toolbar {
    margin: 20px 0 0;

    @include respond-to($media_medium) {
      margin-top: 5px;
      width: 60%;
    }

    @include respond-to($media_large) {
      margin-top: 0;
      width: 75%;
      padding: 0 0 0 30px;
    }
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    flex-shrink: 0;
  }

  &__menu {
    padding: 0 10px;

    @include respond-to($media_large) {
      display: none;
    }
  }

  &__menu-icon {
    font-size: 30px;
  }

  &__search-bar {
    display: block;
    flex-grow: 2;

    @include respond-to($media_large) {
      flex-grow: 0;
      width: 66%;
      margin-right: auto;
    }
  }

  &__account {
    display: none;

    @include respond-to($media_large) {
      display: block;
    }
  }
}

.phones {
  overflow: hidden;
  max-height: 17px;

  &:hover {
    overflow: initial;
  }

  &__content {
    position: relative;
    top: -7px;
    padding: 4px 23px 8px 13px;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.7;
    z-index: 1;
  }

  &__phone {
    display: block;
    transition: all 0.2s ease;

    & + & {
      opacity: 0;
    }
  }

  &:hover &__content {
    box-shadow: 0 0 6px rgba($dark, 0.4);
  }
  &:hover &__phone {
    opacity: 1;
  }

  &__arrow {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 18px;
  }
}

.catalog-toggle {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 220px;
  z-index: 3;

  @include respond-to($media_large) {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    border-top: 2px solid $primary;
    opacity: 0;
    transition: opacity 0.15s ease;
  }
  &:hover::before {
    opacity: 1;
  }

  &--fixed::before {
    display: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
  }
  &--fixed &__btn {
    display: none;
  }

  &__btn-icon {
    font-size: 30px;
    font-weight: 600;
  }

  &__text {
    margin: 0 0 0 7px;
    font-size: 16px;
    font-weight: 600;
  }

  &__arrow {
    margin: 3px 0 0 12px;
    font-size: 16px;
  }

  &__menu {
    display: none;
    position: absolute;
    width: 300px;
    background: #fff;
    border: 1px solid #d3d3d3;
  }
  &:hover &__menu {
    display: block;
  }
  &--fixed &__menu {
    display: block;
    top: 30px;
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
}
