<service-menu class="service-menu" [storeReviewsCount]="storeReviewsCount"></service-menu>

<div class="header">
  <div class="container">
    <div class="header__content">

      <a class="header__logo" routerLink="/">
        <img class="header__logo-img" src="../../assets/images/logo.png" alt="Klondike">
        <span class="header__logo-text">Клондайк - товары для творчества!</span>
      </a>

      <div class="header__toolbar toolbar">
        <div class="toolbar__item toolbar__item--menu" (click)="openMenu()">
          <i class="toolbar__item-icon mbi mbi-menu"></i>
        </div>

        <search-bar class="toolbar__search-bar"></search-bar>

        <div class="toolbar__item">
          <i class="toolbar__item-icon mbi mbi-cart"></i>
        </div>

<!--        <div class="toolbar__item toolbar__item&#45;&#45;search" (click)="showSearchbar()">-->
<!--          <i class="toolbar__item-icon mbi mbi-magnifier"></i>-->
<!--        </div>-->
<!--        <div class="toolbar__item">-->
<!--          <i class="toolbar__item-icon mbi mbi-heart"></i>-->
<!--        </div>-->
<!--        <div class="toolbar__item">-->
<!--          <i class="toolbar__item-icon mbi mbi-user"></i>-->
<!--        </div>-->
      </div>

    </div>
  </div>
</div>


<header-sidebar [categories]="categories"></header-sidebar>
