<div class="top-menu">
  <div class="container">
    <div class="top-menu__content">
      <service-menu class="top-menu__menu"></service-menu>

      <div class="top-menu__phones phones">
        <div class="phones__content">
          <a class="phones__phone" href="tel:+380502627214">+38 (050) 26-27-214</a>
          <a class="phones__phone" href="tel:+380678811962">+38 (067) 88-11-962</a>
          <a class="phones__phone" href="tel:+380933444342">+38 (093) 34-44-342</a>
          <i class="mbi mbi-ios-arrow-down phones__arrow"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header">
  <div class="container">
    <div class="header__content">

      <a class="header__logo" routerLink="/">
        <img class="header__logo-img" src="../../assets/images/logo.png" alt="Klondike">
      </a>

      <div class="catalog-toggle" [class.catalog-toggle--fixed]="isCatalogFixed">
        <div class="catalog-toggle__btn">
          <i class="mbi mbi-menu catalog-toggle__btn-icon"></i>
          <div class="catalog-toggle__text">Каталог товаров</div>
          <i class="mbi mbi-ios-arrow-down catalog-toggle__arrow"></i>
        </div>

        <catalog-menu class="catalog-toggle__menu"
                      [ngClass]=" { 'catalog-toggle__menu--opened': isCatalogFixed,  'catalog-toggle__on-index-page': isOnIndexPage }"
                      [categories]="categories"
        ></catalog-menu>
      </div>

      <div class="fixed-container" [class.fixed-container--on-index]="isOnIndexPage">
        <div class="header__toolbar toolbar" [class.fixed]="isFixed" #toolbarRef>
          <div class="toolbar__menu" (click)="openMenu()">
            <i class="toolbar__menu-icon mbi mbi-menu"></i>
          </div>

         <search-bar class="toolbar__search-bar"></search-bar>

          <!--        <div class="toolbar__item">-->
          <!--          <i class="toolbar__item-icon mbi mbi-heart"></i>-->
          <!--        </div>-->
          <mini-cart class="toolbar__item toolbar__cart"></mini-cart>
          <mini-account class="toolbar__item toolbar__account"></mini-account>
        </div>
      </div>

    </div>
  </div>
</div>

<sidebar-menu [categories]="categories"></sidebar-menu>
