<service-menu class="service-menu"></service-menu>

<div class="header">
  <div class="container">
    <div class="header__content">

      <a class="header__logo" routerLink="/">
        <img class="header__logo-img" src="https://klondike.com.ua/media/logo/default/logo_1.png" alt="Klondike">
        <span class="header__logo-text">Клондайк - товары для творчества!</span>
      </a>

      <div class="header__search-bar search-bar" [class.search-bar--visible]="isSearchbarVisible">
        <div class="search-bar__overlay" (click)="hideSearchbar()">
          <i class="search-bar__close-icon mbi mbi-cross"></i>
        </div>

        <search-bar class="search-bar__content" (search)="onSearch($event)"></search-bar>
      </div>

      <div class="header__toolbar toolbar">
        <div class="toolbar__item toolbar__item--menu" (click)="openMenu()">
          <i class="toolbar__item-icon mbi mbi-menu"></i>
        </div>
        <div class="toolbar__item toolbar__item--search" (click)="showSearchbar()">
          <i class="toolbar__item-icon mbi mbi-magnifier"></i>
        </div>
        <div class="toolbar__item">
          <i class="toolbar__item-icon mbi mbi-heart"></i>
        </div>
        <div class="toolbar__item">
          <i class="toolbar__item-icon mbi mbi-cart"></i>
        </div>
        <div class="toolbar__item">
          <i class="toolbar__item-icon mbi mbi-user"></i>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="menu-overlay"
     [class.menu-overlay--visible]="isMenuOpened"
     (click)="closeMenu()"
>
  <div class="menu-overlay__close">
    <i class="menu-overlay__close-icon mbi mbi-arrow-left"></i>
  </div>
</div>

<div class="menu" [class.menu--visible]="isMenuOpened">
  <div class="menu__content">
    <a class="menu__logo" routerLink="/">
      <img class="menu__logo-img" src="https://klondike.com.ua/media/logo/default/logo_1.png" alt="Klondike">
    </a>

    <div class="menu__items">
      <a class="menu__link" routerLink="/">Золочение</a>
      <a class="menu__link" routerLink="/">Краски, патины, воски</a>
      <a class="menu__link" routerLink="/">Кисти</a>
      <a class="menu__link" routerLink="/">Лаки</a>
      <a class="menu__link" routerLink="/">Состаривание</a>
      <a class="menu__link" routerLink="/">Клеи</a>
      <a class="menu__link" routerLink="/">Пигменты</a>
      <a class="menu__link" routerLink="/">Инструменты и аксессуары</a>
    </div>

    <service-menu class="menu__service-menu" [vertical]="true"></service-menu>
  </div>
</div>
