@import "variables";
@import "mixins";

.top-menu {
  display: none;

  @include respond-to($media_large) {
    display: block;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__menu {
    min-width: 0;
    flex-grow: 2;
  }

  &__lang {
    margin: 0 10px 0 0;
  }

  &__phones {
    flex-shrink: 0;
    min-width: 0;
  }
}

.header {
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;

  &__content {
    position: relative;
    padding: 10px 0 20px;

    @include respond-to($media_medium) {
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
    }

    @include respond-to($media_large) {
      flex-direction: row;
    }
  }

  &__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond-to($media_medium) {
      display: initial;
      width: 40%;
    }

    @include respond-to($media_large) {
      width: 25%;
    }

    &:hover {
      color: $primary;
    }
  }

  &__logo-img {
    display: block;
    width: 120px;

    @include respond-to-less-than(375px) {
      margin-left: 14px;
    }

    @include respond-to($media_medium) {
      width: 190px;
      margin: 0 auto;
    }
  }

  &__logo-text {
    flex-shrink: 1;
    display: block;
    margin: 0;
    text-align: center;
    font-size: 12px;

    @include respond-to($media_medium) {
      margin: 8px 0 0;
    }

    @include respond-to($media_large) {
      font-size: 14px;
    }
  }

  &__toolbar {

    @include respond-to($media_medium) {
      margin-top: 5px;
      width: 59%;
    }

    @include respond-to($media_large) {
      margin-top: 0;
      width: 75%;
      padding: 0 0 0 30px;
    }
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0;

  @include respond-to($media_medium) {
    width: 100%;
    padding: initial;
  }

  &__item {
    flex-shrink: 0;
  }

  &__menu {
    padding: 0 10px;

    @include respond-to($media_large) {
      display: none;
    }
  }

  &__menu-icon {
    font-size: 30px;
  }

  &__search-bar {
    display: block;
    flex-grow: 2;

    @include respond-to($media_large) {
      margin-right: auto;
    }
  }

  &__account {
    display: none;

    @include respond-to($media_large) {
      display: block;
    }
  }
}

.fixed-container {
  height: 42px;
  margin: 2px 0 0;

  @include respond-to($media_medium) {
    width: 60%;
    height: auto;
    margin: 0;
    padding: 0 0 0 30px;
  }

  &--is-catalog {
    @include respond-to($media_medium) {
      width: 75%;
    }
  }
}

.fixed {
  @include respond-to-less-than($media_medium) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 8px;
    margin: 0;
    border-bottom: 1px solid rgba(233, 233, 233, 0.5);
    background-color: #ffffff;
    z-index: $zIndexFixedToolbar;
  }

  &--opened-search-bar {
    @include respond-to-less-than($media_medium) {
      z-index: $zIndexToolbarFixedWithOpenedSearchbar;
    }
  }
}

.phones {
  overflow: hidden;
  max-height: 17px;

  &:hover {
    overflow: initial;
  }

  &__content {
    position: relative;
    top: -7px;
    padding: 4px 23px 8px 13px;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.7;
    z-index: 1;
  }

  &__phone {
    display: block;
    transition: all 0.2s ease;

    &:hover {
      color: $primary;
    }

    & + & {
      opacity: 0;
    }
  }

  &:hover &__content {
    box-shadow: 0 0 6px rgba($dark, 0.4);
  }
  &:hover &__phone {
    opacity: 1;
  }

  &__arrow {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 18px;
  }
}

.catalog-toggle {
  display: none;
  width: 220px;
  z-index: 3;

  @include respond-to($media_large) {
    width: 16%;
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    border-top: 2px solid $primary;
    opacity: 0;
    transition: opacity 0.15s ease;
  }
  &:hover::before {
    opacity: 1;
  }

  &--is-catalog {
    width: auto;
  }

  &--is-catalog::before {
    display: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
  }
  &--is-catalog &__btn {
    display: none;
  }

  &__btn-icon {
    font-size: 30px;
    font-weight: 600;
  }

  &__text {
    margin: 0 0 0 7px;
    font-size: 16px;
    font-weight: 600;
  }

  &__arrow {
    margin: 3px 0 0 7px;
    font-size: 16px;
  }

  &__menu {
    display: none;
    position: absolute;
    width: 300px;
    background: #fff;
    border: 1px solid #d3d3d3;

    &--is-catalog {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      border: none;
      border-right: 1px solid $borderColor;
      border-top: 1px solid $borderColor;
    }
  }
  &:hover &__menu {
    display: block;
  }
}
