<div class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__block contacts">
        <div class="contacts__title">Контакты</div>

        <ul class="contacts__phones">
          <li class="contacts__phone-container">
            <a class="contacts__phone" href="tel:+380502627214">+38 (050) 26-27-214</a>
          </li>
          <li class="contacts__phone-container">
            <a class="contacts__phone" href="tel:+380678811962">+38 (067) 88-11-962</a>
          </li>
          <li class="contacts__phone-container">
            <a class="contacts__phone" href="tel:+380933444342">+38 (093) 34-44-342</a>
          </li>
        </ul>

        <a class="contacts__email" href="mailto:info@klondike.com.ua">info@klondike.com.ua</a>
      </div>

      <div class="footer__block menu">
        <ul class="menu__links">
          <li class="menu__link-container">
            <a class="menu__link" routerLink="/">Скидки</a>
          </li>
          <li class="menu__link-container">
            <a class="menu__link" routerLink="/">Доставка и оплата</a>
          </li>
          <li class="menu__link-container">
            <a class="menu__link" routerLink="/">Возврат и обмен товара</a>
          </li>
          <li class="menu__link-container">
            <a class="menu__link" routerLink="/">Политика конфиденциальности</a>
          </li>
        </ul>
      </div>

      <div class="footer__block methods">
        <img class="methods__item" src="https://klondike.com.ua/media/wysiwyg/Mastercard-logo.png" alt="Mastercard">
        <img class="methods__item" src="https://klondike.com.ua/media/wysiwyg/Visa-Logo-Free-Download-PNG.png" alt="Visa">
      </div>
    </div>
  </div>
</div>
