<form class="form"
      *ngIf="addressForm"
      [formGroup]="addressForm"
      novalidate
>

  <div class="form__control-container"
       *ngIf="addressForm.get('lastName') as lastName"
       [class.field--invalid]="isControlInvalid(lastName)"
  >
    <label for="addr-lastName" class="form__label">Фамилия</label>
    <div class="form__control">
      <input class="form__input" [formControl]="lastName" type="text" id="addr-lastName">

      <div class="form__input-error" *ngIf="isControlInvalid(lastName)">
        Это обязательное поле
      </div>
    </div>
  </div>

  <div class="form__control-container"
       *ngIf="addressForm.get('firstName') as firstName"
       [class.field--invalid]="isControlInvalid(firstName)"
  >
    <label for="addr-firstName" class="form__label">Имя</label>
    <div class="form__control">
      <input class="form__input" [formControl]="firstName" type="text" id="addr-firstName">

      <div class="form__input-error" *ngIf="isControlInvalid(firstName)">
        Это обязательное поле
      </div>
    </div>
  </div>

  <div class="form__control-container"
       *ngIf="addressForm.get('middleName') as middleName"
       [class.field--invalid]="isControlInvalid(middleName)"
  >
    <label for="addr-middleName" class="form__label">Отчество</label>
    <div class="form__control">
      <input class="form__input" [formControl]="middleName" type="text" id="addr-middleName">

      <div class="form__input-error" *ngIf="isControlInvalid(middleName)">
        Это обязательное поле
      </div>
    </div>
  </div>

  <div class="form__control-container"
       *ngIf="addressForm.get('phone') as phone"
       [class.field--invalid]="isControlInvalid(phone)"
  >
    <label for="addr-phone" class="form__label">Телефон</label>
    <div class="form__control">
      <input class="form__input"
             [formControl]="phone"
             mask="+00 (000) 000-00-00-00000000000"
             inputmode="tel"
             type="text"
             id="addr-phone"
      >

      <div class="form__input-error" *ngIf="isControlInvalid(phone)">
        Это обязательное поле
      </div>
    </div>
  </div>

  <div class="form__control-container"
       *ngIf="addressForm.get('addressType') as addressTypeControl"
       [class.field--invalid]="isControlInvalid(addressTypeControl)"
  >
    <label class="form__label">Тип доставки <span class="address-type">Новой Почтой</span></label>
    <label class="form__control form__control--radio" *ngFor="let addressType of addressTypes">
      <input class="form__radio-input"
             [value]="addressType"
             [formControl]="addressTypeControl"
             name="address-type"
             type="radio"
      >

      <i class="mbi form__radio-icon"
         [ngClass]="{
           'mbi-checkmark-outline': addressTypeControl.value === addressType,
           'mbi-circle-outline': addressTypeControl.value !== addressType
         }"
      ></i>

      <span [ngSwitch]="addressType">
        <ng-container *ngSwitchCase="addressTypeEnum.WAREHOUSE">В отделение</ng-container>
        <ng-container *ngSwitchCase="addressTypeEnum.DOORS">Адресная</ng-container>

        <span class="shipment-payer" *ngIf="shipmentPayerMap" [ngSwitch]="shipmentPayerMap.get(addressType)">
          <ng-container *ngSwitchCase="shipmentPayerEnum.RECIPIENT">(оплачивается получателем)</ng-container>
          <ng-container *ngSwitchCase="shipmentPayerEnum.SENDER">(бесплатно)</ng-container>
        </span>
      </span>
    </label>
  </div>

  <div class="form__control-container" *ngIf="addressForm.get('settlement') as settlementControl">
    <label class="form__label">Город</label>
    <div class="form__control">
      <select-autocomplete type="settlement"
                           [activeOptionLabel]="settlementControl.value"
                           (select)="onSettlementSelect($event)"
      ></select-autocomplete>

      <div class="form__input-error" *ngIf="isControlInvalid(settlementControl)">
        Это обязательное поле
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="addressForm.get('addressType').value">

    <ng-container *ngSwitchCase="addressTypeEnum.WAREHOUSE">

      <div class="form__control-container"
           *ngIf="addressForm.get('address') as addressControl"
           [class.field--invalid]="isControlInvalid(addressControl)"
      >
        <label class="form__label">Отделение</label>
        <div class="form__control">
          <select-autocomplete type="warehouse"
                               [settlementId]="settlementIdControl.value"
                               [isDisabled]="!settlementIdControl.value"
                               [activeOptionLabel]="addressControl.value"
                               (select)="onWarehouseSelect($event)"
          ></select-autocomplete>

          <div class="form__input-error" *ngIf="isControlInvalid(addressControl)">
            Это обязательное поле
          </div>
        </div>
      </div>

    </ng-container>

    <ng-container *ngSwitchCase="addressTypeEnum.DOORS">

      <div class="form__control-container"
           *ngIf="addressForm.get('address') as addressControl"
           [class.field--invalid]="isControlInvalid(addressControl)"
      >
        <label class="form__label">Улица</label>
        <div class="form__control">
          <select-autocomplete type="street"
                               [settlementId]="settlementIdControl.value"
                               [isDisabled]="!settlementIdControl.value"
                               [activeOptionLabel]="addressControl.value"
                               (select)="onStreetSelect($event)"
          ></select-autocomplete>

          <div class="form__input-error" *ngIf="isControlInvalid(addressControl)">
            Это обязательное поле
          </div>
        </div>
      </div>

      <div class="form__control-container"
           *ngIf="addressForm.get('buildingNumber') as buildingNumber"
           [class.field--invalid]="isOptionalControlInvalid('buildingNumber')"
      >
        <label for="addr-buildingNumber" class="form__label">Номер дома</label>
        <div class="form__control">
          <input class="form__input" [formControl]="buildingNumber" type="text" id="addr-buildingNumber">

          <div class="form__input-error" *ngIf="isOptionalControlInvalid('buildingNumber')">
            Это обязательное поле
          </div>
        </div>
      </div>

      <div class="form__control-container"
           *ngIf="addressForm.get('flat') as flat"
           [class.field--invalid]="isOptionalControlInvalid('flat')"
      >
        <label for="addr-flat" class="form__label">Квартира</label>
        <div class="form__control">
          <input class="form__input" [formControl]="flat" type="text" id="addr-flat">
        </div>
      </div>

    </ng-container>
  </ng-container>

  <div class="form__control-container is-default"
       *ngIf="showIsDefault && addressForm.get('isDefault') as isDefault"
  >
    <label class="form__label" for="addr-isDefault">Установить по умолчанию?</label>
    <input class="is-default__input"
           [formControl]="isDefault"
           id="addr-isDefault"
           type="checkbox"
    >
  </div>


</form>
