@import "variables";

.is-default {
  cursor: pointer;

  &__input {
    margin: 0 0 0 4px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }
}

.address-type {
  font-weight: 700;
}

.shipment-payer {
  margin: 0 0 0 4px;
}

.capitalize {
  text-transform: capitalize;
}
