<form class="form"
      *ngIf="addressForm"
      [formGroup]="addressForm"
      novalidate
>

  <div class="form__control-container"
       *ngIf="addressForm.get('lastName') as lastName"
       [class.field--invalid]="isControlInvalid(lastName)"
  >
    <label for="addr-lastName" class="form__label">{{ 'global.last_name' | translate }}</label>
    <div class="form__control">
      <input class="form__input" [formControl]="lastName" type="text" id="addr-lastName" inputCapitalize>

      <div class="form__input-error" *ngIf="isControlInvalid(lastName)">
        {{ 'address_form.required_field' | translate }}
      </div>
    </div>
  </div>

  <div class="form__control-container"
       *ngIf="addressForm.get('firstName') as firstName"
       [class.field--invalid]="isControlInvalid(firstName)"
  >
    <label for="addr-firstName" class="form__label">{{ 'global.name' | translate }}</label>
    <div class="form__control">
      <input class="form__input" [formControl]="firstName" type="text" id="addr-firstName" inputCapitalize>

      <div class="form__input-error" *ngIf="isControlInvalid(firstName)">
        {{ 'address_form.required_field' | translate }}
      </div>
    </div>
  </div>

  <div class="form__control-container"
       *ngIf="addressForm.get('middleName') as middleName"
       [class.field--invalid]="isControlInvalid(middleName)"
  >
    <label for="addr-middleName" class="form__label">{{ 'global.parent_name' | translate }}</label>
    <div class="form__control">
      <input class="form__input" [formControl]="middleName" type="text" id="addr-middleName" inputCapitalize>

      <div class="form__input-error" *ngIf="isControlInvalid(middleName)">
        {{ 'address_form.required_field' | translate }}
      </div>
    </div>
  </div>

  <div class="form__control-container"
       *ngIf="addressForm.get('phone') as phone"
       [class.field--invalid]="isControlInvalid(phone)"
  >
    <label for="addr-phone" class="form__label">{{ 'address_form.phone' | translate }}</label>
    <div class="form__control">
      <input class="form__input"
             [formControl]="phone"
             mask="+00 (000) 000-00-00-00000000000"
             inputmode="tel"
             type="text"
             id="addr-phone"
      >

      <div class="form__input-error" *ngIf="isControlInvalid(phone)">
        {{ 'address_form.required_field' | translate }}
      </div>
    </div>
  </div>

  <div class="form__control-container"
       *ngIf="addressForm.get('addressType') as addressTypeControl"
       [class.field--invalid]="isControlInvalid(addressTypeControl)"
  >
    <label class="form__label">{{ 'address_form.shipment_type' | translate }} <span class="address-type">{{ 'address_form.by_nova_poshta' | translate }}</span></label>
    <label class="form__control form__control--radio" *ngFor="let addressType of addressTypes">
      <input class="form__radio-input"
             [value]="addressType"
             [formControl]="addressTypeControl"
             name="address-type"
             type="radio"
      >

      <i class="mbi form__radio-icon"
         [ngClass]="{
           'form__radio-icon--checked form__radio-icon--checked:before': addressTypeControl.value === addressType,
           'form__radio-icon--unchecked': addressTypeControl.value !== addressType
         }"
      ></i>

      <span [ngSwitch]="addressType">
        <ng-container *ngSwitchCase="addressTypeEnum.WAREHOUSE">{{ 'address_form.to_warehouse' | translate }}</ng-container>
        <ng-container *ngSwitchCase="addressTypeEnum.DOORS">{{ 'address_form.to_address' | translate }}</ng-container>

        <span class="shipment-payer" *ngIf="shipmentPayerMap" [ngSwitch]="shipmentPayerMap.get(addressType)">
          <ng-container *ngSwitchCase="shipmentPayerEnum.RECIPIENT">{{ 'address_form.recipient_payer' | translate }}</ng-container>
          <ng-container *ngSwitchCase="shipmentPayerEnum.SENDER">{{ 'address_form.sender_payer' | translate }}</ng-container>
        </span>
      </span>
    </label>
  </div>

  <div class="form__control-container" *ngIf="addressForm.get('settlementFull') as settlementFullControl">
    <label class="form__label">{{ 'address_form.settlement' | translate }}</label>
    <div class="form__control">
      <select-autocomplete type="settlement"
                           [activeOptionLabel]="settlementFullControl.value"
                           (select)="onSettlementSelect($event)"
      ></select-autocomplete>

      <div class="form__input-error" *ngIf="isControlInvalid(settlementFullControl)">
        {{ 'address_form.required_field' | translate }}
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="addressForm.get('addressType').value">

    <ng-container *ngSwitchCase="addressTypeEnum.WAREHOUSE">

      <div class="form__control-container"
           *ngIf="addressForm.get('addressFull') as addressFullControl"
           [class.field--invalid]="isControlInvalid(addressFullControl)"
      >
        <label class="form__label">{{ 'address_form.warehouse' | translate }}</label>
        <div class="form__control">
          <select-autocomplete type="warehouse"
                               [settlementId]="settlementIdControl.value"
                               [isDisabled]="!settlementIdControl.value"
                               [activeOptionLabel]="addressFullControl.value"
                               (select)="onWarehouseSelect($event)"
          ></select-autocomplete>

          <div class="form__input-error" *ngIf="isControlInvalid(addressFullControl)">
            {{ 'address_form.required_field' | translate }}
          </div>
        </div>
      </div>

    </ng-container>

    <ng-container *ngSwitchCase="addressTypeEnum.DOORS">

      <div class="form__control-container"
           *ngIf="addressForm.get('addressFull') as addressFullControl"
           [class.field--invalid]="isControlInvalid(addressFullControl)"
      >
        <label class="form__label">{{ 'address_form.street' | translate }}</label>
        <div class="form__control">
          <select-autocomplete type="street"
                               [settlementId]="settlementIdControl.value"
                               [isDisabled]="!settlementIdControl.value"
                               [activeOptionLabel]="addressFullControl.value"
                               (select)="onStreetSelect($event)"
          ></select-autocomplete>

          <div class="form__input-error" *ngIf="isControlInvalid(addressFullControl)">
            {{ 'address_form.required_field' | translate }}
          </div>
        </div>
      </div>

      <div class="form__control-container"
           *ngIf="addressForm.get('buildingNumber') as buildingNumber"
           [class.field--invalid]="isOptionalControlInvalid('buildingNumber')"
      >
        <label for="addr-buildingNumber" class="form__label">{{ 'address_form.building_number' | translate }}</label>
        <div class="form__control">
          <input class="form__input" [formControl]="buildingNumber" type="text" id="addr-buildingNumber">

          <div class="form__input-error" *ngIf="isOptionalControlInvalid('buildingNumber')">
            {{ 'address_form.required_field' | translate }}
          </div>
        </div>
      </div>

      <div class="form__control-container"
           *ngIf="addressForm.get('flat') as flat"
           [class.field--invalid]="isOptionalControlInvalid('flat')"
      >
        <label for="addr-flat" class="form__label">{{ 'address_form.flat' | translate }}</label>
        <div class="form__control">
          <input class="form__input" [formControl]="flat" type="text" id="addr-flat">
        </div>
      </div>

    </ng-container>
  </ng-container>

  <div class="form__control-container is-default"
       *ngIf="showIsDefault && addressForm.get('isDefault') as isDefault"
  >
    <label class="form__label" for="addr-isDefault">{{ 'address_form.set_default' | translate }}</label>
    <input class="is-default__input"
           [formControl]="isDefault"
           id="addr-isDefault"
           type="checkbox"
    >
  </div>


</form>
