<ng-container *ngIf="announcement">
  <div class="announcement" #announcementRef>
    <ng-container *ngIf="type === 'winterHolidays'">
      <div class="snowflakes">
        <div class="snowflake">
          ❅
        </div>
        <div class="snowflake">
          ❅
        </div>
        <div class="snowflake">
          ❅
        </div>
        <div class="snowflake">
          ❅
        </div>
        <div class="snowflake">
          ❅
        </div>
        <div class="snowflake">
          ❅
        </div>
        <div class="snowflake">
          ❅
        </div>
        <div class="snowflake">
          ❅
        </div>
        <div class="snowflake">
          ❅
        </div>
        <div class="snowflake">
          ❅
        </div>
      </div>
    </ng-container>
    <p class="announcement__text">{{ announcement.announcement }}</p>
  </div>
</ng-container>
