<div class="service-menu"
     [ngClass]="{
       'service-menu--horizontal': layout === 'horizontal',
       'service-menu--vertical': layout === 'vertical'
     }"
>
  <div class="service-menu__content">

    <ng-container *ngIf="layout === 'vertical'">
      <a class="service-menu__link"
         *ngIf="isLoggedIn; else notLoggedTmpl"
         [routerLink]="['/', 'account']"
      >
        Мой кабинет
      </a>

      <ng-template #notLoggedTmpl>
        <button class="service-menu__link main-link" (click)="onLoginClick()">
          Войти в кабинет
        </button>
      </ng-template>
      <a class="service-menu__link main-link" *ngIf="false" [routerLink]="['/', 'account', 'wishlist']">Мои желания</a>
    </ng-container>

    <a class="service-menu__link main-link" routerLink="/skidki">Скидки</a>
    <a class="service-menu__link main-link" routerLink="/dostavka-i-oplata">Доставка и оплата</a>
    <a class="service-menu__link main-link" routerLink="/vozvrat-tovara">Возврат и обмен</a>
    <a class="service-menu__link main-link" *ngIf="isInFooter" routerLink="/politika-konfidencialnosti">Политика конфиденциальности</a>
    <a class="service-menu__link main-link" routerLink="/contacts">Контакты</a>
    <a class="service-menu__link main-link" routerLink="/blog">Блог</a>
    <a class="service-menu__link main-link" routerLink="/otzyvy">
      Отзывы о нас
      <span class="service-menu__count" *ngIf="storeReviewsCount"> ({{ storeReviewsCount }})</span>
    </a>
  </div>
</div>
