@import "src/assets/styles/abstracts/variables";
@import "src/assets/styles/abstracts/mixins";

.service-menu {
  $menu: &;

  &--horizontal &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--vertical &__content {
    display: inline-block;
  }

  &__link {
    font-size: 15px;
    cursor: pointer;

    @include respond-to($media_medium) {
      font-size: 13px;
    }

    #{$menu}--horizontal & {
      @include respond-to($media_large) {
        padding: 12px 5px;
      }

      @include respond-to(1110px) {
        padding: 12px 10px;
      }

      @include respond-to($media_x-large) {
        padding: 12px 20px;
      }
    }
    #{$menu}--vertical & {
      display: block;
      padding: 8px 15px;
    }
  }

  &__count {
    font-weight: 600;
  }
}
