@import "src/assets/styles/abstracts/variables";
@import "src/assets/styles/abstracts/mixins";

.service-menu {
  $menu: &;

  &--horizontal &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    font-size: 13px;
    transition: all 0.2s ease;

    &:hover {
      color: $primary;
    }

    #{$menu}--horizontal & {
      padding: 12px 25px;
    }
    #{$menu}--vertical & {
      display: block;
      padding: 8px 15px;
    }
  }

  &__count {
    font-weight: 600;
  }
}
