<div class="info">
  <h3 class="info__title">
    {{ 'account_customer_info.contacts' | translate }}
  </h3>

  <div class="info__content">

    <div class="info__form-message info__form-message--success" *ngIf="formSuccess as successMessage">
      {{ successMessage }}
    </div>

    <div class="info__form-message info__form-message--error" *ngIf="formError as error">
      {{ error }}
    </div>

    <ng-container *ngIf="!infoForm && !passwordForm">
      <div class="info__row">
        {{ customer.contactInfo.firstName }} {{ customer.contactInfo.lastName }}
      </div>

      <div class="info__row">
        {{ customer.contactInfo.email }}
      </div>

      <div class="info__row" *ngIf="customer.contactInfo.phoneNumber as phone">
        {{ phone | mask: '+00 (000) 000-00-00-00000000000' }}
      </div>

      <div class="info__btn-container">
        <button class="btn btn--small btn--default info__btn" (click)="openInfoForm()" type="button">{{ 'account_customer_info.edit' | translate }}</button>
      </div>
      <div class="info__btn-container">
        <button class="btn btn--small btn--default info__btn" (click)="openPasswordForm()" type="button">{{ 'global.change_password' | translate }}</button>
      </div>
    </ng-container>

    <div class="form info-form" *ngIf="infoForm">

      <contact-info [contactInfo]="customer.contactInfo"></contact-info>

      <button class="btn form__submit" [class.form__submit--loading]="isLoading" (click)="onInfoFormSubmit()">
        {{ 'global.save' | translate }}

        <preloader class="form__submit-preloader" *ngIf="isLoading"></preloader>
      </button>

      <button class="btn btn--default info-form__cancel" (click)="closeForms()" type="button">{{ 'global.cancel' | translate }}</button>
    </div>

    <form class="form info-form"
          *ngIf="passwordForm"
          [formGroup]="passwordForm"
          (ngSubmit)="onPasswordFormSubmit()"
          ngNativeValidate
    >

      <div class="form__control-container">
        <label class="form__label" for="currentPassword">{{ 'account_customer_info.old_password' | translate }}</label>
        <input class="form__input"
               [class.form__input--invalid]="isControlInvalid(passwordForm, 'currentPassword')"
               formControlName="currentPassword"
               id="currentPassword"
               type="password"
               required
        >
      </div>

      <div class="form__control-container">
        <label class="form__label" for="newPassword">{{ 'global.new_password' | translate }}</label>
        <input class="form__input"
               [class.form__input--invalid]="isControlInvalid(passwordForm, 'newPassword')"
               formControlName="newPassword"
               id="newPassword"
               type="password"
               required
        >
        <div class="form__input-error" *ngIf="isControlInvalid(passwordForm, 'newPassword')">
          {{ 'global.password_should_consist_of' | translate }}
        </div>
      </div>

      <div class="form__control-container">
        <label class="form__label" for="newPasswordConfirm">{{ 'global.repeat_new_password' | translate }}</label>
        <input class="form__input"
               [class.form__input--invalid]="isControlInvalid(passwordForm, 'newPasswordConfirm')"
               formControlName="newPasswordConfirm"
               id="newPasswordConfirm"
               type="password"
        >
        <div class="form__input-error" *ngIf="isControlInvalid(passwordForm, 'newPasswordConfirm')">
          {{ 'global.passwords_dont_match' | translate }}
        </div>
      </div>

      <button class="btn form__submit" [class.form__submit--loading]="isLoading" type="submit">
        {{ 'global.save' | translate }}

        <preloader class="form__submit-preloader" *ngIf="isLoading"></preloader>
      </button>

      <button class="btn btn--default info-form__cancel" (click)="closeForms()" type="button">{{ 'global.cancel' | translate }}</button>
    </form>
  </div>


</div>
