<div class="info">
  <h3 class="info__title">
    Контактная информация
  </h3>

  <div class="info__content">

    <div class="info__form-message info__form-message--success" *ngIf="formSuccess as successMessage">
      {{ successMessage }}
    </div>

    <div class="info__form-message info__form-message--error" *ngIf="formError as error">
      {{ error }}
    </div>

    <ng-container *ngIf="!infoForm && !passwordForm">
      <div class="info__row">
        {{ customer.firstName }} {{ customer.lastName }}
      </div>

      <div class="info__row">
        {{ customer.email }}
      </div>

      <div class="info__row" *ngIf="customer.phoneNumber as phone">
        {{ phone }}
      </div>

      <div class="info__btn-container">
        <button class="btn btn--small btn--default info__btn" (click)="openInfoForm()" type="button">Редактировать</button>
      </div>
      <div class="info__btn-container">
        <button class="btn btn--small btn--default info__btn" (click)="openPasswordForm()" type="button">Сменить пароль</button>
      </div>
    </ng-container>

    <form class="auth-form info-form" *ngIf="infoForm"
          [formGroup]="infoForm"
          (ngSubmit)="onInfoFormSubmit()"
          ngNativeValidate
    >

      <div class="auth-form__control">
        <label for="firstName" class="auth-form__label">Имя</label>
        <input class="auth-form__input"
               [class.auth-form__input--invalid]="isControlInvalid(infoForm, 'firstName')"
               formControlName="firstName"
               id="firstName"
               type="text"
               required
        >
      </div>

      <div class="auth-form__control">
        <label for="lastName" class="auth-form__label">Фамилия</label>
        <input class="auth-form__input"
               [class.auth-form__input--invalid]="isControlInvalid(infoForm, 'lastName')"
               formControlName="lastName"
               id="lastName"
               type="text"
               required
        >
      </div>

      <div class="auth-form__control">
        <label for="email" class="auth-form__label">Email</label>
        <input class="auth-form__input"
               [class.auth-form__input--invalid]="isControlInvalid(infoForm, 'email')"
               formControlName="email"
               id="email"
               type="email"
               required
        >
      </div>

      <button class="btn auth-form__submit" [class.auth-form__submit--loading]="isLoading" type="submit">
        Сохранить

        <preloader class="auth-form__submit-preloader" *ngIf="isLoading"></preloader>
      </button>

      <button class="btn btn--default info-form__cancel" (click)="closeForms()" type="button">Отменить</button>
    </form>

    <form class="auth-form info-form"
          *ngIf="passwordForm"
          [formGroup]="passwordForm"
          (ngSubmit)="onPasswordFormSubmit()"
          ngNativeValidate
    >

      <div class="auth-form__control">
        <label class="auth-form__label" for="currentPassword">Старый пароль</label>
        <input class="auth-form__input"
               [class.auth-form__input--invalid]="isControlInvalid(passwordForm, 'currentPassword')"
               formControlName="currentPassword"
               id="currentPassword"
               type="password"
               required
        >
      </div>

      <div class="auth-form__control">
        <label class="auth-form__label" for="newPassword">Новый пароль</label>
        <input class="auth-form__input"
               [class.auth-form__input--invalid]="isControlInvalid(passwordForm, 'newPassword')"
               formControlName="newPassword"
               id="newPassword"
               type="password"
               required
        >
        <div class="auth-form__input-error" *ngIf="isControlInvalid(passwordForm, 'newPassword')">
          Пароль должен быть не менее 6 символов, состоять из цифр и латинских букв, в том числе заглавных
        </div>
      </div>

      <div class="auth-form__control">
        <label class="auth-form__label" for="newPasswordConfirm">Повторите новый пароль</label>
        <input class="auth-form__input"
               [class.auth-form__input--invalid]="isControlInvalid(passwordForm, 'newPasswordConfirm')"
               formControlName="newPasswordConfirm"
               id="newPasswordConfirm"
               type="password"
        >
        <div class="auth-form__input-error" *ngIf="isControlInvalid(passwordForm, 'newPasswordConfirm')">
          Пароли не совпадают
        </div>
      </div>

      <button class="btn auth-form__submit" [class.auth-form__submit--loading]="isLoading" type="submit">
        Сохранить

        <preloader class="auth-form__submit-preloader" *ngIf="isLoading"></preloader>
      </button>

      <button class="btn btn--default info-form__cancel" (click)="closeForms()" type="button">Отменить</button>
    </form>
  </div>


</div>
