<app-header></app-header>

<div class="page container not-found">
  <breadcrumbs [breadcrumbs]="[{ title: 'global.contacts' | translate }]"></breadcrumbs>

  <h1 class="page__title">{{ 'global.contacts' | translate }}</h1>

  <div class="page__content info-page">
    <p>{{ 'contacts_page.info' | translate }}</p>
    <br>
    <p><a class="main-link" href="tel:+380502627214">+38 (050) 26-27-214</a> {{ 'contacts_page.elena_desc' | translate }} ({{ 'contacts_page.has_viber' | translate }})</p>
    <p><a class="main-link" href="tel:+380678811962">+38 (067) 88-11-962</a> {{ 'contacts_page.elena_desc' | translate }}</p>
    <p><a class="main-link" href="tel:+380933444342">+38 (093) 34-44-342</a> {{ 'contacts_page.kristina_desc' | translate }} ({{ 'contacts_page.has_viber_telegram' | translate }})</p>
    <p><a class="main-link" href="mailto:info@klondike.com.ua">info@klondike.com.ua</a></p>
    <p><a class="main-link" href="https://www.instagram.com/klondike.com.ua">instagram.com/klondike.com.ua</a></p>
    <p><a class="main-link" href="https://www.facebook.com/klondike.com.ua">facebook.com/klondike.com.ua</a></p>
    <br>
    <p>Інтернет-магазин "Клондайк", Україна</p>
    <p>ФОП Малікова</p>
    <p>ЄДРПОУ 2405506444</p>
  </div>

  <recently-viewed-products></recently-viewed-products>

</div>

<app-footer></app-footer>
