<app-header></app-header>

<div class="page container not-found">
  <breadcrumbs [breadcrumbs]="[{ title: 'Контакты' }]"></breadcrumbs>

  <h1 class="page__title">Контакты</h1>

  <div class="page__content info-page">
    <p>Заказы, принятые и оплаченные до 18-00, отправляются на следующий рабочий день Новой почты.</p>
    <p>Заказы, принятые и оплаченные в выходные дни, отправляются в понедельник утром.</p>
    <br>
    <p>Заказы по телефону принимаются с понедельника по субботу с 9:00 до 18:00.</p>
    <p>Вы можете в любое время оставить заказ через корзину на сайте.</p>
    <br>
    <p><a href="tel:+380502627214">+38 (050) 26-27-214</a> (на этом номере доступен Viber/Telegram)</p>
    <p><a href="tel:+380678811962">+38 (067) 88-11-962</a></p>
    <p><a href="tel:+380933444342">+38 (093) 34-44-342</a></p>
    <p><a href="mailto:info@klondike.com.ua">info@klondike.com.ua</a></p>
    <br>
    <p>Інтернет-магазин "Клондайк", Україна</p>
    <p>ФОП Малікова</p>
    <p>ЄДРПОУ 2405506444</p>
  </div>

  <recently-viewed-products></recently-viewed-products>
</div>

<app-footer></app-footer>
