<form class="form login-form" [formGroup]="form" ngNativeValidate>

  <div class="form__control-container">
    <label class="form__label" for="login">{{ 'login_form.email_or_phone' | translate }}</label>
    <div class="form__control">
      <input class="form__input"
             [class.form__input--invalid]="isControlInvalid('login')"
             formControlName="login"
             id="login"
             type="text"
             required
      >
    </div>
  </div>

  <div class="form__control-container" *ngIf="state === 'login'">
    <label class="form__label" for="password">{{ 'global.password' | translate }}</label>
    <div class="form__control">
      <input class="form__input"
             [class.form__input--invalid]="isControlInvalid('password')"
             formControlName="password"
             id="password"
             type="password"
      >
    </div>
  </div>

  <div class="login-form__reset-sent" *ngIf="state === 'reset' && isResetEmailSent">
    {{ 'login_form.reset_email_sent' | translate }}
  </div>

  <div class="form__error" *ngIf="formError as error">
    {{ error }}
  </div>

  <button class="form__switch-auth login-form__toggle-state" (click)="toggleState()" type="button">
    <ng-container *ngIf="state === 'login'">{{ 'login_form.forgot_password' | translate }}</ng-container>
    <ng-container *ngIf="state === 'reset'">{{ 'login_form.email_or_phone' | translate }}</ng-container>
  </button>

  <button class="btn form__submit" [class.form__submit--loading]="isLoading" (click)="submit()" type="submit">
    <ng-container *ngIf="state === 'login'">{{ 'global.to_login' | translate }}</ng-container>
    <ng-container *ngIf="state === 'reset'">Восстановить пароль</ng-container>

    <preloader class="form__submit-preloader" *ngIf="isLoading"></preloader>
  </button>

  <button class="form__switch-auth" (click)="switchToRegister()" type="button">Создать новый аккаунт</button>

  <div class="form__delimiter">
    <div class="form__delimiter-text">или</div>
  </div>

  <auth-social class="form__social" (authSuccess)="socialAuthFinish()"></auth-social>
</form>
