@import "variables";
@import "mixins";

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  font-size: 15px;
  line-height: 1.375;

  &__item {
    position: relative;
    margin: 4px 17px 0 0;

    &:not(:last-child)::after {
      display: inline-block;
      margin: 10px 0 2px 10px;
      padding: 3px;
       border: solid #aaa;
      border-width: 0 1px 1px 0;
      content: '';      
      vertical-align: top;  
      transform: rotate(-45deg);
    }

    &:first-child::after {
      margin-top: 13px;
    }

    &--big {
      font-size: 17px;

      @include respond-to($media_medium) {
        font-size: 20px;
      }
    }
  }

  &__home {
    position: relative;
    top: 2px;
    width: 22px;
    fill: $linkMain;

    @include respond-to($media_medium) {
      width: 25px;
    }

    &:hover {
      @include respond-to($media_large) {
        fill: $linkMainHover;
        transition: 0.2s ease-in;
      }
    }
  }
}
