<div [innerHTML]="jsonLd"></div>

<ul class="breadcrumbs">
  <li class="breadcrumbs__item">
    <a class="breadcrumbs__link" routerLink="/">
      Главная
    </a>
  </li>

  <li class="breadcrumbs__item" *ngFor="let breadcrumb of breadcrumbs">
    <a class="breadcrumbs__link"
       *ngIf="breadcrumb.link; else noLink"
       [routerLink]="['/', breadcrumb.link]"
    >
      {{ breadcrumb.title }}
    </a>

    <ng-template #noLink>
      {{ breadcrumb.title }}
    </ng-template>
  </li>
</ul>
