<div [innerHTML]="jsonLd"></div>

<ul class="breadcrumbs">
  <li class="breadcrumbs__item">
    <a class="breadcrumbs__link" routerLink="/">
      Главная
    </a>
  </li>

  <ng-container *ngFor="let breadcrumb of breadcrumbs, last as last">
    <li class="breadcrumbs__item" *ngIf="!last || showLastItem">
      <a class="breadcrumbs__link"
         *ngIf="!last; else noLink"
         [routerLink]="['/', breadcrumb.link]"
      >
        {{ breadcrumb.title }}
      </a>

      <ng-template #noLink>
        {{ breadcrumb.title }}
      </ng-template>
    </li>
  </ng-container>
</ul>
