<div class="modal-overlay" *ngIf="isModalVisible" (click)="closeModal()"></div>

<div class="modal cart-modal" *ngIf="isModalVisible">
  <div class="modal__header">
    <div class="modal__title">
      {{ 'global.cart' | translate }}
    </div>

    <button class="modal__close" (click)="closeModal()">
      <i class="mbi mbi-cross modal__close-icon"></i>
    </button>
  </div>

  <div class="modal__content cart-modal__content">
    <cart [isCrossSellVisible]="isCrossSellVisible" (continueShopping)="closeModal()"></cart>
  </div>
</div>
