<app-header></app-header>

<div class="page container reset">
  <breadcrumbs [breadcrumbs]="[{ title: 'Восстановление пароля' }]"></breadcrumbs>

  <h1 class="page__title">Восстановление пароля</h1>

  <div class="page__content">

    <form class="form" *ngIf="!success; else successTmpl" [formGroup]="form" ngNativeValidate>

      <div class="form__control-container">
        <label class="form__label" for="password">Новый пароль</label>
        <div class="form__control">
          <input class="form__input"
                 [class.form__input--invalid]="isControlInvalid('password')"
                 formControlName="password"
                 id="password"
                 type="password"
                 required
          >
          <div class="form__input-error" *ngIf="isControlInvalid('password')">
            Пароль должен быть не менее 6 символов, состоять из цифр и латинских букв, в том числе заглавных
          </div>
        </div>
      </div>

      <div class="form__control-container">
        <label class="form__label" for="passwordConfirm">Повторите новый пароль</label>
        <div class="form__control">
          <input class="form__input"
                 [class.form__input--invalid]="isControlInvalid('passwordConfirm')"
                 formControlName="passwordConfirm"
                 id="passwordConfirm"
                 type="password"
          >
          <div class="form__input-error" *ngIf="isControlInvalid('passwordConfirm')">
            Пароли не совпадают
          </div>
        </div>
      </div>

      <div class="form__error" *ngIf="formError as error">
        {{ error }}
      </div>

      <button class="btn form__submit" [class.form__submit--loading]="isLoading" (click)="submit()" type="submit">
        Сменить пароль
        <preloader class="form__submit-preloader" *ngIf="isLoading"></preloader>
      </button>
    </form>

    <ng-template #successTmpl>
      <div class="reset__success">
        Ваш пароль успешно изменён - теперь Вы можете <a class="reset__success-link" langRouterLink="/login">войти в личный кабинет</a>
      </div>
    </ng-template>

  </div>
</div>

<app-footer></app-footer>
