<div class="select autocomplete" (clickOutside)="toggleVisibility(false)">

  <button class="form__select select__active"
          [class.field__select--active]="isVisible"
          [disabled]="isDisabled"
          (click)="toggleVisibility()"
          type="button"
  >
    <span *ngIf="activeOptionLabel as label">{{ label }}</span>
    <span *ngIf="!activeOptionLabel" class="autocomplete__empty-active">- Не выбрано -</span>

    <i class="select__icon mbi mbi-chevron-down"></i>
  </button>

  <div class="select__options autocomplete__options" [class.autocomplete__options--hidden]="!isVisible">

    <div class="autocomplete__input-container">
      <input class="autocomplete__input form__input"
             [placeholder]="getPlaceholder()"
             autofocus
             autocomplete="nope"
             #input
      >
    </div>

    <div class="autocomplete__no-options" *ngIf="!options.length && !isSearchInProgress">Не найдено ни одного варианта</div>

    <preloader class="autocomplete__preloader" *ngIf="isSearchInProgress"></preloader>

    <div class="select__option autocomplete__option"
         *ngFor="let option of options"
         [class.select__option--active]="option.isSelected"
         (click)="selectOption(option)"
    >

      {{ option.view || option.data }}
    </div>
  </div>
</div>
