<div class="select" (clickOutside)="toggleVisibility(false)">

  <button class="form__select select__active"
          [class.field__select--active]="isVisible"
          [disabled]="isDisabled"
          (click)="toggleVisibility()"
          type="button"
  >
    <span *ngIf="activeOptionLabel as label">{{ label }}</span>
    <span *ngIf="!activeOptionLabel" class="select__empty-active">- {{ 'select_autocomplete.not_selected' | translate }} -</span>

    <i class="select__icon mbi mbi-chevron-down"></i>
  </button>

  <div class="select__container" [class.select__options--hidden]="!isVisible">
    <input class="select__input form__input"
           [placeholder]="placeholder"
           autofocus
           autocomplete="nope"
           #input
    >

    <div class="select__options-container">
      <div class="select__options">
        <preloader class="select__preloader" *ngIf="isSearchInProgress"></preloader>

        <div class="select__option"
             *ngFor="let option of options; let indexOfOption=index"
             [class.select__option--active]="option.isSelected || indexOfOption === activeIndex"
             (click)="selectOption(option)"
             #options
        >

          {{ option.view || option.data }}
        </div>

        <div class="select__no-options"
             *ngIf="!options.length && !isSearchInProgress"
        >
          <ng-container *ngIf="!!input.value">
            <span class="select__no-options-text">{{ 'select_autocomplete.no_matches' | translate }}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
