<div class="select" (clickOutside)="toggleVisibility(false)">

  <button class="form__select select__active"
          [class.field__select--active]="isVisible"
          [disabled]="isDisabled"
          (click)="toggleVisibility()"
          type="button"
  >
    <span *ngIf="activeOptionLabel as label">{{ label }}</span>
    <span *ngIf="!activeOptionLabel" class="select__empty-active">- {{ 'select_autocomplete.not_selected' | translate }} -</span>

    <i class="select__icon mbi mbi-chevron-down"></i>
  </button>

  <input class="select__input form__input"
         [class.select__options--hidden]="!isVisible"
         [placeholder]="placeholder"
         autofocus
         autocomplete="nope"
         #input
  >

  <div class="select__options" [class.select__options--hidden]="!isVisible">
    <preloader class="select__preloader" *ngIf="isSearchInProgress"></preloader>

    <div class="select__option"
         *ngFor="let option of options; let indexOfOption=index"
         [class.select__option--active]="option.isSelected || indexOfOption === activeIndex"
         (click)="selectOption(option)"
         #options
    >

      {{ option.view || option.data }}
    </div>

    <div class="select__no-options"
         *ngIf="!options.length && !isSearchInProgress"
         [ngSwitch]="!!input.value"
    >
      <ng-container *ngSwitchCase="true">{{ 'select_autocomplete.no_matches' | translate }}</ng-container>
      <ng-container *ngSwitchCase="false">{{ 'select_autocomplete.enter_search_query' | translate }}</ng-container>
    </div>
  </div>
</div>
