@import "variables";
@import "mixins";

.select {
  position: relative;

  &__preloader {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__active {
    font-size: 14px;
    text-align: left;
    position: relative;
    padding-right: 20px;
  }

  &__empty-active {
    color: $disabledTextColor;
  }

  &__options {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    min-height: 37px;
    max-height: 350px;
    overflow: auto;
    background: #fff;
    border: 1px solid $borderColor;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 101;

    @include respond-to($media_large) {
      top: calc(100% + 4px);
    }

    &--hidden {
      display: none;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    font-size: 13px;
    text-align: left;
    cursor: pointer;

    &--active,
    &:hover {
      background: #f0f0f0;
    }
  }

  &__no-options {
    margin: 15px 0 20px;
    color: rgba($dark, 0.6);
    font-size: 12px;
    text-align: center;

    @include respond-to($media_large) {
      margin: 25px 0;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    color: rgba($dark, 0.8);
  }
}
