@import "variables";

.search-bar {
  display: flex;

  &__input {
    width: 100%;
    padding: 12px 20px 13px;
    border: 1px solid $borderColor;
    border-right: none;
    border-radius: 3px 0 0 3px;
    font-size: 16px;
  }

  &__btn {
    flex-shrink: 0;
    width: 110px;
    padding: 12px 0;
    background: $primary;
    border-radius: 0 3px 3px 0;
    font-size: 14px;
    font-weight: 600;
  }
}
