@import "variables";
@import "mixins";

$inputBorderColor: #ddd;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.7);
  z-index: 1;
  animation: fadeIn 0.2s ease;

  @include respond-to($media_large) {
    background: transparent;
  }

  &__close {
    position: fixed;
    top: 10px;
    right: 7px;
    padding: 10px;
    color: #fff;
    font-size: 26px;
  }
}

.search-bar {
  $bar: &;

  position: relative;
  display: flex;
  width: 100%;
  transform: translateX(0);
  transition: all 0.2s ease;

  &--in-focus {
    z-index: 2;

    @include respond-to-less-than($media_large) {
      width: calc(100% + 80px);
      transform: translateX(-40px);
    }

    #{$bar}__input {
      @include respond-to-less-than($media_large) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
    }

    #{$bar}__btn {
      @include respond-to-less-than($media_large) {
        display: block;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 8px 15px 7px;
    border: 1px solid $inputBorderColor;
    border-radius: 3px;
    font-size: 16px;

    @include respond-to($media_large) {
      padding-top: 10px;
      padding-bottom: 11px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
  }

  &__btn {
    display: none;
    flex-shrink: 0;
    padding: 1px 15px 0;
    border-radius: 0 3px 3px 0;
    font-size: 14px;

    @include respond-to($media_large) {
      display: block;
      font-weight: 600;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__clear {
    padding: 1px 9px 0;
    background: #fff;
    border-top: 1px solid $inputBorderColor;
    border-bottom: 1px solid $inputBorderColor;
  }

  &__clear-icon {
    font-weight: 600;
    color: #bbb;
  }

  &__results {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    padding: 7px 0;
    background: #fff;
    border: 1px solid transparent;
    border-top-color: $inputBorderColor;
    border-radius: 0 0 3px 3px;
    z-index: 3;

    @include respond-to($media_large) {
      border-color: $inputBorderColor;
      box-shadow: 0 5px 10px rgba($dark, 0.1);
    }
  }

  &__preloader {
    padding: 30px 0 40px;
  }

  &__error {
    padding: 20px 15px;
    text-align: center;
    color: $red;
    line-height: 1.2;
  }

  &__no-result {
    margin: 20px 0;
    padding: 0 15px;
    font-size: 14px;
    line-height: 1.4;
    color: rgba($dark, 0.8);
  }

  &__result {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s ease;

    &:hover {
      background: #eee;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.product {
  display: flex;
  align-items: center;

  &__image {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  &__name {
    margin: 0 0 0 20px;
    font-size: 14px;
    line-height: 1.2;
    color: rgba($dark, 0.9);

    @include respond-to($media_medium) {
      font-size: 15px;
    }
  }
}
