<div class="overlay" *ngIf="isInFocus" (click)="handleSearchBarInFocus(false)">
  <i class="mbi mbi-cross overlay__close"></i>
</div>

<div class="search-bar" [class.search-bar--in-focus]="isInFocus">
  <input class="search-bar__input"
         [formControl]="searchControl"
         (focus)="handleSearchBarInFocus(true)"
         type="text"
         [title]="'search_bar.search' | translate"
         [placeholder]="'search_bar.search' | translate"
         #inputRef
  >

  <button class="search-bar__clear" *ngIf="isInFocus && searchControl.value" (click)="clearInput()" type="button">
    <i class="mbi mbi-cross search-bar__clear-icon"></i>
  </button>

  <button class="btn search-bar__btn" (click)="search()" type="button">{{ 'search_bar.find' | translate }}</button>

  <div class="search-bar__results" *ngIf="isInFocus && (searchResults || searchError || isSearchInProgress)">

    <preloader class="search-bar__preloader" *ngIf="isSearchInProgress; else loadedTmpl"></preloader>

    <ng-template #loadedTmpl>
      <div class="search-bar__error" *ngIf="searchError as error">{{ searchError }}</div>

      <ng-container *ngIf="searchResults">
        <div class="search-bar__no-result" *ngIf="!searchResults.length">
          {{ 'search_bar.nothing_found' | translate }}
        </div>

        <a class="search-bar__result item"
           *ngFor="let item of searchResults; let indexOfProduct=index"
           [ngClass]="{
             'search-bar__result--active': indexOfProduct === activeIndex
           }"
           [langRouterLink]="['/', item.slug]"
        >
          <img *ngIf="item.type !== autocompleteItemTypes.Category"
               class="item__image"
               [src]="getResultImage(item)"
               loading="lazy"
          >

          <div class="item__name" [class.item__name--category]="item.type === autocompleteItemTypes.Category">

            <span class="item__pretext"
                  *ngIf="item.type === autocompleteItemTypes.Category"
            >{{ 'search_bar.go_to_category' | translate }}: </span>{{ item.name }}

          </div>
        </a>
      </ng-container>
    </ng-template>
  </div>
</div>
