@import "variables";
@import "mixins";

.error {
  margin: 20px 0 0;
  color: $red;
}

.no-orders {
  margin: 25px 0 0;
  color: rgba($dark, 0.6);
}

.order {
  $order: &;

  padding: 20px 0;
  border-bottom: 1px solid rgba($dark, 0.15);

  @include respond-to($media_large) {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 40px;
  }

  &:first-child {
    padding-top: 0;
  }

  &--expanded {
    @include respond-to($media_large) {
      display: block;
    }
  }

  &__info {
    margin: 10px 0 0;
  }

  &__info-label {
    font-size: 12px;
    color: rgba($dark, 0.4);
  }

  &__info-value {
    margin: 2px 0 0;
  }

  &__footer {
    margin: 5px 0 0;
  }

  &__content {
    margin: 0 0 30px;

    @include respond-to($media_large) {
      margin-top: 20px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    @include respond-to($media_large) {
      display: block;
    }

    #{$order}--expanded & {
      @include respond-to($media_large) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  &__number {
    @include respond-to($media_large) {
      font-size: 18px;
    }
  }

  &__date {
    margin: 0 0 0 auto;
    color: rgba($dark, 0.6);

    @include respond-to($media_large) {
      display: block;
      margin-top: 7px;
    }

    #{$order}--expanded & {
      @include respond-to($media_large) {
        margin-top: 0;
        margin-left: 20px;
        font-size: 15px;
      }
    }
  }

  &__expand {
    position: relative;
    top: -7px;
    margin: 0 0 0 10px;
    padding: 5px;
    font-size: 14px;
    transform-origin: center;
    transition: transform 0.2s ease, color 0.2s ease;
    cursor: pointer;

    @include respond-to($media_large) {
      position: absolute;
      top: 20px;
      right: 0;
      margin: 0;
      font-size: 16px;
    }

    &:hover {
      color: rgba($dark, 0.7);
    }

    &--expanded {
      top: -8px;
      transform: rotate(180deg);
    }
  }

  &__preview {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;

    @include respond-to($media_large) {
      margin-left: 24px;
    }
  }

  &__img {
    margin: 0 10px 10px 0;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    font-size: 15px;

    @include respond-to($media_large) {
      margin: 0 0 0 auto;
    }

    #{$order}--expanded & {
      @include respond-to($media_large) {
        margin-top: 15px;
        font-size: 18px;
      }
    }
  }

  &__price {
    @include respond-to($media_large) {
      margin-left: 15px;
      font-weight: 600;
    }
  }
}


.item {
  margin: 15px 0 0;
  display: flex;
  align-items: flex-start;

  &:first-child {
    margin-top: 0;
  }

  &__description {
    flex-grow: 2;
    margin: 0 0 0 15px;
  }

  &__number {
    font-weight: 600;
  }

  &__name {
    font-size: 13px;
    color: $link;

    @include respond-to($media_large) {
      font-size: 15px;
    }
  }

  &__additional-services {
    margin: 6px 0 0;
  }

  &__additional-service {
    margin: 4px 0 0;
    font-size: 12px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__price-container {
    margin: 5px 0 0;
    display: flex;
    justify-content: space-between;

    @include respond-to($media_large) {
      margin-top: 15px;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    flex-shrink: 0;
  }
}
