<div class="error" *ngIf="error">
  {{ error }}
</div>

<preloader class="preloader" *ngIf="isLoading"></preloader>

<div class="order" *ngFor="let order of orders" [class.order--expanded]="order.isExpanded">

  <div class="order__header">
    <div class="order__number">
      №{{ order.id }}
    </div>

    <time class="order__date">
      {{ order.createdAt | date:'medium' }}
    </time>

    <button class="order__expand"
            [class.order__expand--expanded]="order.isExpanded"
            (click)="order.isExpanded = !order.isExpanded"
    >
      <i class="mbi mbi-chevron-down"></i>
    </button>
  </div>

  <div class="order__preview" *ngIf="!order.isExpanded" (click)="order.isExpanded = !order.isExpanded">
    <img class="order__img"
         *ngFor="let item of order.items"
         [src]="uploadedHost + item.imageUrl"
         [alt]="item.name"
         loading="lazy"
    >
  </div>

  <div class="order__content" *ngIf="order.isExpanded">
    <div class="order__item item" *ngFor="let item of order.items">
      <img class="order__img item__img" [src]="uploadedHost + item.imageUrl" [alt]="item.name" loading="lazy">

      <div class="item__description">
        <a class="item__name main-link" [routerLink]="['/', item.slug]" target="_blank">
          {{ item.name }}
        </a>

        <div class="item__additional-services" *ngIf="item.additionalServices?.length">
          <div class="item__additional-service" *ngFor="let service of item.additionalServices">
            {{ service.name }} (+{{ service.price }}грн)
          </div>
        </div>

        <div class="item__price-container">
          <div class="item__price">{{ item.price }} грн</div>
          <div class="item__qty">{{ item.qty }} шт.</div>
          <div class="item__cost">{{ item.cost }} грн
          </div>
        </div>
      </div>
    </div>

    <div class="order__info">
      <div class="order__info-label">
        Адрес доставки:
      </div>
      <div class="order__info-value">
        {{ order.shipment.recipient.settlement }}, {{ order.shipment.recipient.address }}
        <span *ngIf="order.shipment.recipient.buildingNumber as buildingNumber">, {{ buildingNumber }}</span>&nbsp;
        <span *ngIf="order.shipment.recipient.flat as flat">, {{ flat }}</span>
      </div>
    </div>

    <div class="order__info">
      <div class="order__info-label">
        Способ доставки:
      </div>
      <div class="order__info-value">
        {{ order.shippingMethodName }}
      </div>
    </div>

    <div class="order__info">
      <div class="order__info-label">
        Способ оплаты:
      </div>
      <div class="order__info-value">
        {{ order.paymentMethodName }}
      </div>
    </div>

    <div class="order__info" *ngIf="order.clientNote as note">
      <div class="order__info-label">
        Комментарий:
      </div>
      <div class="order__info-value">
        {{ note }}
      </div>
    </div>

    <div class="order__info">
      <div class="order__info-label">
        Перезванивать ли Вам для уточнения заказа?
      </div>

      <div class="order__info-value" [ngSwitch]="order.isCallbackNeeded">
        <ng-container *ngSwitchCase="true">Да</ng-container>
        <ng-container *ngSwitchCase="false">Нет</ng-container>
      </div>
    </div>

    <div class="order__info" *ngIf="order.shipment.trackingNumber">
      <div class="order__info-label">
        Номер ТТН Новой почты:
      </div>
      <div class="order__info-value">
        {{ order.shipment.trackingNumber }}
      </div>
    </div>

    <div class="order__info" *ngIf="order.shipment.statusDescription">
      <div class="order__info-label">
        Статус посылки:
      </div>
      <div class="order__info-value">
        {{ order.shipment.statusDescription }}
      </div>
    </div>

    <div class="order__info order__discount" *ngIf="order.prices.discountValue as discountValue">
      Скидка ({{ order.prices.discountLabel }}, {{ order.prices.discountPercent }}%): {{ discountValue }} грн
    </div>
  </div>

  <div class="order__footer">
    <div class="order__status">
      {{ order.status }}
    </div>

    <div class="order__price">
      Итого: {{ order.prices.totalCost }} грн
    </div>
  </div>

</div>
