<div class="error" *ngIf="error">
  {{ error }}
</div>

<preloader class="preloader" *ngIf="isLoading"></preloader>

<div class="no-orders" *ngIf="!orders?.length">
  {{ 'account_orders.no_orders' | translate }}
</div>

<div class="order" *ngFor="let order of orders" [class.order--expanded]="order.isExpanded">

  <div class="order__header">
    <div class="order__number">
      №{{ order.id }}
    </div>

    <time class="order__date">
      {{ order.createdAt | date:'medium' }}
    </time>

    <button class="order__expand"
            [class.order__expand--expanded]="order.isExpanded"
            (click)="order.isExpanded = !order.isExpanded"
    >
      <i class="mbi mbi-chevron-down"></i>
    </button>
  </div>

  <div class="order__preview" *ngIf="!order.isExpanded" (click)="order.isExpanded = !order.isExpanded">
    <img class="order__img"
         *ngFor="let item of order.items"
         [src]="uploadedHost + item.imageUrl"
         [alt]="item.name"
         loading="lazy"
    >
  </div>

  <div class="order__content" *ngIf="order.isExpanded">
    <div class="order__item item" *ngFor="let item of order.items">
      <img class="order__img item__img" [src]="uploadedHost + item.imageUrl" [alt]="item.name" loading="lazy">

      <div class="item__description">
        <a class="item__name main-link" [langRouterLink]="['/', item.slug]" target="_blank">
          {{ item.name }}
        </a>

        <div class="item__additional-services" *ngIf="item.additionalServices?.length">
          <div class="item__additional-service" *ngFor="let service of item.additionalServices">
            {{ service.name }} (+{{ service.price }}{{ 'global.uah' | translate }})
          </div>
        </div>

        <div class="item__price-container">
          <div class="item__price">{{ item.price }} {{ 'global.uah' | translate }}</div>
          <div class="item__qty">{{ item.qty }} {{ 'global.pcs.' | translate }}</div>
          <div class="item__cost">{{ item.cost }} {{ 'global.uah' | translate }}</div>
        </div>
      </div>
    </div>

    <div class="order__info">
      <div class="order__info-label">
        {{ 'global.shipment_address' | translate }}:
      </div>
      <div class="order__info-value">
        {{ order.shipment.recipient.address.settlementNameFull || order.shipment.recipient.address.settlementName }}, {{ order.shipment.recipient.address.addressNameFull || order.shipment.recipient.address.addressName }}
        <span *ngIf="order.shipment.recipient.address.buildingNumber as buildingNumber">, {{ buildingNumber }}</span>&nbsp;
        <span *ngIf="order.shipment.recipient.address.flat as flat">, {{ flat }}</span>
      </div>
    </div>

    <div class="order__info">
      <div class="order__info-label">
        {{ 'global.shipment_method' | translate }}:
      </div>
      <div class="order__info-value">
        {{ order.shipment.shippingMethodDescription }}
      </div>
    </div>

    <div class="order__info">
      <div class="order__info-label">
        {{ 'global.payment_method' | translate }}:
      </div>
      <div class="order__info-value">
        {{ order.paymentMethodName }}
      </div>
    </div>

    <div class="order__info" *ngIf="order.note as note">
      <div class="order__info-label">
        {{ 'account_orders.comment' | translate }}:
      </div>
      <div class="order__info-value">
        {{ note }}
      </div>
    </div>

    <div class="order__info">
      <div class="order__info-label">
        {{ 'global.is_callback_needed' | translate }}
      </div>

      <div class="order__info-value" [ngSwitch]="order.isCallbackNeeded">
        <ng-container *ngSwitchCase="true">{{ 'global.yes' | translate }}</ng-container>
        <ng-container *ngSwitchCase="false">{{ 'global.no' | translate }}</ng-container>
      </div>
    </div>

    <div class="order__info" *ngIf="order.shipment.trackingNumber">
      <div class="order__info-label">
        {{ 'account_orders.tracking_number' | translate }}:
      </div>
      <div class="order__info-value">
        {{ order.shipment.trackingNumber }}
      </div>
    </div>

    <div class="order__info" *ngIf="order.shipment.statusDescription">
      <div class="order__info-label">
        {{ 'account_orders.tracking_status' | translate }}:
      </div>
      <div class="order__info-value">
        {{ order.shipment.statusDescription }}
      </div>
    </div>

    <div class="order__info order__discount" *ngIf="order.prices.discountValue as discountValue">
      {{ 'global.discount' | translate }}: {{ discountValue }} {{ 'global.uah' | translate }}
    </div>
  </div>

  <div class="order__footer">
    <div class="order__status">
      {{ order.status }}
    </div>

    <div class="order__price">
      {{ 'global.total_cost' | translate }}: {{ order.prices.totalCost }} {{ 'global.uah' | translate }}
    </div>
  </div>

</div>
