<div class="container">
  <ul class="categories" [class.categories__scroll]="!isLoading && needToDemonstrate">
    <ng-container *ngIf="isLoading">
      <li class="categories__category placeholder" *ngFor="let i of [1,2,3,4]">
        <div class="placeholder__item categories__img"></div>
        <div class="placeholder__item categories__name placeholder__categories-name"></div>
      </li>
    </ng-container>

    <li class="categories__category" *ngFor="let category of categories" [title]="category.name" #itemRef>
      <a class="categories__link" [routerLink]="'/' + category.slug">

        <img *ngIf="category.isSelected && needToDemonstrate" class="categories__swipe" src="/assets/images/swipe.svg" alt="">

        <img class="categories__img" [src]="getCategoryImage(category)" [alt]="category.name" [class.categories__img--selected]="category.isSelected">
        <div class="categories__name"> {{ category.name }} </div>
      </a>
    </li>
  </ul>
</div>

