@import "variables";
@import "mixins";

.sort {
  position: relative;

  &__control {
    display: block;
    width: 100%;
    padding: 8px 32px 7px 13px;
    background: #f5f5f5;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    appearance: none;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    font-size: 11px;
    pointer-events: none;
  }
}

.fixed {
  @include respond-to-less-than($media_medium) {
    padding-top: 9px !important;
    padding-bottom: 8px !important;
    border: none !important;
    border-radius: 0 !important;
  }
}
