<div class="form__control-container" *ngIf="!(customer$ | async)" #emailRef>
  <label class="form__label" for="email">Адрес электронной почты</label>

  <div class="form__control">
    <input class="form__input"
           [formControl]="emailControl"
           [class.form__input--invalid]="isEmailInvalid()"
           id="email"
           type="email"
    >

    <div class="form__input-error" *ngIf="isEmailInvalid()">
      Некорректный адрес электронной почты
    </div>
  </div>
</div>

<div class="checkout-block" *ngIf="addressOptionControl">
  <div class="checkout-block__title">
    Адрес доставки
  </div>

  <label class="checkout-control checkout-control--radio" *ngFor="let address of (customer$ | async).addresses">
    <input class="checkout-control__radio-input"
           [value]="address"
           [formControl]="addressOptionControl"
           name="address-option"
           type="radio"
    >

    <i class="mbi mbi-checkmark-outline checkout-control__radio-icon checkout-control__radio-icon-selected"></i>
    <i class="mbi mbi-circle-outline checkout-control__radio-icon checkout-control__radio-icon-not-selected"></i>

    {{ address.lastName }} {{ address.firstName }}, {{ address.phone }}, {{ address.settlement }}, {{ address.address }}<ng-container *ngIf="address.addressType === addressTypes.DOORS">, {{ address.buildingNumber }}, <ng-container *ngIf="address.flat as flat">{{ flat }}</ng-container></ng-container>
  </label>

  <label class="checkout-control checkout-control--radio">
    <input class="checkout-control__radio-input"
           [value]="null"
           [formControl]="addressOptionControl"
           name="address-option"
           type="radio"
    >

    <i class="mbi mbi-checkmark-outline checkout-control__radio-icon checkout-control__radio-icon-selected"></i>
    <i class="mbi mbi-circle-outline checkout-control__radio-icon checkout-control__radio-icon-not-selected"></i>

    Новый адрес
  </label>

</div>


<address-form class="address-form form__control-container"
              *ngIf="!addressOptionControl?.value"
              [showIsDefault]="false"
></address-form>
