<div class="form__control-container" *ngIf="!(customer$ | async)" #emailRef>
  <label class="form__label" for="email">{{ 'order_customer_info.email' | translate }}</label>

  <div class="form__control">
    <input class="form__input"
           [formControl]="emailControl"
           [class.form__input--invalid]="isEmailInvalid()"
           id="email"
           type="email"
    >

    <div class="form__input-error" *ngIf="isEmailInvalid()">
      {{ 'order_customer_info.invalid_email' | translate }}
    </div>
  </div>
</div>

<div class="checkout-block" *ngIf="addressOptionControl">
  <div class="checkout-block__title">
    {{ 'global.shipment_address' | translate }}
  </div>

  <div class="form__control-container">

    <label class="form__control form__control--radio" *ngFor="let address of (customer$ | async).addresses">
      <input class="form__radio-input"
             [value]="address"
             [formControl]="addressOptionControl"
             name="address-option"
             type="radio"
      >

      <i class="mbi form__radio-icon"
         [ngClass]="{
           'form__radio-icon--checked form__radio-icon--checked:before': addressOptionControl.value === address,
           'form__radio-icon--unchecked': addressOptionControl.value !== address
         }"
      ></i>

      {{ address.lastName }} {{ address.firstName }}, {{ address.phone }}, {{ address.settlementFull || address.settlement }}, {{ address.addressFull || address.address }}<ng-container *ngIf="address.addressType === addressTypeEnum.DOORS">, {{ address.buildingNumber }}, <ng-container *ngIf="address.flat as flat">{{ flat }}</ng-container></ng-container>
    </label>

    <label class="form__control form__control--radio">
      <input class="form__radio-input"
             [value]="null"
             [formControl]="addressOptionControl"
             name="address-option"
             type="radio"
      >

      <i class="mbi form__radio-icon"
         [ngClass]="{
           'form__radio-icon--checked form__radio-icon--checked:before': addressOptionControl.value === null,
           'form__radio-icon--unchecked': addressOptionControl.value !== null
         }"
      ></i>

      {{ 'order_customer_info.new_address' | translate }}
    </label>
  </div>

</div>


<address-form class="address-form form__control-container"
              *ngIf="!addressOptionControl?.value"
              [showIsDefault]="false"
              [address]="customerAddress"
              [shipmentPayerMap]="getShipmentPayerMap()"
              (valueChanged)="onAddressChange($event)"
></address-form>
