<div class="addresses">
  <h3 class="addresses__title">{{ 'addresses.addresses' | translate }}</h3>

  <div class="addresses__form-message addresses__form-message--success" *ngIf="formSuccess as successMessage">
    {{ successMessage }}
  </div>

  <div class="addresses__form-message addresses__form-message--error" *ngIf="formError as error">
    {{ error }}
  </div>

  <ng-container *ngIf="!activeAddress">
    <div class="addresses__empty" *ngIf="!addresses?.length">
      {{ 'addresses.no_saved' | translate }}
    </div>

    <ul class="addresses__list">
      <li class="addresses__item" *ngFor="let address of addresses">
        {{ address.lastName}} {{ address.firstName }}, {{ address.phone }}, {{ address.settlementFull || address.settlement }}
        <br>

        {{ address.addressFull || address.address }}<ng-container *ngIf="address.addressType === addressTypes.DOORS">, {{ address.buildingNumber }}, <ng-container *ngIf="address.flat as flat">{{ flat }}</ng-container></ng-container>
        <br>

        <ng-container *ngIf="address.isDefault">
          <span class="addresses__default"><i class="mbi mbi-checkmark"></i></span> {{ 'addresses.is_by_default' | translate }} <br>
        </ng-container>

        <button class="addresses__edit" (click)="openAddressForm(address)" type="button">{{ 'addresses.edit' | translate }}</button>
      </li>
    </ul>

    <button class="btn addresses__add" (click)="openAddressForm()" type="button">{{ 'addresses.add_address' | translate }}</button>
  </ng-container>

  <div class="addresses__form" *ngIf="activeAddress">
    <address-form class="addresses__form-cmp"
                  [address]="activeAddress"
    ></address-form>

    <button class="btn form__submit" [class.form__submit--loading]="isLoading" (click)="submitForm()" type="submit">
      {{ 'global.save' | translate }}
      <preloader class="form__submit-preloader" *ngIf="isLoading"></preloader>
    </button>

    <button class="btn btn--default addresses__form-cancel" (click)="closeForm()" type="button">
      {{ 'global.cancel' | translate }}
    </button>
  </div>
</div>
