@import "variables";
@import "mixins";

.review-container {
  background-color: #f8f8f8;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  @include respond-to($media_large) {
    display: flex;
    width: fit-content;
    align-items: flex-start;
  }

  &--column {
    display: block;
  }
}

.add-review {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include respond-to($media_large) {
    width: 600px;
    padding: 20px;
    flex-shrink: 0;
  }

  &--column {
    width: auto;
  }

  &__control {
    text-align: left;

    &--name {
      width: 100%;

      @include respond-to($media_large) {
        width: 40%;
      }
    }

    &--review {
      width: 100%;
      margin: 5px 0 0;
    }
  }

  &__rating {
    width: 100%;
    margin: 10px 0 0;

    @include respond-to($media_large) {
      width: 58%;
      padding: 0 0 0 10px;
    }
  }

  &__label {
    font-size: 13px;
    font-weight: 300;
    color: #777;
  }

  &__input {
    display: block;
    width: 100%;
    margin: 6px 0 0;
    padding: 1px 12px;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    font-size: 14px;
    height: 32px;
    transition: border-color 0.2s ease;

    &:hover,
    &:focus {
      border-color: #a6a5a5;
    }

    &::placeholder {
      color: rgba($dark, 0.3) !important;
    }
    &::-webkit-input-placeholder {
      color: rgba($dark, 0.3) !important;
    }
    &::-moz-placeholder {
      color: rgba($dark, 0.3) !important;
    }
    &:-ms-input-placeholder {
      color: rgba($dark, 0.3) !important;
    }
  }

  &__textarea {
    height: auto;
    padding: 8px 45px 8px 8px;
    resize: vertical;
  }

  &__btns {
    margin: 10px;
  }

  &__btn {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0 0;
    padding: 13px 20px;
    border-radius: 3px;
    font-size: 14px;

    @include respond-to($media_large) {
      width: 49%;
    }
  }

  &__submit {
    margin: 25px 0 0;
    width: 100%;
  }

  &__upload-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    fill: #999;
  }

  &__medias + &__btns {
    margin-top: 10px;
  }

  &__medias {
    width: 100%;
    margin: 10px 0 0;
    padding: 0 0 0 10px;
    display: flex;
    flex-wrap: wrap;

    @include respond-to($media_large) {
      max-width: 160px;
      width: fit-content;
      padding-left: 0;
    }

    &--wide {
      max-width: 100%;
      margin-top: 0;

      @include respond-to($media_large) {
        padding-bottom: 10px;
        padding-left: 20px;
      }
    }
  }

  &__media {
    margin: 0 10px 10px 0;
  }
}

.media {
  position: relative;

  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50%, -50%);
    background: rgba(#fff, 0.7);
    border-radius: 100%;
  }

  &__remove-icon {
    font-size: 14px;
    font-weight: 600;
  }

  &__img {
    width: 70px;
    height: 70px;
    display: block;
    object-fit: cover;
  }
}
