<form class="add-review" [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
  <rating-selector class="add-review__rating" [formControlName]="controlNames.Rating"></rating-selector>

  <div class="add-review__control">
    <label class="add-review__label" [for]="controlNames.Name">Имя</label>
    <input class="add-review__input" [formControlName]="controlNames.Name" [id]="controlNames.Name" type="text" required>
  </div>

  <div class="add-review__control">
    <label class="add-review__label" [for]="controlNames.Text">Отзыв</label>
    <textarea
      class="add-review__input add-review__textarea"
      [formControlName]="controlNames.Text"
      [id]="controlNames.Text"
      rows="5"
      required
      #reviewTextareaRef
    ></textarea>
  </div>

  <button class="btn btn--default add-review__btn add-review__upload" type="button" (click)="uploadPhotos()">
    <svg class="add-review__upload-icon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <circle cx="12" cy="12" r="3.2"></circle>
      <path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>

    Добавить фото
  </button>

  <div class="add-review__medias" *ngIf="medias.length > 0">
    <div class="add-review__media media" *ngFor="let media of medias, index as i">
      <button class="media__remove" (click)="removeMedia(i)">
        <i class="mbi mbi-cross media__remove-icon"></i>
      </button>
      <img class="media__img" [src]="uploadedHost + media.variantsUrls.original" alt="">
    </div>
  </div>

  <div class="modal-overlay" *ngIf="isModalVisible" (click)="closeModal()"></div>

  <div class="modal" *ngIf="isModalVisible">
    <div class="modal__header">
      <div class="modal__title">Написать отзыв</div>

      <button class="modal__close" (click)="closeModal()">
        <i class="mbi mbi-cross modal__close-icon"></i>
      </button>
    </div>

    <div class="modal__content">
      <div class="add-review__control">
        <label class="add-review__label" [for]="controlNames.Email">Электронная почта</label>
        <input class="add-review__input" [formControlName]="controlNames.Email" [id]="controlNames.Email" type="email" required>
      </div>

      <button class="btn add-review__btn add-review__submit" type="submit">Оставить отзыв</button>
    </div>
  </div>
</form>
