<div class="page container oops-container">
  <div class="logo">
    <img class="logo-img" src="../../../assets/images/logo.png" alt="Klondike" loading="lazy">
    <span class="logo-text">Клондайк - товари для творчості!</span>
  </div>

  <div class="oops-text">
    Упс... щось пішло не так. Будь ласка, спробуйте знову в <span class="time">{{ maintenanceEndTime | date:'HH:mm' }}</span> 🙂
  </div>

  <img class="maintenance-img" src="../../../assets/images/website-maintenance-img.jpeg" alt="site-maintenance">
</div>
