@import "variables";

a {
  color: $dark;

  &:hover {
    color: $primary;
  }
}

.posts {
  max-height: 700px;
  padding: 0;

  &__header {
    margin-top: 60px;
    padding-bottom: 40px;
    padding-left: 100px;
  }

  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 320px;
    margin-right: 20px;
    box-shadow: 0.5px 1px 3px 0 #e7e6e6;
    }
}

.post {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:last-of-type {
    margin-right: 0;
  }

  &__img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 3px;
    &:hover {
      opacity: .9;
      transition: opacity .15s ease-in;
    }
  }

  &__category {
    margin: 10px 0;
    padding: 5px 15px;
  }

  &__link {
    font-size: 16px;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 15px;
  }

  &__date {
    margin-top: 20px;
    padding: 5px 15px 15px 15px;
    color: $grey;
    font-size: 14px;
  }
}






