@import "variables";
@import "mixins";

.items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: 48%;
    margin: 0 0 20px;

    @include respond-to($media_large) {
      margin-bottom: 30px;
    }
  }

  &__preloader-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &--overlay {
      background: rgba(#fff, 0.6);
    }
  }

  &__preloader {
    margin: 8vh 0;
  }
}

.item {
  display: flex;
  flex-direction: column;

  &__img {
    display: block;
    margin: 0 auto;
    height: 140px;
    object-fit: cover;

    @include respond-to($media_large) {
      height: 220px;
    }
  }

  &__name {
    display: block;
    margin: 10px 0 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__content {
    margin: 7px 0 0;
    font-size: 13px;
    color: rgba($dark, 0.8);
    line-height: 1.1;
    max-height: 4.4em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__footer {
    margin: auto 0 0;
  }

  &__category {
    display: block;
    margin: 10px 0 0;
    font-size: 14px;
  }

  &__category-link {
    color: $blue;
  }

  &__publish-date {
    margin: 7px 0 0;
    color: rgba($dark, 0.4);
    font-size: 12px;
  }
}

.pagination {
  margin: 20px 0 0;
}

.placeholder {
  &__img {
    width: 140px;
    height: 140px;
    margin: 0 auto;

    @include respond-to($media_large) {
      height: 220px;
      width: 220px;
    }
  }

  &__name {
    margin: 10px 0 0;
    height: 15px;
  }

  &__category {
    margin: 10px 0 0;
    height: 13px;
  }

  &__date {
    margin: 5px 0 0;
    height: 10px;
    width: 70px;
  }
}
