<div [innerHTML]="jsonLd"></div>

<div class="items" #itemsRef>
  <div class="items__error" *ngIf="error">
    {{ error }}
  </div>

  <ng-container *ngIf="!items && !error">
    <div class="items__item placeholder" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
      <div class="placeholder__item placeholder__img"></div>
      <div class="placeholder__item placeholder__name"></div>
      <div class="placeholder__item placeholder__text placeholder__text--last placeholder__name"></div>
      <div class="placeholder__item placeholder__category"></div>
      <div class="placeholder__item placeholder__date"></div>
    </div>
  </ng-container>

  <div class="items__preloader-container"
      *ngIf="isLoading"
      [class.items__preloader-container--overlay]="items"
  >
    <preloader class="items__preloader"></preloader>
  </div>

  <div class="items__item item" *ngFor="let item of items" #itemRef>
    <a class="item__img-container" *ngIf="item.featuredMedia" [langRouterLink]="['/', 'blog', item.slug]">
      <img class="item__img" [src]="uploadedHost + item.featuredMedia.variantsUrls.original" [alt]="item.name" loading="lazy">
    </a>

    <a class="item__name main-link  main-link--black" [langRouterLink]="['/', 'blog', item.slug]">
      {{ item.name }}
    </a>

    <div class="item__footer">
      <div class="item__content">
        {{ item.shortContent }}
      </div>

      <div class="item__category">
        Категория: <a class="item__category-link main-link" *ngIf="item.category" [langRouterLink]="['/', 'blog', item.category.slug + '.html']">{{ item.category.name }}</a>
      </div>

      <div class="item__publish-date">
        Добавлено: <time>{{ item.publishedAt | date }}</time>
      </div>
    </div>
  </div>
</div>

<pagination class="pagination"
            [pagesTotal]="pagesTotal"
            [displayedOnPage]="'blog'"
            (pagination)="onPaginationChanged()"
            (paginationWithLoadMoreBtn)="onPaginationWithLoadMoreBtn()"
            #paginationRef
></pagination>
