@import "mixins";
@import "variables";

.btn-up {
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.3;

  &:hover {
    opacity: 0.4;
  }

  @include respond-to($media_large) {
    bottom: 35px;
    right: 70px;
    opacity: 0.15;
  }

  &__img {
    width: 100%;
  }
}
