<app-header></app-header>

<div class="page container confirm">
  <breadcrumbs [breadcrumbs]="[{ title: 'confirm_email.confirmation' | translate }]"></breadcrumbs>

  <h1 class="page__title">{{ 'confirm_email.confirmation' | translate }}</h1>

  <div class="page__content">

    <preloader *ngIf="isLoading; else loadedTmpl"></preloader>

    <ng-template #loadedTmpl>

      <div class="confirm__error" *ngIf="error; else successTmpl">
        {{ error }}
      </div>

      <ng-template #successTmpl>
        <div>
          {{ 'confirm_email.success_1' | translate }} <a class="main-link" langRouterLink="/login">{{ 'confirm_email.success_2' | translate }}</a>
        </div>
      </ng-template>
    </ng-template>

  </div>
</div>

<app-footer></app-footer>
