<app-header></app-header>

<div class="page container confirm">
  <breadcrumbs [breadcrumbs]="[{ title: 'Подтверджение email' }]"></breadcrumbs>

  <h1 class="page__title">Подтверджение email</h1>

  <div class="page__content">

    <preloader class="confirm__preloader" *ngIf="isLoading; else loadedTmpl"></preloader>

    <ng-template #loadedTmpl>

      <div class="confirm__error" *ngIf="error; else successTmpl">
        {{ error }}
      </div>

      <ng-template #successTmpl>
        <div class="confirm__success">
          Ваш пароль успешно изменён - теперь Вы можете <a class="reset__success-link" langRouterLink="/login">войти в личный кабинет</a>
        </div>
      </ng-template>
    </ng-template>

  </div>
</div>

<app-footer></app-footer>
