<div class="address-block">
  <div class="address-block__title">{{ 'global.shipment_address' | translate }} {{ 'address_form.by_nova_poshta' | translate }}</div>

  <div class="checkout-block" *ngIf="addressOptionControl">
    <div class="form__control-container">

      <label class="form__control form__control--radio" *ngFor="let address of (customer$ | async).addresses">
        <input class="form__radio-input"
               [value]="address"
               [formControl]="addressOptionControl"
               name="address-option"
               type="radio"
        >

        <i class="mbi form__radio-icon"
           [ngClass]="{
           'form__radio-icon--checked form__radio-icon--checked:before': addressOptionControl.value === address,
           'form__radio-icon--unchecked': addressOptionControl.value !== address
         }"
        ></i>

        {{ address.settlementFullName || address.settlementName }}, {{ address.addressFullName || address.addressName }}<ng-container *ngIf="address.type === addressTypeEnum.DOORS">, {{ address.buildingNumber }}, <ng-container *ngIf="address.flat as flat">{{ flat }}</ng-container></ng-container>
      </label>

      <label class="form__control form__control--radio">
        <input class="form__radio-input"
               [value]="null"
               [formControl]="addressOptionControl"
               name="address-option"
               type="radio"
        >

        <i class="mbi form__radio-icon"
           [ngClass]="{
           'form__radio-icon--checked form__radio-icon--checked:before': addressOptionControl.value === null,
           'form__radio-icon--unchecked': addressOptionControl.value !== null
         }"
        ></i>

        {{ 'order_customer_info.new_address' | translate }}
      </label>
    </div>

  </div>

  <address-form class="address-form form__control-container"
                *ngIf="!addressOptionControl?.value"
                [showIsDefault]="false"
                [shipmentPayerMap]="getShipmentPayerMap()"
                (valueChanged)="onAddressChange($event)"
  ></address-form>
</div>
