@import "variables";
@import "mixins";

.filters {

  &__block {
    margin: 20px 0 0;
    padding: 0 0 20px;
    border-bottom: 1px solid #d8d8d8;

    @include respond-to($media_large) {
      padding-left: 10px;
      padding-right: 10px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    margin: 0 0 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;

    @include respond-to($media_large) {
      padding: 20px 0 0;
    }
  }

  &__checkbox {
    margin: 0 4px 0 0;
  }

  &__value {
    display: block;
    margin: 5px 0 0;
    padding: 4px 0 4px 3px;
    line-height: 1.2;
    transition: color 0.2s ease;
    cursor: pointer;

    &:hover {
      color: rgba($dark, 0.7);
    }
  }

  &__product-count {
    margin: 0 0 0 5px;
    font-size: 12px;
    color: rgba($dark, 0.4);
  }
}

.placeholder {
  &__block {
    margin: 25px 0 0;
    padding: 0 10px;
    width: 210px;
  }

  &__title {
    margin: 10px 0 5px;
    width: 70px;
    height: 16px;
  }

  &__item {
    height: 14px;
  }
}
