<div class="overlay" [class.overlay--visible]="isOpened" (click)="closeFilters()">
  <span class="overlay__close" (click)="closeFilters()">
    <i class="mbi mbi-arrow-left"></i>
  </span>
</div>

<div class="filters" [class.filters--opened]="isOpened">

  <div class="placeholder" *ngIf="!filters">
    <div class="placeholder__block" *ngFor="let i of [1,2,3,4]">
      <div class="placeholder__item placeholder__title"></div>
      <div class="placeholder__item"></div>
      <ng-container *ngFor="let k of [1,2,3]">
        <div class="placeholder__item placeholder__text"></div>
        <div class="placeholder__item placeholder__text placeholder__text--last"></div>
      </ng-container>
    </div>
  </div>

  <div class="its-desktop">
    <div class="filters__selected-filters" *ngIf="activeFilters?.length">
      <ng-container *ngFor="let activeFilter of activeFilters" [ngSwitch]="activeFilter.type">

        <ng-container *ngSwitchCase="'checkbox'">
          <div class="filters__selected-filter selected" *ngFor="let value of activeFilter.values">
            <div class="selected__label">
              {{ value.label }}
            </div>
            <button class="selected__reset" (click)="unselect(activeFilter, value)" type="button">
              <i class="mbi mbi-cross"></i>
            </button>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'range'">
          <div class="filters__selected-filter selected">
            <div class="selected__label">
              {{ activeFilter.label }}: {{ activeFilter.rangeValues.selected.min }}-{{ activeFilter.rangeValues.selected.max }}
            </div>
            <button class="selected__reset" (click)="unselect(activeFilter)" type="button">
              <i class="mbi mbi-cross"></i>
            </button>
          </div>
        </ng-container>

        </ng-container>

        <div class="filters__selected-count" *ngIf="filteredCount">
          Выбрано товаров: {{ filteredCount }}
          <button class="btn btn--transparent filters__clear-all" (click)="unselectAll()">
            Сбросить все
          </button>
        </div>
     </div>
  </div>

  <dl class="filters__options">
    <div class="filters__block" *ngFor="let filter of filters">
      <dt class="filters__title">{{ filter.label }}</dt>

      <ng-container *ngIf="filter.type === 'checkbox'">
        <dd *ngFor="let value of filter.values">

          <label class="filters__value">
            <input class="filters__checkbox"
                   [(ngModel)]="value.isSelected"
                   (ngModelChange)="checkboxToggle(filter, value)"
                   type="checkbox"
            >

            {{ value.label }} <span class="filters__product-count">({{ value.productsCount }})</span>
          </label>

        </dd>
      </ng-container>

      <ng-container *ngIf="filter.type === 'range'">
        <range-slider [range]="filter.rangeValues.range"
                      [selected]="filter.rangeValues.selected"
                      (valueChanged)="rangeValueChanged(filter, $event)"
        ></range-slider>
      </ng-container>
    </div>
  </dl>
</div>
