<div class="overlay" [class.overlay--visible]="isOpened" (click)="closeFilters()">
  <span class="overlay__close" (click)="closeFilters()">
    <i class="mbi mbi-arrow-left"></i>
  </span>
</div>

<div class="filters" [class.filters--opened]="isOpened">
  <div class="filters__header">
    Фильтры
  </div>

  <div class="filters__selected-filters" *ngIf="activeFilters?.length">
    <ng-container *ngFor="let activeFilter of activeFilters">
      <div class="filters__selected-filter selected" *ngFor="let value of activeFilter.values">
        <div class="selected__label">
          {{ value.label }}
        </div>
        <button class="selected__reset" (click)="unselect(activeFilter, value)" type="button">
          <i class="mbi mbi-cross"></i>
        </button>
      </div>
    </ng-container>

    <div class="filters__selected-count" *ngIf="filteredCount">
      Выбрано товаров: {{ filteredCount }}
    </div>

    <button class="btn btn--transparent filters__clear-all" (click)="unselectAll()">
      Сбросить все
    </button>
  </div>

  <dl class="filters__options">
    <div class="filters__block" *ngFor="let filter of filters">
      <dt class="filters__title">{{ filter.label }}</dt>

      <ng-container *ngIf="filter.type === 'checkbox'">
        <dd *ngFor="let value of filter.values">

          <label class="filters__value">
            <input class="filters__checkbox"
                   [(ngModel)]="value.isSelected"
                   (ngModelChange)="checkboxToggle()"
                   type="checkbox"
            >

            {{ value.label }} <span class="filters__product-count">({{ value.productsCount }})</span>
          </label>

        </dd>
      </ng-container>

      <ng-container *ngIf="filter.type === 'range'">
        <range-slider [range]="filter.rangeValues.range"
                      [selected]="filter.rangeValues.selected"
        ></range-slider>
      </ng-container>
    </div>
  </dl>
</div>
