@import "variables";
@import "mixins";

.cart {
  @include respond-to($media_large) {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
  }

  &__error {
    display: block;
    margin: 20px 0 0;
    padding: 12px 17px 11px;
    background: rgba($red, 0.15);
    border: 1px solid rgba($red, 0.4);
    color: red;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.3;
  }

  &__info {
    @include respond-to($media_large) {
      position: sticky;
      top: 4px;
      flex-shrink: 0;
      width: 27%;
      margin-left: 30px;
    }
  }

  &__total {
    display: flex;
    align-items: baseline;
    font-size: 18px;
  }

  &__price {
    margin: 0 0 0 auto;
    font-size: 24px;
    font-weight: 600;
  }

  &__btn {
    display: block;
    width: 100%;
    margin: 13px 0 0;
    padding-top: 10px;
    padding-bottom: 9px;
    text-align: center;
    border-radius: 2px;
    font-size: 18px;

    @include respond-to($media_medium) {
      margin-top: 18px;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    &--continue {
      font-size: 16px;
    }
  }

  &__btn-icon {
    position: relative;
    top: -2px;
    margin: 0 0 0 5px;
    vertical-align: bottom;
    font-size: 14px;
    font-weight: 600;
  }

  &__items {
    position: relative;
    margin: 15px 0 0;

    @include respond-to($media_large) {
      margin-top: 0;
      flex-grow: 2;
    }

    &--loading {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#fff, 0.6);
        z-index: 1;
        opacity: 0;
        animation: fadeIn 0.3s ease 0.5s forwards;
      }
    }
  }

  &__no-items {
    margin: 20px auto;
    font-size: 22px;
    color: rgba($dark, 0.4);
    text-align: center;
  }
}

.item {
  position: relative;
  display: flex;
  margin: 20px 0 0;
  padding: 5px 15px 10px;
  border: 1px solid rgba($dark, 0.15);
  border-radius: 3px;

  @include respond-to($media_large) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &:first-child {
    margin-top: 0;
  }

  &__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    max-height: 100px;
    flex-shrink: 0;

    @include respond-to($media_medium) {
      width: 120px;
      max-height: 140px;
    }
  }

  &__img {
    max-height: 100%;
    object-fit: contain;
  }

  &__info {
    flex-grow: 2;
    margin-left: 20px;
  }

  &__name {
    display: block;
    margin: 10px 0 0;
    padding: 0 20px 0 0;
    font-size: 14px;
    line-height: 1.2;

    @include respond-to($media_large) {
      margin-top: 0;
      font-size: 15px;
      line-height: 1;
    }
  }

  &__qty-container {
    margin: 10px 0 0;
    text-align: center;

    @include respond-to($media_large) {
      margin-top: 15px;
    }
  }

  &__qty {
    display: inline-block;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
  }

  &__label {
    color: rgba($dark, 0.6);
  }

  &__value {
    font-size: 18px;
  }

  &__old-price {
    display: inline-block;
    margin: 0 6px 0 0;
    text-decoration: line-through;
    color: rgba($dark, 0.6);
  }
  &__old-price + &__price {
    color: $red;
  }

  &__delete {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 10px;
    font-size: 18px;
    color: rgba($dark, 0.6);
    transition: color 0.2s ease;

    &:hover {
      color: $dark;
    }
  }
}
