<div class="cart">

  <div class="cart__no-items" *ngIf="!items || !items.length; else itemsTmpl">
    {{ 'cart.empty' | translate }}
  </div>

  <ng-template #itemsTmpl>
    <div class="cart__info">
      <div class="cart__prices">
        <ng-container *ngIf="prices.discountValue as discountValue">
          <div class="cart__price">
            <div class="cart__price-label">{{ 'global.items_cost' | translate }}:</div>
            <div class="cart__price-value">{{ prices.itemsCost }} {{ 'global.uah' | translate }}</div>
          </div>

          <div class="cart__price">
            <div class="cart__price-label">
              {{ 'global.discount' | translate }}
            </div>
            <div class="cart__price-value cart__price-value--discount">-{{ discountValue }} {{ 'global.uah' | translate }}</div>
          </div>
        </ng-container>

        <div class="cart__price cart__price--total">
          <div class="cart__price-label">{{ 'global.total_cost' | translate }}:</div>
          <div class="cart__price-value cart__price-value--total">{{ prices.totalCost }} {{ 'global.uah' | translate }}</div>
        </div>
      </div>

      <div class="cart__cost-error" *ngIf="!canPlaceOrder">
        {{ 'global.minimal_order_cost' | translate }}: {{ minimalOrderCost }} {{ 'global.uah' | translate }}.
      </div>

      <div class="cart__btns">
        <a class="cart__btn btn btn--default" *ngIf="canPlaceOrder" (click)="checkout()" langRouterLink="/checkout">
          {{ 'cart.checkout' | translate }} <i class="cart__btn-icon mbi mbi-arrow-right"></i>
        </a>
        <a class="cart__btn btn btn--default" *ngIf="!canPlaceOrder" disabled>
          {{ 'cart.checkout' | translate }} <i class="cart__btn-icon mbi mbi-arrow-right"></i>
        </a>

        <button class="cart__btn cart__btn--continue btn" (click)="continueShopping()">
          {{ 'cart.resume_shopping' | translate }}
        </button>
      </div>
    </div>

    <div class="cart__items" [class.cart__items--loading]="isLoading">

      <div class="cart__error" *ngIf="cartError as error">
        {{ error }}
      </div>

      <ng-container *ngFor="let item of items, index as i">
        <div class="item">
          <div class="item__img-container">
            <img class="item__img" [src]="setItemImg(item)" alt="" loading="lazy">
          </div>

          <div class="item__info">
            <a class="item__name main-link" [langRouterLink]="['/', item.slug]">
              {{ item.name }}
            </a>

            <div class="item__buy-info">
              <div class="item__qty-container">
                <quantity-control class="item__qty"
                                  [initialValue]="item.qty"
                                  (valueChanged)="onQtyChange(item, $event)"
                ></quantity-control>
              </div>

              <div class="item__row" *ngIf="item.additionalServices?.length">
                <div class="item__additional-service" *ngFor="let service of item.additionalServices">
                  {{ service.name }} (+{{ service.price }} {{ 'global.uah' | translate }})
                </div>
              </div>

              <div class="item__row">
                <span class="item__cost" [class.item__cost--special]="item.oldCost">
                  {{ item.cost }} {{ 'global.uah' | translate }}
                </span>
                <span class="item__old-cost" *ngIf="item.oldCost">
                  {{ item.oldCost }} {{ 'global.uah' | translate }}
                </span>
              </div>
            </div>

            <button class="item__delete" (click)="deleteFromCart(item)" type="button">
              <i class="mbi mbi-trash2"></i>
            </button>
          </div>

        </div>


        <cross-sell-products class="cross-sell"
                             *ngIf="isCrossSellVisible && i === 0"
                             [products]="item.crossSellProducts"
        ></cross-sell-products>
      </ng-container>
    </div>

  </ng-template>
</div>
