@import "variables";
@import "mixins";

.cart {
  @include respond-to($media_large) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__btn {
    display: block;
    width: 100%;
    min-height: 48px;
    margin: 13px 0 0;
    padding-top: 10px;
    padding-bottom: 9px;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;

    @include respond-to($media_medium) {
      margin-top: 18px;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    @include respond-to($media_large) {
      width: 40%;
    }

    &--continue {
      font-size: 16px;

      @include respond-to($media_large) {
        width: 40%;
        margin-right: auto;
      }
    }

    &--checkout {
      border: 2px solid $green;
      background-color: #fdfdfd;

      &:hover {
        background-color: rgba($green, 0.1);
      }
    }
  }

  &__error {
    display: block;
    margin: 20px 0 0;
    padding: 12px 17px 11px;
    border: 1px solid rgba($red, 0.4);
    border-radius: 3px;
    background: rgba($red, 0.15);
    color: red;
    font-size: 14px;
    line-height: 1.3;
  }

  &__info {
    @include respond-to($media_large) {
      position: sticky;
      bottom: 0;
      z-index: 5;
      margin-top: 15px;
      padding: 20px;
      border-top: 2px solid $borderColor;
      background-color: #fff;
    }
  }

  &__cost-error {
    display: block;
    margin: 18px 0 0;
    padding: 13px 15px;
    background: rgba($red, 0.15);
    border: 1px solid rgba($red, 0.4);
    color: red;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.3;
    white-space: pre-line;
  }

  &__btns {
    @include respond-to($media_large) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 0 0 5px;
    font-size: 15px;

    @include respond-to($media_large) {
      justify-content: flex-end;
      font-size: 16px;
    }

    &--total {
      font-size: 20px;
    }
  }

  &__price-label {
    @include respond-to($media_large) {
      text-align: right;
    }
  }

  &__price-value {
    margin: 0 0 0 5px;
    flex-shrink: 0;
    font-weight: 600;

    @include respond-to($media_large) {
      margin-left: 10px;
    }

    &--discount {
      color: darken($red, 20%);
    }

    &--total {
      font-size: 26px;

      @include respond-to($media_large) {
        font-size: 32px;
      }
    }
  }

  &__btn-icon {
    position: relative;
    top: -2px;
    margin: 0 0 0 5px;
    vertical-align: bottom;
    font-size: 14px;
    font-weight: 600;
  }

  &__items {
    position: relative;
    margin: 15px 0 0;

    @include respond-to($media_large) {
      margin-top: 0;
    }

    &--loading {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: block;
        content: '';
        background: rgba(#fff, 0.6);
        opacity: 0;
        animation: fadeIn 0.3s ease 0.5s forwards;
      }
    }
  }

  &__no-items {
    margin: 20px auto;
    font-size: 22px;
    color: rgba($dark, 0.4);
    text-align: center;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 0 0;
  padding: 10px 15px;
  border: 1px solid rgba($dark, 0.15);
  border-radius: 3px;

  @include respond-to($media_large) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:first-child {
    margin-top: 0;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    width: 90px;
    max-height: 120px;
    flex-shrink: 0;

    @include respond-to($media_medium) {
      width: 120px;
    }
  }

  &__img {
    max-height: 100%;
    object-fit: contain;
  }

  &__buy-info {
    @include respond-to(460px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include respond-to($media_medium) {
      justify-content: left;
    }
  }

  &__info {
    flex-grow: 2;
    margin-left: 10px;
  }

  &__name {
    display: block;
    padding: 0 20px 0 0;
    font-size: 14px;
    line-height: 1.2;

    @include respond-to($media_medium) {
      margin: 0;
    }

    @include respond-to($media_large) {
      font-size: 15px;
      line-height: 1;
    }
  }

  &__qty-container {
    margin: 10px 10px 0 0;

    @include respond-to($media_large) {
      margin-top: 15px;
    }
  }

  &__qty {
    display: inline-block;
  }

  &__row {
    flex-shrink: 0;
    margin: 10px 0 0;

    @include respond-to(425px) {
      margin-left: 12px;
    }
  }

  &__label {
    color: rgba($dark, 0.6);
  }

  &__additional-service {
    margin: 4px 0 0;
    font-size: 12px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__cost {
    font-size: 18px;

    &--special {
      color: $red;
    }
  }

  &__old-cost {
    position: relative;
    display: inline-block;
    margin: 3px 0 0;
    font-size: 14px;
    color: rgba($dark, 0.6);

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-bottom: 1px solid;
    }
  }

  &__delete {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 10px;
    font-size: 18px;
    color: rgba($dark, 0.6);
    transition: color 0.2s ease;

    &:hover {
      color: $dark;
    }
  }
}
