<div class="cart">

  <div class="cart__no-items" *ngIf="!items || !items.length; else itemsTmpl">
    Ваша корзина пуста :(
  </div>

  <ng-template #itemsTmpl>
    <div class="cart__info">

      <div class="cart__total">
        Итого:
        <span class="cart__price">{{ cartTotalCost }} грн</span>
      </div>

      <a class="btn cart__checkout" (click)="checkout()" routerLink="/checkout">
        Оформить заказ
      </a>

    </div>

    <div class="cart__error" *ngIf="cartError as error">
      {{ error }}
    </div>

    <div class="cart__items" [class.cart__items--loading]="isLoading">

      <div class="item" *ngFor="let item of items">
        <div class="item__img-container">
          <img class="item__img" [src]="'http://173.249.23.253:3080/' + item.imageUrl" alt="">
        </div>

        <a class="item__name" [routerLink]="['/', item.slug]">
          {{ item.name }}
        </a>

        <div class="item__qty-container">
          <quantity-control class="item__qty"
                            [initialValue]="item.qty"
                            (valueChanged)="onQtyChange(item, $event)"
          ></quantity-control>
        </div>

        <div class="item__row">
          <div class="item__label">Цена</div>

          <div class="item__value">{{ item.totalCost }} грн</div>
        </div>

        <button class="item__delete" (click)="deleteFromCart(item)" type="button">
          <i class="mbi mbi-trash2"></i>
        </button>

      </div>
    </div>

  </ng-template>
</div>
