<ul class="languages">
  <li class="languages__item" *ngFor="let lang of languages">
    <a class="languages__link main-link main-link--black"
       *ngIf="lang.code !== activeLanguageCode; else activeLangTmpl"
       [class.languages__link--big]="size === 'big'"
       [href]="lang.link"
       (click)="changeLang(lang.code)"
    >
      {{ lang.label }}
    </a>

    <ng-template #activeLangTmpl>
      <span class="languages__link languages__link--active" [class.languages__link--big]="size === 'big'">
        {{ lang.label }}
      </span>
    </ng-template>

  </li>
</ul>
