@import "variables";
@import "mixins";

.search {
  &__title {
    margin: 20px 0 0;
    font-size: 24px;
  }

  &__products {
    margin: 20px 0 0;
    display: block;
  }

  &__no-query {
    margin: 40px 0 0;
    padding: 0 20px;
    text-align: center;
    font-size: 32px;
    word-break: break-word;
  }
}
