@import "variables";
@import "mixins";

$breakpoint: 800px;

.personal-info {
  margin: 13px 0 0;

  @include respond-to($breakpoint) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }

  &__form__control {
    @include respond-to($breakpoint) {
      width: calc(50% - 10px);
      margin: 13px 0 0;
    }
  }
}
