<div class="personal-info">

  <div class="form__control-container personal-info__form__control"
       *ngIf="contactForm.get('lastName') as lastName"
       [class.field--invalid]="isControlInvalid(lastName)"
  >
    <label for="addr-lastName" class="form__label">{{ 'global.last_name' | translate }}</label>
    <div class="form__control">
      <input class="form__input" [formControl]="lastName" type="text" id="addr-lastName" inputCapitalize>

      <div class="form__input-error" *ngIf="isControlInvalid(lastName)">
        {{ 'address_form.required_field' | translate }}
      </div>
    </div>
  </div>

  <div class="form__control-container personal-info__form__control"
       *ngIf="contactForm.get('firstName') as firstName"
       [class.field--invalid]="isControlInvalid(firstName)"
  >
    <label for="addr-firstName" class="form__label">{{ 'global.name' | translate }}</label>
    <div class="form__control">
      <input class="form__input" [formControl]="firstName" type="text" id="addr-firstName" inputCapitalize>

      <div class="form__input-error" *ngIf="isControlInvalid(firstName)">
        {{ 'address_form.required_field' | translate }}
      </div>
    </div>
  </div>

  <div class="form__control-container personal-info__form__control"
       *ngIf="contactForm.get('middleName') as middleName"
       [class.field--invalid]="isControlInvalid(middleName)"
  >
    <label for="addr-middleName" class="form__label">{{ 'global.parent_name' | translate }}</label>
    <div class="form__control">
      <input class="form__input" [formControl]="middleName" type="text" id="addr-middleName" inputCapitalize>

      <div class="form__input-error" *ngIf="isControlInvalid(middleName)">
        {{ 'address_form.required_field' | translate }}
      </div>
    </div>
  </div>

  <div class="form__control-container personal-info__form__control"
       *ngIf="contactForm.get('phoneNumber') as phoneNumber"
       [class.field--invalid]="isControlInvalid(phoneNumber)"
  >
    <label for="addr-phone" class="form__label">{{ 'address_form.phone' | translate }}</label>
    <div class="form__control">
      <input class="form__input"
             [formControl]="phoneNumber"
             mask="+00 (000) 000-00-00-00000000000"
             inputmode="tel"
             type="text"
             id="addr-phone"
      >

      <div class="form__input-error" *ngIf="isControlInvalid(phoneNumber)">
        {{ 'address_form.required_field' | translate }}
      </div>
    </div>
  </div>

</div>
