@import "variables";
@import "mixins";

.success {
  &__title {
    text-align: center;
  }

  &__subtitle {
    margin: 15px 0 0;
    font-size: 18px;
    text-align: center;

    @include respond-to($media_large) {
      font-size: 26px;
      margin-top: 13px;
    }
  }

  &__pay-btn {
    position: relative;
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px 20px;
    background: linear-gradient(110deg,#181e2f,#0980ad 40%,#0980ad 60%,#181e2f) center center;
    background-size: 150% 100%;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    transition: all .2s ease;
    z-index: 1;

    &:hover {
      background-size: 220% 100%;
    }
  }

  &__pay-error {
    margin: 20px 0;
    text-align: center;
    color: $red;
  }

  &__pay-success {
    margin: 20px 0;
    text-align: center;
    color: #27b337;
    font-size: 16px;
  }
}

.order-info {
  margin: 20px 0 0;
  padding: 20px 0 0;
  border-top: 1px solid rgba($dark, 0.1);

  @include respond-to($media_large) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__row {
    margin: 15px 0 0;
  }

  &__label {
    color: rgba($dark, 0.4);
    font-size: 12px;
  }

  &__value {
    margin: 3px 0 0;
  }
}

.items {
  margin: 25px 0 0;
  padding: 25px 0 0;
  border-top: 1px solid rgba($dark, 0.1);

  @include respond-to($media_large) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__row {
    margin: 15px 0 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    &--total {
      font-weight: 600;
    }
  }
}

.item {
  margin: 10px 0 0;
  padding: 12px 0;
  display: flex;
  border-bottom: 1px solid rgba($dark, 0.1);

  &__img-container {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    text-align: center;
  }

  &__img {
    max-height: 100%;
  }

  &__info {
    flex-grow: 2;
    margin: 0 0 0 10px;
    padding: 0 20px 0 0;
  }

  &__name {
    font-size: 13px;
    color: $blue;
  }

  &__qty-price {
    margin: 6px 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-weight: 500;
  }
}

.continue-shopping {
  margin: 40px 0 0;
  text-align: center;

  &__btn {
    display: inline-block;
  }
}
