<app-header></app-header>
<div class="page container success" *ngIf="order">
  <breadcrumbs [breadcrumbs]="breadcrumbs"></breadcrumbs>

  <h1 class="page__title success__title">
    {{ 'order_success.thank_for_purchase' | translate }}!
  </h1>

  <h2 class="success__subtitle">{{ 'order_success.your_order' | translate }} №{{ order.id }}</h2>

  <div class="success__pay-error" *ngIf="paymentError as error">
    {{ error | json }}
  </div>

  <div class="success__pay-success" *ngIf="paymentSuccess">
    {{ 'order_success.order_payment_success' | translate }}
  </div>

  <button class="success__pay-btn"
          *ngIf="order.isOnlinePayment && !paymentSuccess"
          (click)="initOnlinePayment()"
          type="button"
  >
    {{ 'order_success.to_pay' | translate }}
  </button>

  <div class="order-info">
    <div class="order-info__title">
      {{ 'order_success.order_info' | translate }}
    </div>

    <div class="order-info__row">
      <div class="order-info__label">
        {{ 'order_success.receiver' | translate }}
      </div>

      <div class="order-info__value">
        {{ order.shipment.recipient.firstName }} {{ order.shipment.recipient.lastName }}, {{ order.shipment.recipient.phone }}
      </div>
    </div>

    <div class="order-info__row">
      <div class="order-info__label">
        {{ 'global.shipment_address' | translate }}
      </div>

      <div class="order-info__value">
        {{ order.shipment.recipient.settlement }}, {{ order.shipment.recipient.address }}
        <span *ngIf="order.shipment.recipient.buildingNumber as buildingNumber">, {{ buildingNumber }}</span>
        <span *ngIf="order.shipment.recipient.flat as flat">, {{ flat }}</span>
      </div>
    </div>

    <div class="order-info__row">
      <div class="order-info__label">
        {{ 'global.shipment_method' | translate }}
      </div>

      <div class="order-info__value">
        {{ order.shippingMethodName }}
      </div>
    </div>

    <div class="order-info__row">
      <div class="order-info__label">
        {{ 'global.payment_method' | translate }}
      </div>

      <div class="order-info__value">
        {{ order.paymentMethodName }}
      </div>
    </div>

    <div class="order-info__row" *ngIf="order.clientNote as note">
      <div class="order-info__label">
        {{ 'order_success.comment' | translate }}
      </div>

      <div class="order-info__value">
        {{ note }}
      </div>
    </div>

    <div class="order-info__row">
      <div class="order-info__label">
        {{ 'global.is_callback_needed' | translate }}
      </div>

      <div class="order-info__value" [ngSwitch]="order.isCallbackNeeded">
        <ng-container *ngSwitchCase="true">{{ 'global.yes' | translate }}</ng-container>
        <ng-container *ngSwitchCase="false">{{ 'global.no' | translate }}</ng-container>
      </div>
    </div>
  </div>

  <div class="items">
    <div class="items__title">
      {{ 'order_success.order_items' | translate }}
    </div>

    <div class="item" *ngFor="let item of order.items">
      <div class="item__img-container">
        <img class="item__img" [src]="uploadedHost + item.imageUrl" loading="lazy">
      </div>

      <div class="item__info">
        <a class="item__name main-link" [langRouterLink]="['/', item.slug]">
          {{ item.name }}
        </a>

        <div class="item__additional-services" *ngIf="item.additionalServices?.length">
          <div class="item__additional-service" *ngFor="let service of item.additionalServices">
            {{ service.name }} (+{{ service.price }}{{ 'global.uah' | translate }})
          </div>
        </div>

        <div class="item__qty-cost">
          <div class="item__qty">
            {{ item.qty }} {{ 'global.pcs' | translate }} {{ 'order_success.in_amount_of' | translate }}
          </div>

          <div class="item__cost-container">
            <span class="item__cost" [class.item__cost--special]="item.oldCost">
              {{ item.cost }} {{ 'global.uah' | translate }}
            </span>
            <span class="item__old-cost" *ngIf="item.oldCost">
              {{ item.oldCost }} {{ 'global.uah' | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="items__row">
      <div class="items__label">{{ 'global.items_cost' | translate }}</div>

      <div class="items__value">{{ order.prices.itemsCost }} {{ 'global.uah' | translate }}</div>
    </div>

    <div class="items__row" *ngIf="order.prices.discountValue as discountValue">
      <div class="items__label">{{ 'global.discount' | translate }} ({{ order.prices.discountLabel }}, {{ order.prices.discountPercent }}%)</div>

      <div class="items__value">{{ discountValue }} {{ 'global.uah' | translate }}</div>
    </div>

    <div class="items__row items__row--total">
      <div class="items__label">{{ 'global.total_cost' | translate }}</div>

      <div class="items__value">{{ order.prices.totalCost }} {{ 'global.uah' | translate }}</div>
    </div>
  </div>

  <div class="continue-shopping">
    <a class="btn continue-shopping__btn" langRouterLink="/">
      {{ 'order_success.continue_shopping' | translate }}
    </a>
  </div>

</div>

<app-footer></app-footer>
