<app-header></app-header>
<div class="page container success" *ngIf="order">
  <breadcrumbs [breadcrumbs]="breadcrumbs"></breadcrumbs>

  <h1 class="page__title success__title">
    Спасибо за покупку!
  </h1>

  <h2 class="success__subtitle">Ваш заказ №{{ order.id }}</h2>

  <div class="success__pay-error" *ngIf="paymentError as error">
    {{ error | json }}
  </div>

  <div class="success__pay-success" *ngIf="paymentSuccess">
    Ваш заказ успешно оплачен
  </div>

  <button class="success__pay-btn"
          *ngIf="order.isOnlinePayment && !paymentSuccess"
          (click)="initOnlinePayment()"
          type="button"
  >
    Оплатить
  </button>

  <div class="order-info">
    <div class="order-info__title">
      Информация о заказе
    </div>

    <div class="order-info__row">
      <div class="order-info__label">
        Получатель
      </div>

      <div class="order-info__value">
        {{ order.shipment.recipient.firstName }} {{ order.shipment.recipient.lastName }}, {{ order.shipment.recipient.phone }}
      </div>
    </div>

    <div class="order-info__row">
      <div class="order-info__label">
        Адрес доставки
      </div>

      <div class="order-info__value">
        {{ order.shipment.recipient.settlement }}, {{ order.shipment.recipient.address }}
        <span *ngIf="order.shipment.recipient.buildingNumber as buildingNumber">, {{ buildingNumber }}</span>
        <span *ngIf="order.shipment.recipient.flat as flat">, {{ flat }}</span>
      </div>
    </div>

    <div class="order-info__row">
      <div class="order-info__label">
        Способ доставки
      </div>

      <div class="order-info__value">
        {{ order.shippingMethodName }}
      </div>
    </div>

    <div class="order-info__row">
      <div class="order-info__label">
        Способ оплаты
      </div>

      <div class="order-info__value">
        {{ order.paymentMethodName }}
      </div>
    </div>

    <div class="order-info__row" *ngIf="order.clientNote as note">
      <div class="order-info__label">
        Ваш комментарий
      </div>

      <div class="order-info__value">
        {{ note }}
      </div>
    </div>

    <div class="order-info__row">
      <div class="order-info__label">
        Перезванивать ли Вам для уточнения заказа?
      </div>

      <div class="order-info__value" [ngSwitch]="order.isCallbackNeeded">
        <ng-container *ngSwitchCase="true">Да</ng-container>
        <ng-container *ngSwitchCase="false">Нет</ng-container>
      </div>
    </div>
  </div>

  <div class="items">
    <div class="items__title">
      Товары в заказе
    </div>

    <div class="item" *ngFor="let item of order.items">
      <div class="item__img-container">
        <img class="item__img" [src]="uploadedHost + item.imageUrl" loading="lazy">
      </div>

      <div class="item__info">
        <a class="item__name main-link" [langRouterLink]="['/', item.slug]">
          {{ item.name }}
        </a>

        <div class="item__additional-services" *ngIf="item.additionalServices?.length">
          <div class="item__additional-service" *ngFor="let service of item.additionalServices">
            {{ service.name }} (+{{ service.price }}{{ 'global.uah' | translate }})
          </div>
        </div>

        <div class="item__qty-cost">
          <div class="item__qty">
            {{ item.qty }} шт. на сумму
          </div>

          <div class="item__cost-container">
            <span class="item__cost" [class.item__cost--special]="item.oldCost">
              {{ item.cost }} {{ 'global.uah' | translate }}
            </span>
            <span class="item__old-cost" *ngIf="item.oldCost">
              {{ item.oldCost }} {{ 'global.uah' | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="items__row">
      <div class="items__label">Стоимость товаров</div>

      <div class="items__value">{{ order.prices.itemsCost }} {{ 'global.uah' | translate }}</div>
    </div>

    <div class="items__row" *ngIf="order.prices.discountValue as discountValue">
      <div class="items__label">{{ 'global.discount' | translate }} ({{ order.prices.discountLabel }}, {{ order.prices.discountPercent }}%)</div>

      <div class="items__value">{{ discountValue }} {{ 'global.uah' | translate }}</div>
    </div>

    <div class="items__row items__row--total">
      <div class="items__label">{{ 'global.total_cost' | translate }}</div>

      <div class="items__value">{{ order.prices.totalCost }} {{ 'global.uah' | translate }}</div>
    </div>
  </div>

  <div class="continue-shopping">
    <a class="btn continue-shopping__btn" langRouterLink="/">
      Продолжить покупки
    </a>
  </div>

</div>

<app-footer></app-footer>
