@import "variables";
@import "mixins";

:host {
  display: block;
  height: 100%;
}

.item {
  $item: &;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__img-secondary {
    display: none;
  }

  &__img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;

    @include respond-to($media_medium) {
      height: 150px;
    }

    &--with-hover {
      &:hover {
        #{$item}__img-primary {
          display: none;
        }
        #{$item}__img-secondary {
          display: initial;
        }
      }
    }
  }

  &__img {
    max-height: 100%;
  }

  &__label {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 1;
    padding: 5px 6px 3px;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;

    &--new {
      background: saturate($green, 5%);
    }

    &--top {
      background: saturate($purple, 5%);
    }
  }

  &__sale-label {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 1;
    padding: 4px 5px;
    background: saturate($red, 8%);
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
  }

  &__name {
    margin: 8px 0 0;
    font-size: 13px;
    line-height: 1.3;
  }

  &__variants {
    display: block;
    margin: 10px 0 0;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__rating {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 7px;
  }

  &__rating-count {
    margin: 0 0 0 5px;
    font-size: 13px;
    color: #666;
  }

  &__price-container {
    @include respond-to($media_medium) {
      width: 50%;
    }
  }

  &__price {
    font-size: 18px;

    &--special {
      color: $red;
    }
  }

  &__currency {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
  }

  &__old-price {
    position: relative;
    display: inline-block;
    margin: 3px 0 0;
    font-size: 14px;
    color: rgba($dark, 0.6);

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      display: block;
      content: '';
      border-bottom: 1px solid;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;

    @include respond-to(375px) {
      justify-content: flex-end;
      margin-top: 0;
      width: 50%;
    }
  }

  &__error {
    display: block;
    margin: 10px 0;
    padding: 12px 17px 11px;
    background: rgba($red, 0.15);
    border: 1px solid rgba($red, 0.4);
    border-radius: 3px;
    color: red;
    font-size: 14px;
    line-height: 1.3;
  }

  &__buy {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: initial;
    border-radius: 3px;
    font-size: 13px;

    @include respond-to(400px)  {
      font-size: 14px;
    }

    &:hover {
      background: darken($action, 3%);
    }

    &--loading {
      color: transparent;
      opacity: 0.8;
    }
  }

  &__out-of-stock {
    display: flex;
    align-items: center;
    min-height: 35px;
    font-size: 14px;
    text-align: center;

    @include respond-to($media_large) {
      font-size: 16px;
    }
  }

  &__preloader {
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translateX(calc(-50% + 3px));
  }

  &__buy-icon {
    margin: 0 4px 0 0;
  }

  &__wishlist-icon {
    font-size: 18px;
  }
}
