<div class="item">
  <header class="item__header">
    <a class="item__img-container" [routerLink]="'/' + item.slug" [class.item__img-container--with-hover]="item.mediaHoverUrl">
      <img class="item__img item__img-primary"
           [src]="uploadedHost + item.mediaUrl"
           [alt]="item.mediaAltText"
      >

      <img class="item__img item__img-secondary"
           *ngIf="item.mediaHoverUrl"
           [src]="uploadedHost + item.mediaHoverUrl"
           [alt]="item.mediaAltText"
      >
    </a>

    <h2 class="item__name">
      <a class="item__link" [routerLink]="'/' + item.slug">{{ item.name }}</a>
    </h2>
  </header>

  <div class="item__info">
    <div class="item__price">
      {{ item.price }} <span class="item__currency">грн</span>
    </div>

    <div class="item__error" *ngIf="error as error">
      {{ error }}
    </div>

    <div class="item__actions">
      <button class="btn item__buy"
              [class.item__buy--loading]="isLoading"
              [disabled]="isLoading"
              (click)="addToCart()"
      >
        <i class="mbi mbi-cart item__buy-icon"></i>
        Купить

        <preloader class="item__preloader" *ngIf="isLoading"></preloader>
      </button>

      <button class="item__wishlist" *ngIf="false" (click)="addToWishlist()">
        <i class="mbi mbi-heart item__wishlist-icon"></i>
      </button>

    </div>
  </div>
</div>
