<div class="item">
  <header class="item__header">
    <a class="item__img-container" [routerLink]="'/' + item.slug" [class.item__img-container--with-hover]="item.mediaHoverUrl">
      <img class="item__img item__img-primary"
           [src]="setItemThumbnail()"
           [alt]="item.mediaAltText"
           loading="lazy"
      >

      <img class="item__img item__img-secondary"
           *ngIf="item.mediaHoverUrl"
           [src]="uploadedHost + item.mediaHoverUrl"
           [alt]="item.mediaAltText"
           loading="lazy"
      >

      <span class="item__sale-label" *ngIf="item.oldPrice">
        -{{ discountValue }}%
      </span>
    </a>

    <h2 class="item__name">
      <a class="item__link" [routerLink]="'/' + item.slug">{{ item.name }}</a>
    </h2>
  </header>

  <product-variants class="item__variants"
                    *ngIf="item.variantGroups?.length"
                    [variantGroups]="item.variantGroups"
  ></product-variants>

  <div class="item__info">
    <a class="item__rating" *ngIf="item.allReviewsCount > 0" [routerLink]="'/' + item.slug" fragment="reviews">
      <rating-stars class="item__rating-cmp"
                    [rating]="item.reviewsAvgRating"
                    [isDisabled]="true"
                    [isSmall]="true"
      ></rating-stars>

      <span class="item__rating-count">{{ item.allReviewsCount }}</span>
    </a>

    <div class="item__error" *ngIf="error as error">
      {{ error }}
    </div>

    <div class="item__price-container">
      <div class="item__price" [class.item__price--special]="item.oldPrice">
        {{ item.price }} <span class="item__currency">грн</span>
      </div>

      <div class="item__old-price" *ngIf="item.oldPrice as oldPrice">
        {{ oldPrice }} <span class="item__currency">грн</span>
      </div>
    </div>

    <div class="item__actions">
      <button class="btn item__buy"
              *ngIf="item.isInStock; else outOfStockTmpl"
              [class.item__buy--loading]="isLoading"
              [disabled]="isLoading"
              (click)="addToCart()"
      >
        <i class="mbi mbi-cart item__buy-icon"></i>
        Купить

        <preloader class="item__preloader" *ngIf="isLoading"></preloader>
      </button>

      <ng-template #outOfStockTmpl>
        <span class="item__out-of-stock">
           Нет в наличии
        </span>
      </ng-template>

      <button class="item__wishlist" *ngIf="false" (click)="addToWishlist()">
        <i class="mbi mbi-heart item__wishlist-icon"></i>
      </button>

    </div>
  </div>
</div>
