@import "variables";
@import "mixins";

.menu {
  @include respond-to($media_large) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__item {
    transition: background-color 0.15s ease;
  }

  &__link-container {
    position: relative;
    border-bottom: 1px solid $borderColor;

    @include respond-to($media_large) {
      border-bottom: none;
    }
  }

  &__link {
    display: block;
    padding: 15px 40px 15px 10px;
    font-size: 19px;
    color: $linkMain;

    @include respond-to($media_large) {
      padding: 11px 40px 11px 20px;
      font-size: 16px;
    }

    &:hover {
      @include respond-to($media_large) {
        color: $linkMainHover;
        text-decoration: underline;
      }
    }
  }

  &__hover-arrow {
    display: none;

    @include respond-to($media_large) {
      display: block;
      position: absolute;
      top: 13px;
      right: 15px;
      font-size: 14px;
    }
  }

  &__expand-arrow {
    position: absolute;
    top: 4px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid $borderColor;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    transform: rotate(0);
    transition: all 0.2s ease;

    @include respond-to($media_large) {
      display: none;
    }

    &--expanded {
      transform: rotate(180deg);
    }
  }

  &__submenu {
    width: 100%;
    max-height: 0;
    margin-bottom: 10px;
    transition: max-height 0.3s ease;
    overflow: hidden;

    @include respond-to($media_large) {
      overflow: initial;
      max-height: initial;
      width: 270px;

      position: absolute;
      left: 100%;
      top: 0;
      min-height: 100%;
      margin: 30px 0 0;
      padding: 10px 0;
      border-left: 1px solid $borderColor;
      background: #fff;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.18s ease, opacity 0.18s ease, margin 0.18s ease;
      box-shadow: 0 1px 3px rgba($dark, 0.12), 0 1px 4px rgba($dark, 0.24);
    }

    &--expanded {
      max-height: 600px;
    }
  }
  &__item:hover &__submenu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
}

.submenu {
  margin: 0;

  &__item {
    transition: background-color 0.15s ease;

    &:hover {
      @include respond-to($media_large) {
      }
    }
  }

  &__link-container {
    position: relative;
    border-bottom: 1px solid $borderColor;

    @include respond-to($media_large) {
      border-bottom: none;
    }
  }

  &__link {
    display: block;
    padding: 15px 5px;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: $borderColor;
    text-align: center;
    font-size: 17px;
    color: $linkMain;


    @include respond-to($media_large) {
      padding: 11px 40px 11px 20px;
      border: none;
      text-align: left;
      font-size: 16px;
    }

    &:hover {
      @include respond-to($media_large) {
        color: $linkMainHover;
        text-decoration: underline;
      }
    }
  }
}
