@import "variables";
@import "mixins";

$arrowSize: 10px;

.product {
  font-size: 16px;

  &__title {
    margin: 10px 0 0;
    font-size: 21px;
    line-height: 1.2;

    @include respond-to($media_medium) {
      font-size: 24px;
      margin: 20px 0 0;
    }
  }

  &__rating-sku {
    margin: 20px 0 0;
    padding: 0 5px 0 0;

    @include respond-to($media_medium) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__sku-container {
    display: flex;
    justify-content: space-between;
  }

  &__sku {
    font-size: 16px;
  }

  &__sku-value {
    color: #999;
  }

  &__vendor-code {
    margin: 0 0 0 30px;
  }

  &__info-container {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $borderColor;

    @include respond-to($media_medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__gallery {
    position: relative;
    display: block;

    @include respond-to($media_medium) {
      width: 48%;
    }
  }

  &__info {
    @include respond-to($media_medium) {
      width: 48%;
    }
  }

  &__store-info {
    margin: 15px 0 0;

    @include respond-to($media_medium) {
      margin-top: 0;
    }
  }

  &__sale-label {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 5px 6px;
    background: saturate($red, 8%);
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
  }

  &__variants {
    display: block;
    margin: 15px 0 0;
  }

  &__error {
    display: block;
    margin: 20px 0 0;
    padding: 12px 17px 11px;
    background: rgba($red, 0.15);
    border: 1px solid rgba($red, 0.4);
    border-radius: 3px;
    color: red;
    font-size: 14px;
    line-height: 1.3;
  }

  &__buy-info {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $borderColor;

    @include respond-to($media_large) {
      display: flex;
      align-items: center;
    }
  }

  &__price-qty {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__stock {
    margin: 0 0 5px;
    font-size: 16px;

    &--available {
      color: #690;
    }
  }

  &__price {
    font-size: 28px;
    font-weight: 600;

    &--special {
      color: $red;
    }
  }

  &__old-price {
    position: relative;
    display: inline-block;
    margin: 4px 0 0;
    font-size: 18px;
    color: rgba($dark, 0.6);

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-bottom: 1px solid;
    }
  }

  &__currency {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
  }

  &__qty {
    margin: 0 0 0 35px;

    @include respond-to($media_large) {
      margin-left: 20px;
    }
  }

  &__additional-services {
    width: 100%;
  }

  &__actions {
    margin: 20px 0 0;
    display: flex;
    justify-content: space-between;

    @include respond-to($media_large) {
      margin: 0 0 0 20px;
    }
  }

  &__buy {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 17px 50px 16px;
    font-size: 24px;
    border-radius: 3px;

    @include respond-to($media_medium) {
      font-size: 20px;
    }

    &--loading {
      color: transparent;
      opacity: 0.8;
    }
  }

  &__preloader {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(calc(-50% + 5px));
  }

  &__buy-icon {
    margin: 0 10px 0 0;
  }

  &__wishlist {
    padding: 0 10px;
  }

  &__wishlist-icon {
    font-size: 26px;
  }

  &__categories {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $borderColor;
    font-size: 16px;
  }

  &__details {
    display: block;
    margin: 30px 0 0;
  }

  &__related {
    display: block;
    margin: 20px 0 0;
  }

  &__category {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 5px 5px 0;
  }

  &__fetch-error {
    padding: 50px 20px;
    font-size: 16px;
    color: $red;
    text-align: center;
  }
}

.placeholder {
  &__title {
    margin: 20px 0 0;
    height: 20px;
  }

  &__sku {
    margin: 15px 0 0;
    height: 16px;
    width: 100px;
  }

  &__image {
    margin: 20px 0 0;
    height: 300px;
  }

  &__short-description {
    margin: 20px 0 0;
    height: 16px;
  }

  &__short-description--2 {
    margin-top: 3px;
  }

  &__short-description--3 {
    margin-top: 3px;
    width: 70%;
  }

  &__price {
    margin: 20px 0 0;
    height: 24px;
    width: 80px;
  }

  &__btn {
    margin: 20px 0 0;
    height: 50px;
    width: 200px;
  }

  &__details {
    margin: 20px 0 0;
    height: 16px;
  }
}

.rating {
  position: relative;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  @include respond-to($media_medium) {
    margin-bottom: auto;
  }


  &__count {
    margin: 0 0 0 8px;
    font-size: 20px;
    color: #666;

    @include respond-to($media_medium) {
      font-size: 16px;
    }
  }

  &__text {
    margin-left: 5px;
    font-size: 16px;
    color: #999;

    @include respond-to($media_medium) {
      font-size: 16px;
    }
  }
}

.rating-tooltip {
  box-sizing: border-box;
  z-index: 2;
  display: inline-block;
  top: 30px;
  left: 170px;
  min-width: 260px;
  border: 1px solid #d9d9d9;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px rgba($dark, 0.3);
  font-size: 15px;
  color: $dark;

  @include respond-to(360px) {
    left: 213px;
  }

  @include respond-to($media_medium) {
    left: calc(100% + 12px);
    right: auto;
    bottom: auto;
    top: 50%;
    box-shadow: 5px 5px 20px rgba($dark, 0.3);
    font-size: 14px;
    transform: translate(0, -50%);

    @include appear('tooltip-right', $translateX: 20px, $translateY: -50%, $translateToY: -50%);
  }

  &::after {
    box-sizing: border-box;
    left: 60px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #d9d9d9;
    background-color: #f3f3f3;

    @include respond-to(360px) {
      left: 7%;
    }

    @include respond-to($media_medium) {
      bottom: auto;
      top: 50%;
      left: -($arrowSize / 2);
      border-width: 0 0 1px 1px;
      transform: translate(0, -50%) rotate(45deg);
    }
  }

  &__close-btn {
    position: absolute;
    z-index: 3;
    top: -10px;
    right: -10px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    background-color: #f3f3f3;
    box-shadow: 2px 2px 6px rgba($dark, 0.3);

    &:hover {
      cursor: pointer;
    }
  }

  &__cross {
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      content: '';
      background: #0842a7;
      transform: rotate(45deg);
    }

    &::after {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      content: '';
      background: #0842a7;
      transform: rotate(-45deg);
    }
  }

  &__rating {
    font-size: 15px;
    font-weight: bolder;
  }

  &__confirmation-btn {
    width: 39px;
    padding: 5px 0;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #e5e5e5;

    &:first-of-type {
      margin-right: 4px;
    }

    &:hover {
      background-color: #eaeaea;
    }
  }
}

.store-info {
  font-size: 14px;

  p {
    margin: 12px 0 0;
    line-height: 1.1;

    @include respond-to($media_large) {
      margin-top: 10px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__tip {
    font-size: 13px;
  }

  &__discount {
    color: darken($red, 20%);
    font-weight: 600;
  }

  &__reviews {
    margin: 3px 0 0;
  }
}

.store-reviews {
  display: inline-flex;
  color: $blue;

  &__text {
    margin-right: 5px;
  }

  &__count {
    margin-left: 5px;
    color: rgba($dark, 0.6);
  }

  &__average {
    color: $primary;
  }

  &__stars {
    margin-left: 5px;
  }
}
