<app-header></app-header>

<div class="page container product">

  <linked-categories [categories]="categories" [isLoading]="!product && !fetchError" ></linked-categories>

  <breadcrumbs class="product__breadcrumbs"
               [breadcrumbs]="breadcrumbs"
               [showLastItem]="false"
               [isLastItemHeading]="false"
               [isBig]="true"
  ></breadcrumbs>

  <div class="product__fetch-error" *ngIf="fetchError as error">
    {{ error }}
  </div>

  <div class="placeholder" *ngIf="!product && !fetchError">
    <div class="placeholder__item placeholder__title"></div>
    <div class="placeholder__item placeholder__text placeholder__text--last placeholder__title"></div>
    <div class="placeholder__item placeholder__sku"></div>
    <div class="placeholder__item placeholder__image"></div>
    <div class="placeholder__item placeholder__short-description"></div>
    <div class="placeholder__item placeholder__price"></div>
    <div class="placeholder__item placeholder__btn"></div>
    <div class="placeholder__item placeholder__details"></div>
    <div class="placeholder__item placeholder__text placeholder__details"></div>
    <div class="placeholder__item placeholder__text placeholder__details"></div>
    <div class="placeholder__item placeholder__text placeholder__text--last placeholder__details"></div>
  </div>

  <ng-container *ngIf="product">
    <h1 class="product__title">
      {{ product.name }}
    </h1>

    <div class="product__rating-sku">

      <div class="product__rating rating">
        <rating-stars [rating]="product.reviewsAvgRating"
                      [isDisabled]="addQuickReviewSuccess"
                      (quickReview)="setQuickReview($event)"
        ></rating-stars>

        <div class="rating__count">{{ product.allReviewsCount }}</div>

        <div class="rating__text" *ngIf="!addQuickReviewError && !addQuickReviewSuccess">оценили</div>
        <div class="rating__text" *ngIf="addQuickReviewError as error">{{ error }}</div>
        <div class="rating__text" *ngIf="addQuickReviewSuccess as success">Спасибо! Ваш голос учтен</div>

        <div class="rating__tooltip tooltip tooltip--bottom" *ngIf="isClosed === false">
          Вы можете нажать на звёздочку для быстрой оценки товара
          <span class="tooltip__close-btn" (click)="closeTooltip()">
            <span class="tooltip__cross"></span>
          </span>
        </div>

        <div class="rating__tooltip tooltip tooltip--bottom" *ngIf="quickReview && quickReview !== null">
          Выбрать оценку <span class="tooltip__rating">{{ quickReview }}</span> ?
          <button class="tooltip__confirmation-btn" (click)="addQuickReview(quickReview)">Да</button>
          <button  class="tooltip__confirmation-btn" (click)="quickReview = null">Нет</button>
        </div>

      </div>

      <div class="product__sku-container">
        <div class="product__sku">
          Код: <span class="product__sku-value">{{ product.sku }}</span>
        </div>

        <div class="product__sku product__vendor-code" *ngIf="product.vendorCode">
          Артикул: <span class="product__sku-value">{{ product.vendorCode }}</span>
        </div>
      </div>
    </div>

    <div class="product__info-container">
      <div class="product__gallery">
        <product-gallery [medias]="product.medias"></product-gallery>

        <span class="product__sale-label" *ngIf="product.oldPrice">
          -{{ discountValue }}%
        </span>
      </div>

      <div class="product__info">

        <div class="product__store-info store-info">
          <p><a class="store-info__link" routerLink="/dostavka-i-oplata">Бесплатная доставка</a> Новой почтой для заказов от 1000 грн <span class="store-info__tip">(кроме габаритных)</span>
          </p>

          <ng-container *ngIf="product.isDiscountApplicable">
            <p><span class="store-info__discount">-5%</span> для заказов от 500 грн</p>
            <p><span class="store-info__discount">-10%</span> для заказов от 1500 грн</p>

            <p class="store-info__tip">(не суммируется с <a class="store-info__link" routerLink="/skidki">накопительными скидками</a> и акциями)</p>
          </ng-container>

          <p>
            Заказы обрабатываются за 1 день!
            <a class="store-info__reviews store-reviews" routerLink="/otzyvy">
              <span class="store-reviews__text">Отзывы о нас</span>
              <span class="store-reviews__average">{{ averageReviewsRating }}</span>
              <rating-stars class="store-reviews__stars" [isSmall]="true" [isDisabled]="true" [rating]="averageReviewsRating"></rating-stars>
              <span class="store-reviews__count">({{ storeReviewsCount }})</span>
            </a>
          </p>
        </div>

        <div class="product__error" *ngIf="addToCartError as error">
          {{ error }}
        </div>

        <div class="product__buy-info">

          <div class="product__price-qty">
            <div class="product__price-container">
              <div class="product__stock" [class.product__stock--available]="product.isInStock">
                <ng-container *ngIf="product.isInStock">В наличии</ng-container>
                <ng-container *ngIf="!product.isInStock">Нет в наличии</ng-container>
              </div>

              <div class="product__price" [class.product__price--special]="product.oldPrice">
                {{ product.price }} <span class="product__currency">грн</span>
              </div>

              <div class="product__old-price" *ngIf="product.oldPrice as oldPrice">
                {{ oldPrice }} <span class="product__currency">грн</span>
              </div>
            </div>

            <div class="product__qty" *ngIf="product.isInStock">
              <quantity-control></quantity-control>
            </div>
          </div>

          <div class="product__actions">
            <button class="btn product__buy"
                    *ngIf="product.isInStock"
                    [class.product__buy--loading]="isLoading"
                    [disabled]="isLoading"
                    [flyToCart]="product.medias[0]"
                    (click)="addToCart()"
                    type="button"
            >
              <i class="mbi mbi-cart product__buy-icon"></i>
              Купить

              <preloader class="product__preloader" *ngIf="isLoading"></preloader>
            </button>

            <button class="product__wishlist" *ngIf="false" (click)="addToWishlist()" type="button">
              <i class="mbi mbi-heart product__wishlist-icon"></i>
            </button>
          </div>
        </div>

        <div class="product__categories">
          Категории:&nbsp;

          <a class="product__category"
             *ngFor="let category of product.categories, last as last"
             [routerLink]="'/' + category.slug"
          >
            {{ category.name }}
          </a>
        </div>
      </div>
    </div>

    <product-details class="product__details" [product]="product"></product-details>

    <aggregated-products [productId]="product.productId"></aggregated-products>

    <products-preview class="product__related" [ids]="getRelatedProductsIds()" [type]="'linkedProducts'"></products-preview>

  </ng-container>

  <recently-viewed-products></recently-viewed-products>

</div>

<app-footer></app-footer>
