<app-header></app-header>

<div class="page container product">

  <linked-categories [categories]="categories" [isLoading]="!product && !fetchError" ></linked-categories>

  <breadcrumbs class="product__breadcrumbs"
               [breadcrumbs]="breadcrumbs"
               [showLastItem]="false"
               [isBig]="true"
  ></breadcrumbs>

  <div class="product__fetch-error" *ngIf="fetchError as error">
    {{ error }}
  </div>

  <div class="placeholder" *ngIf="!product && !fetchError">
    <div class="placeholder__item placeholder__title"></div>
    <div class="placeholder__item placeholder__text placeholder__text--last placeholder__title"></div>
    <div class="placeholder__item placeholder__sku"></div>
    <div class="placeholder__item placeholder__image"></div>
    <div class="placeholder__item placeholder__short-description"></div>
    <div class="placeholder__item placeholder__price"></div>
    <div class="placeholder__item placeholder__btn"></div>
    <div class="placeholder__item placeholder__details"></div>
    <div class="placeholder__item placeholder__text placeholder__details"></div>
    <div class="placeholder__item placeholder__text placeholder__details"></div>
    <div class="placeholder__item placeholder__text placeholder__text--last placeholder__details"></div>
  </div>

  <ng-container *ngIf="product">
    <h1 class="product__title">
      {{ product.name }}
    </h1>

    <div class="product__rating-sku">

      <product-rating [reviewsAvgRating]="product.reviewsAvgRating"
                      [allReviewsCount]="product.allReviewsCount"
                      [productId]="product.id"
                      (reviewsUpdated)="onReviewsUpdated($event)"
      ></product-rating>

      <div class="product__sku-container product__sku-container--top">
        <ng-container *ngTemplateOutlet="skuTmpl"></ng-container>
      </div>
    </div>

    <div class="product__info-container">
      <div class="product__gallery">
        <product-gallery [medias]="product.medias"></product-gallery>

        <span class="product__label" [class.product__label--few-medias]="product.medias.length > 1" [ngClass]="getLabelClass()" *ngIf="product.label">
          {{ product.label.text }}
        </span>

        <span class="product__sale-label" *ngIf="product.oldPrice">
          -{{ discountValue }}%
        </span>
      </div>

      <div class="product__info">

        <div class="product__store-info store-info">
          <p><a class="store-info__link main-link" langRouterLink="/dostavka-i-oplata">{{ 'product.free_shipment' | translate }}</a> {{ 'product.for_orders_from' | translate }} 1000 {{ 'global.uah' | translate }} <span class="store-info__tip">({{ 'product.except_overall' | translate }})</span>
          </p>

          <p *ngIf="product.isDiscountApplicable">
            <span class="store-info__discount">-5%</span> {{ 'product.for_orders_from' | translate }} 500 {{ 'global.uah' | translate }}<br>
            <span class="store-info__discount">-10%</span> {{ 'product.for_orders_from' | translate }} 1500 {{ 'global.uah' | translate }}<br>
            <span class="store-info__tip">({{ 'product.not_sum_up_with' | translate }} <a class="store-info__link main-link" langRouterLink="/skidki">{{ 'product.discounts' | translate }}</a> {{ 'product.sales' | translate }})</span>
          </p>

          <p>
            {{ 'product.order_processing_in_a_day' | translate }}!
            <a class="store-info__reviews store-reviews" langRouterLink="/otzyvy">
              <span class="store-reviews__text main-link">{{ 'global.store_reviews' | translate }}</span>
              <span class="store-reviews__average">{{ averageReviewsRating }}</span>
              <rating-stars class="store-reviews__stars" [isSmall]="true" [isDisabled]="true" [rating]="averageReviewsRating"></rating-stars>
              <span class="store-reviews__count">({{ storeReviewsCount }})</span>
            </a>
          </p>
        </div>

        <product-variants class="product__variants"
                          *ngIf="product.variantGroups?.length"
                          [variantGroups]="product.variantGroups"
                          [isBigSize]="true"
        ></product-variants>

        <div class="product__error" *ngIf="addToCartError as error">
          {{ error }}
        </div>

        <div class="product__buy-info">

          <div class="product__price-qty">
            <div class="product__price-container">
              <div class="product__stock" [class.product__stock--available]="product.isInStock">
                <ng-container *ngIf="product.isInStock">{{ 'product.in_stock' | translate }}</ng-container>
                <ng-container *ngIf="!product.isInStock">{{ 'product.out_of_stock' | translate }}</ng-container>
              </div>

              <div class="product__price" [class.product__price--special]="product.oldPrice">
                {{ product.price }} <span class="product__currency">{{ 'global.uah' | translate }}</span>
              </div>

              <div class="product__old-price" *ngIf="product.oldPrice as oldPrice">
                {{ oldPrice }} <span class="product__currency">{{ 'global.uah' | translate }}</span>
              </div>
            </div>

            <div class="product__qty" *ngIf="product.isInStock">
              <quantity-control></quantity-control>
            </div>

            <div class="product__sku-container product__sku-container--bottom">
              <ng-container *ngTemplateOutlet="skuTmpl"></ng-container>
            </div>

            <additional-services class="product__additional-services"
                                 [ids]="product.additionalServiceIds"
            ></additional-services>
          </div>

          <div class="product__actions">
            <button class="btn product__buy"
                    *ngIf="product.isInStock"
                    [class.product__buy--loading]="isLoading"
                    [disabled]="isLoading"
                    (click)="addToCart()"
                    type="button"
            >
              <i class="mbi mbi-cart product__buy-icon"></i>
              {{ 'global.to_buy' | translate }}

              <preloader class="product__preloader" *ngIf="isLoading"></preloader>
            </button>

            <button class="product__wishlist" *ngIf="false" (click)="addToWishlist()" type="button">
              <i class="mbi mbi-heart product__wishlist-icon"></i>
            </button>
          </div>
        </div>

        <div class="product__categories">
          {{ 'global.categories' | translate }}:&nbsp;

          <a class="product__category main-link"
             *ngFor="let category of product.categories, last as last"
             [langRouterLink]="'/' + category.slug"
          >
            {{ category.name }}
          </a>
        </div>
      </div>
    </div>

    <product-details class="product__details" [product]="product"></product-details>

    <aggregated-products [productId]="product.productId"></aggregated-products>

    <products-preview class="product__related"
                      [ids]="getRelatedProductsIds()"
                      [type]="'linkedProducts'"
                      parentNameForAnalytics="Related products"
    ></products-preview>

  </ng-container>

  <recently-viewed-products></recently-viewed-products>

</div>

<app-footer></app-footer>

<ng-template #skuTmpl>
  <div class="product__sku">
    {{ 'product.sku' | translate }}: <span class="product__sku-value">{{ product.sku }}</span>
  </div>

  <div class="product__sku product__vendor-code" *ngIf="product.vendorCode">
    {{ 'product.vendor_code' | translate }}: <span class="product__sku-value">{{ product.vendorCode }}</span>
  </div>
</ng-template>
