@import "variables";

.product {
  font-size: 16px;

  &__title {
    margin: 20px 0 0;
    font-size: 24px;
    line-height: 1.2;
  }

  &__ratin-sku {
    margin: 20px 0 0;
    padding: 0 5px 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__rating {
    width: 50%;
    position: relative;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  &__rating-count {
    margin: 0 0 0 8px;
    color: #666;
  }

  &__sku-container {
    display: flex;
    justify-content: space-between;

    &--with-vendor {
      margin: 10px 0 0;
      width: 100%;
    }
  }

  &__sku {
    font-size: 16px;
  }

  &__sku-value {
    color: #999;
  }

  &__sku + &__vendor-code {
    //margin: 0 0 0 10px;
    //padding: 0 0 0 10px;
    //border-left: 1px solid $borderColor;
  }

  &__gallery {
    display: block;
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $borderColor;
  }

  &__short-description {
    margin: 20px 0 0;
    font-size: 16px;
    line-height: 1.3;
  }

  &__error {
    display: block;
    margin: 20px 0 0;
    padding: 12px 17px 15px;
    background: rgba($red, 0.15);
    border: 1px solid rgba($red, 0.4);
    color: red;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.3;
  }

  &__price {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $borderColor;
    font-size: 24px;
  }

  &__qty {
    margin: 15px 0 0;
  }

  &__actions {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__buy {
    position: relative;
    display: flex;
    align-items: center;
    padding: 13px 50px 14px;
    font-size: 20px;
    border-radius: 3px;

    &--loading {
      color: transparent;
      opacity: 0.8;
    }
  }

  &__preloader {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(calc(-50% + 5px));
  }

  &__buy-icon {
    margin: 0 10px 0 0;
  }

  &__wishlist {
    padding: 0 10px;
  }

  &__wishlist-icon {
    font-size: 26px;
  }

  &__categories {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $borderColor;
    font-size: 16px;
  }

  &__details {
    display: block;
    margin: 20px 0 0;
  }

  &__category {
    color: $blue;
  }
}
