@import "variables";

.product {
  font-size: 16px;

  &__title {
    margin: 20px 0 0;
    font-size: 24px;
    line-height: 1.2;
  }

  &__sku-container {
    margin: 20px 0 0;
    padding: 0 5px 0 0;
    display: flex;
    align-items: center;
  }

  &__rating {
    width: 50%;
    position: relative;
    margin-right: auto;
  }

  &__sku {
    font-size: 16px;
  }

  &__sku-value {
    color: #999;
  }

  &__gallery {
    display: block;
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $borderColor;
  }

  &__short-description {
    margin: 20px 0 0;
    font-size: 16px;
    line-height: 1.3;
  }

  &__price {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $borderColor;
    font-size: 24px;
  }

  &__qty {
    margin: 15px 0 0;
  }

  &__actions {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__buy {
    display: flex;
    align-items: center;
    padding: 13px 50px 14px;
    font-size: 20px;
    border-radius: 3px;
  }

  &__buy-icon {
    margin: 0 10px 0 0;
  }

  &__wishlist {
    padding: 0 10px;
  }

  &__wishlist-icon {
    font-size: 26px;
  }

  &__categories {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $borderColor;
    font-size: 16px;
  }

  &__details {
    display: block;
    margin: 20px 0 0;
  }

  &__category {
    color: $blue;
  }
}


.qty {
  position: relative;
  display: inline-block;
  border: 1px solid #d9d9d9;

  &__control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--inc {
      right: 0;
    }

    &--dec {
      left: 0;
    }
  }

  &__control-icon {
    font-size: 12px;
  }

  &__input {
    width: 120px;
    height: 52px;
    padding: 0 40px;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
