@import "../abstracts/mixins";

.container {
  padding: 0 8px;

  @include respond-to($media_medium) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include respond-to($media_large) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include respond-to($media_max-content-width) {
    max-width: 1600px;
    margin: 0 auto;
    padding-right: 32px;
    padding-left: 32px;
  }
}
