@import "variables";

.review {
  padding: 0 0 20px;
  border-bottom: 1px solid #d3d3d3;

  &__votes-count {
    font-size: 14.4px;
    color: #999;
  }

  &__rating {
    margin: 10px 0;
  }

  &__name-container {
    font-size: 12px;
    color: #999;

    &--manager {
      color: rgba($dark, 0.8);
    }
  }

  &__name {
    font-weight: 600;
  }

  &__text {
    margin: 15px 0 0;
    font-size: 15px;
    word-break: break-word;
    line-height: 1.5;
    color: #5b6064;
  }

  &__actions {
    margin: 20px 0 0;
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  &__medias {
    margin: 15px 0 0;
  }

  &__medias + &__actions {
    margin-top: 5px;
  }

  &__add-comment {
    margin: 0 10px 0 0;
    padding: 0 7px 0 0;
    border-right: 1px solid #d3d3d3;
  }

  &__vote {
    display: flex;
    align-items: center;
    color: #737373;
  }

  &__vote-btn {
    margin: 0 0 0 5px;
    padding: 3px 7px 4px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204,204,204,.3);
    font-size: 11px;
    color: $dark;
  }

  &__comment {
    $commentBg: #f4f4f4;

    &--manager {
      $commentBg: #fff8e6;
    }

    position: relative;
    margin: 12px 0 0;
    padding: 10px 12px;
    background: $commentBg;
    border-radius: 6px;
    line-height: 1.2;

    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 30px;
      border-width: 6px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: $commentBg;
    }
  }

  &__comment-text {
    font-size: 13px;
    margin: 5px 0 0;
  }

  &__comment-form {
    margin-top: 20px;
  }
}

.comment-form {
  padding-top: 15px;
  padding-bottom: 20px;

  &__title {
    font-weight: 600;
  }

  &__control {
    margin: 15px 0 0;
  }

  &__label {
  }

  &__input {
    display: block;
    width: 100%;
    margin: 3px 0 0;
    padding: 0 9px;
    min-height: 32px;
    background: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    vertical-align: baseline;
    resize: vertical;
    line-height: 22px;
  }

  &__submit {
    margin: 25px 0 0;
    padding: 12px 15px;
    background: $primary;
    border-radius: 3px;
    font-weight: 600;
  }

  &__cancel {
    margin: 15px 0 0 10px;
  }
}
