@import "variables";
@import "mixins";

.category {
  &__title {
    margin: 20px 0 0;
    font-size: 24px;
  }

  &__products {
    margin: 20px 0 0;
    display: block;
  }

  &__description {
    margin: 40px 0 0;
  }
}
