<app-header></app-header>

<div class="page container category">

  <linked-categories [categories]="siblingCategories" [isLoading]="!category && !error"></linked-categories>

  <breadcrumbs [breadcrumbs]="breadcrumbs" [isBig]="true"></breadcrumbs>

  <ul class="child-categories" *ngIf="childCategories.length">
    <li class="child-categories__category" *ngFor="let category of childCategories">
      <a class="child-categories__link" [routerLink]="'/' + category.slug">
        <img class="child-categories__img" [src]="getCategoryImage(category)" [alt]="category.name" loading="lazy">
        <div class="child-categories__name"> {{ category.name }} </div>
      </a>
    </li>
  </ul>

  <div class="category__container">

    <div class="category__error" *ngIf="error as error">
      {{ error }}
    </div>

    <ng-container *ngIf="category">

      <product-list class="category__products"
                    [initialFilters]="productListFilters"
                    [parentNameForAnalytics]="'Category'"
                    [defaultSortOption]="defaultSortOption"
      ></product-list>

      <h1 class="category__heading">
        {{ heading }}
      </h1>

      <div class="category__description html-description" [innerHTML]="safeDescription"></div>
    </ng-container>
  </div>

  <recently-viewed-products></recently-viewed-products>

</div>

<app-footer></app-footer>
