@import "variables";
@import "mixins";

.category {
  &__title {
    margin: 20px 0 0;
    font-size: 24px;
  }

  &__products {
    margin: 20px 0 0;
    display: block;
  }

  &__heading {
    margin: 30px 0 0;
    font-size: 24px;
  }

  &__description {
    margin: 20px 0 0;
  }

  &__error {
    margin: 40px 0 0;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    color: $red;
    word-break: break-word;
  }
}

.placeholder {
  &__title {
    margin: 20px 0 100px;
    height: 24px;
    width: 200px;
  }
}

.child-categories {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px 0;

  @include respond-to($media_medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__category {
    width: 100%;
    margin: 3px 0;
  /*     color: $linkMain;

    & > :hover {
      color: $linkMainHover;
      text-decoration: underline;
    } */

    @include respond-to($media_medium) {
      width: 33.33%;
      padding: 0 5px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 0 3px #c3c3c3;

    @include respond-to($media_medium) {
      padding: 10px 15px;

      &:hover {
        background-color: rgba($grey, 0.1);
        box-shadow: 1px 1px 6px 0 #cccccc;
        transition: all 0.2s ease-in-out;
        color: $dark;
      }
    }
  }

  &__img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 10px;
    border-radius: 3px;
  }

  &__name {
    @include respond-to($media_medium) {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
