@import "variables";
@import "mixins";

.category {
  &__title {
    margin: 20px 0 0;
    font-size: 24px;
  }

  &__products {
    margin: 20px 0 0;
    display: block;
  }

  &__description {
    margin: 40px 0 0;
  }

  &__error {
    margin: 40px 0 0;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    color: $red;
    word-break: break-word;
  }
}

.placeholder {
  &__title {
    margin: 20px 0 100px;
    height: 24px;
    width: 200px;
  }
}

.categories {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  overflow: auto;

  @include respond-to($media_medium) {
    margin-top: 20px;
  }

  &__category {
    width: 85px;
    margin: 5px 3px;
    padding-top: 8px;
    flex-shrink: 0;

    @include respond-to($media_medium) {
      width: 95px;
      padding-top: 5px;
      margin: 0 7px 2px;
      justify-content: center;
    }

    &:first-child {
      margin-left: 3px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px 0 #e7e7e7;

    @include respond-to($media_medium) {
      height: 95px;
    }

    &--selected {
      border: 3px solid $primary;
    }
  }

  &__name {
    margin: 10px 0 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.child-categories {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
  padding: 5px 0;
  overflow: auto;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: 215px;
    height: 100%;
    margin: 0 5px;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    background-color: #f6f6f6;
    box-shadow: 0 0 3px $borderColor;

    @include respond-to($media_medium) {
      padding: 10px 15px;

      &:hover {
        background-color: #f3f3f3;
        box-shadow: 1px 1px 6px 0 #cccccc;
        transition: all 0.2s ease-in-out;
        color: $dark;
      }
    }
  }
}
