<div class="toolbar-item account">

  <a class="account__link" *ngIf="isLoggedIn; else notLoggedTmpl" [langRouterLink]="['/', 'account']">
    <i class="toolbar-item__icon mbi mbi-user"></i>

    <div class="account__login-text">{{ customerName }}</div>
  </a>

  <ng-template #notLoggedTmpl>
    <button class="account__link" (click)="onLoginClick()">
      <i class="toolbar-item__icon mbi mbi-user"></i>

      <span class="account__login-text">Войти</span>
    </button>
  </ng-template>

  <ul class="account__menu" *ngIf="isLoggedIn">
    <li>
      <a class="account__menu-link" [langRouterLink]="['/', 'account']">Мой кабинет</a>
    </li>
    <li>
      <a class="account__menu-link" [langRouterLink]="['/', 'cart']">Моя корзина</a>
    </li>
    <li>
      <a class="account__menu-link" [langRouterLink]="['/', 'account', 'orders']">Мои заказы</a>
    </li>
    <li>
      <a class="account__menu-link" (click)="logout()">Выход</a>
    </li>
  </ul>
</div>
