<div [ngSwitch]="displayedOnPage" *ngIf="pagesTotal > 1 && activePage !== pagesTotal ">
  <button *ngSwitchCase="'products-list'" class="load-more-btn" (click)="loadMoreItems()">
    <img class="load-more-btn__img" src="/assets/images/arrows.svg" alt="load more button">
    Загрузить еще 36 товаров
  </button>

  <button *ngSwitchCase="'blog'" class="load-more-btn" (click)="loadMoreItems()">
    <img class="load-more-btn__img" src="/assets/images/arrows.svg" alt="load more button">
    Загрузить еще
  </button>
</div>


<div class="pagination">
<!--  <button class="pagination__load-next" (click)="loadNextItems()" type="button"></button>-->

  <div class="pagination__actions">
    <button class="pagination__arrow-btn pagination__arrow-btn--prev"
            [disabled]="isPrevBtnDisabled"
            (click)="selectPrevPage()"
    >
      <i class="mbi mbi-chevron-left"></i>
    </button>

    <ul class="pagination__pages">
      <li class="pagination__page"
          [class.pagination__page--active]="1 === activePage && pagesTotal > 1"
          (click)="selectPage(1, false)"
      >
        1
      </li>

      <li class="pagination__spread" *ngIf="isPrevSpreadShown()">
        ...
      </li>

      <li class="pagination__page"
          *ngFor="let page of pages"
          [class.pagination__page--active]="page === activePage"
          (click)="selectPage(page, false)"
      >
        {{ page }}
      </li>

      <li class="pagination__spread" *ngIf="isNextSpreadShown()">
        ...
      </li>

      <li class="pagination__page"
          *ngIf="pagesTotal > 1"
          [class.pagination__page--active]="pagesTotal === activePage"
          (click)="selectPage(pagesTotal, false)"
      >
        {{ pagesTotal }}
      </li>
    </ul>

    <button class="pagination__arrow-btn pagination__arrow-btn--next"
            [disabled]="isNextBtnDisabled"
            (click)="selectNextPage()"
    >
      <i class="mbi mbi-chevron-right"></i>
    </button>
  </div>
</div>
