@import "src/assets/styles/abstracts/variables";

.pagination {
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow-btn {
    padding: 15px;
    font-size: 22px;

    &[disabled] {
      opacity: 0.2;
    }
  }

  &__pages {
    display: flex;
    align-items: baseline;
    font-size: 16px;
  }

  &__page {
    padding: 6px 8px;
    transition: color 0.2s ease;
    cursor: pointer;

    &:not(&--active):hover {
      color: rgba($primary, 0.6);
    }

    &--active {
      color: darken($primary, 5%);
    }
  }

  &__spread {
    margin-left: 5px;
    margin-right: 5px;
  }
}
