@import "variables";
@import "mixins";

.reviews {
  &__add {
    display: block;
    margin: 10px;
    padding-bottom: 0;
    font-size: 18px;
    text-align: center;

    @include respond-to($media_medium) {
      margin: 10px 0 0;
    }
  }

  &__review {
    display: block;
    margin: 15px 0 0;
  }
}
