@import "variables";
@import "mixins";

.fixed-container {  
  display: block;
  height: auto;
  min-height: 35px;
  padding: 0;

  @include respond-to($media_large) {
    padding: 0 0 15px 0;
  }
  
}

.fixed {
  @include respond-to-less-than($media_medium) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 2px 8px 5px 8px;
    border-bottom: 1px solid $borderColor;
    background-color: $white;
  }
}

.product-list {
  @include respond-to($media_large) {
    display: block;
  }

  &__container {
    display: block;

    @include respond-to($media_large) {
      display: flex;
    }
  }
  
  &__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 22;
    display: flex;
    flex-wrap: wrap;    
    width: 70%;
    min-width: 290px;
    padding: 20px 15px 60px;
    background: $white;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    overflow-y: auto;

    @include respond-to($media_large) {
      width: 290px;
      flex-shrink: 0;
      position: static;
<<<<<<< HEAD
=======
      flex-shrink: 0;
      width: 290px;     
>>>>>>> 68a1e2672c49425885179d67d0b59ea61bca6dc8
      padding: 0 5px;    
      transform: none;
    }

    &--opened {
      transform: translateX(0);
    }
  }

  &__content {
    @include respond-to($media_large) {
      flex-grow: 2;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    @include respond-to($media_large) {
      min-height: 42px;
    }
    
  }

  &__filter-toggle {
    width: 50%;
    height: 35px;
    margin: 0 16px 0 0;
    font-size: 16px;

    @include respond-to($media_large) {
      display: none !important;
      font-size: 14px;
    }
  }

  &__sorting {
    width: 50%;

    @include respond-to($media_large) {
      width: auto;
      margin-left: auto;      
    }
  }

  &__selected-filters {
    align-items: center;
    display: none;

    @include respond-to($media_large) {
      display: block;     
    }
  }

  &__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 0;    
    border-top: 1px solid $borderColor;
  }

  &__item {
    width: 50%;
    padding: 8px 8px 20px;
    border-right: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    @include respond-to($media_medium) {
      width: 33.333%;
      padding: 16px 16px 20px;
    }

    @include respond-to($media_max-content-width) {
      width: 25%;
      padding: 20px 20px 25px;
    }
  }

  &__pagination {
    display: block;
    margin: 30px 0 0;
  }

  &__no-items,
  &__error {
    width: 100%;
    margin: 50px 0;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
  }

  &__no-items {
    color: rgba($dark, 0.6);
  }

  &__error {
    color: $red;
    word-break: break-word;
  }

  &__preloader-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &--overlay {
      background: rgba(#fff, 0.6);
    }
  }

  &__preloader {
    margin: 15vh 0;
  }
}

.sidebar {

  &__active-filters {
    display: block;
    padding: 0 0 15px 0;

    @include respond-to($media_large) {
      display: none;
    }
  }

  &__filters {
    display: block;
    width: 100%;
  }
}

.filter-toggle {
  display: inline-block;
  padding: 9px 15px 10px;
  background: $primary;
  border-radius: 3px;

  &__icon {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 0 5px;
    font-size: 12px;
    font-weight: 600;    
    transform: rotate(45deg);
  }
}

.placeholder {
  &__image {
    height: 150px;
  }

  &__name {
    margin: 8px 0 0;
    height: 12px;
  }

  &__price {
    height: 16px;
    width: 40%;
    margin: 10px 0 0;
  }

  &__btn {
    height: 35px;
    width: 60%;
    margin: 15px 0 0;
  }

  &__categories-name {
    height: 14px;
  }
}

.overlay {
  background: rgba(#000, 0);
  transition: background-color 0.5s ease;
  z-index: 20;

  &--visible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.7);
  }

  &__close {
    z-index: 21;
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
    font-size: 25px;
    color: $white;
    
    @include respond-to($media_large) {
      display: none;
    }
  }

  &--visible &__close {
    display: block;
  }
}
