<div class="product-list">
  <aside class="product-list__sidebar">
    <app-filter class="product-list__filter"
                [filters]="filters"
                [filteredCount]="filteredCount"
                (valueChanged)="onFiltersChange()"
    ></app-filter>
  </aside>

  <main class="product-list__content">


    <div class="fixed-container">
      <div class="product-list__header" #headerRef>

        <button class="product-list__filter-toggle filter-toggle" (click)="openFilters()" [ngClass]="{ fixed: isFixed }">
          Фильтры
          <i class="mbi mbi-cross filter-toggle__icon"></i>
        </button>

        <div class="product-list__selected-filters"></div>

        <sorting class="product-list__sorting" (valueChanged)="fetchProducts()" [elementPosition]="elementPosition"></sorting>
      </div>
    </div>

    <ol class="product-list__items" #itemsRef>

      <li class="product-list__item" *ngFor="let item of items" #itemRef>
        <product-list-item [item]="item"></product-list-item>
      </li>

      <li class="product-list__preloader-container"
          *ngIf="isLoading"
          [class.product-list__preloader-container--overlay]="items"
      >
        <preloader class="product-list__preloader"></preloader>
      </li>

      <ng-container *ngIf="!items && !error">
        <li class="product-list__item placeholder" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
          <div class="placeholder__item placeholder__image"></div>
          <div class="placeholder__item placeholder__name"></div>
          <div class="placeholder__item placeholder__text placeholder__text--last placeholder__name"></div>
          <div class="placeholder__item placeholder__price"></div>
          <div class="placeholder__item placeholder__btn"></div>
        </li>
      </ng-container>

      <li class="product-list__no-items" *ngIf="items?.length === 0">
        По заданным параметрам не найдено ни одного товара
      </li>

      <li class="product-list__error" *ngIf="error as error">
        {{ error }}
      </li>
    </ol>

    <pagination class="product-list__pagination"
                [pagesTotal]="pagesTotal"
                [displayedOnPage]="'products-list'"
                (pagination)="onPagination()"
                (paginationWithLoadMoreBtn)="onPaginationWithLoadMoreBtn()"
                #paginationRef
    ></pagination>
  </main>
</div>
