<app-header></app-header>

<div class="page container not-found">
  <breadcrumbs [breadcrumbs]="[{ title: 'Накопительные скидки' }]"></breadcrumbs>

  <h1 class="page__title">Накопительные скидки в магазине "Клондайк"</h1>

  <div class="page__content info-page">
    <p>Скидка рассчитывается автоматически для заказов через корзину.</p>
    <p>Для правильного расчёта скидки и учёта завершённых заказов оформляйте заказ после входа в <a routerLink="/account">Мой кабинет</a> (авторизации на сайте). Скидки начисляются только зарегистрированным на сайте клиентам. При оформении без входа на сайт заказ не учитывается при расчёте накопительной скидки на последующие заказы.</p>
    <p>Размер накопительной скидки рассчитывается на основе суммы всех Ваших предыдущих <strong>завершённых</strong> заказов.</p>
    <p>Проверить завершён ли Ваш заказ можно после входа в Мой кабинет на странице <a routerLink="/account/orders">Мои заказы</a>. Проверить сумму всех Ваших завершённых заказов можно после входа в Мой кабинет на странице <a routerLink="/account/discount">Мои скидки</a>.</p>
    <p><strong>Заказы переводятся в завершённые (статус "Отправлен: Завершён") через 14 дней после получения посылки.</strong></p>
    <p>Накопительная скидка распространяется на все товары кроме акционных и товаров из категории "Сусаль" (на сусальное золото скидок нет).</p>
    <p>
      Завершённых заказов на сумму от <strong>500</strong> до <strong>1499</strong> грн скидка    <strong>3%</strong><br>
      Завершённых заказов на сумму от <strong>1500</strong> до <strong>2999</strong> грн скидка    <strong>5%</strong><br>
      Завершённых заказов на сумму от <strong>3000</strong> до <strong>4999</strong> грн скидка    <strong>7%</strong><br>
      Завершённых заказов на сумму от <strong>5000</strong> грн скидка <strong>10%</strong>
    </p>
    <p>Администрация магазина оставляет за собой право изменять условия дисконтной программы.</p>
  </div>
</div>

<app-footer></app-footer>
