<div class="gallery" *ngIf="isModalVisible">
  <div class="gallery__overlay" (click)="closeModal()"></div>

  <img class="gallery__img"
       *ngIf="medias[activeMediaIdx] as media"
       [src]="uploadedHost + media.variantsUrls[imageForModalProp]"
       [alt]="media.altText"
       loading="lazy"
  >

  <button class="gallery__btn gallery__close" (click)="closeModal()">
    <i class="mbi mbi-cross"></i>
  </button>

  <button class="gallery__btn gallery__arrow gallery__arrow--prev"
          *ngIf="medias.length > 1"
          (click)="prev()"
  >
    <i class="mbi mbi-chevron-left"></i>
  </button>

  <button class="gallery__btn gallery__arrow gallery__arrow--next"
          *ngIf="medias.length > 1"
          (click)="next()"
  >
    <i class="mbi mbi-chevron-right"></i>
  </button>
</div>
