@import "variables";

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: fadeIn 0.2s ease;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.7);
    animation: backdrop 1s ease forwards;
    z-index: 10;
  }

  &__img,
  &__btn {
    z-index: 11;
  }

  &__btn {
    position: absolute;
    font-size: 36px;
    color: rgba($dark, 0.6);
    background: rgba(#fff, 0.3);
  }

  &__close {
    top: 0;
    right: 0;
    padding: 15px;
  }

  &__arrow {
    padding: 15px 10px 12px;

    &--prev {
      left: 0;
      padding-left: 8px;
    }

    &--next {
      right: 0;
      padding-right: 8px;
    }
  }
}

@keyframes backdrop {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(4px);
  }
}
