<app-header [isSidebarCatalog]="true"></app-header>

<div class="page container">

  <banner></banner>

  <ul class="categories">
    <li class="category" *ngFor="let category of categories">
      <a class="category__img-wrapper" [langRouterLink]="'/' + category.slug" [ngSwitch]="category.name">
        <img class="category__img" [src]="getCategoryImage(category)" [alt]="category.name" loading="lazy">
      </a>

      <div class="category__info">
        <h2 class="category__title">
          <a class="main-link category__title--link" [langRouterLink]="'/' + category.slug">{{ category.name }}</a>
        </h2>

        <ul class="category__subcategories" *ngIf="category.children.length">
          <li *ngFor="let subcategory of category.children">
            <h3 class="category__subcategory">
              <a class="main-link" [langRouterLink]="'/' + subcategory.slug">{{ subcategory.name }}</a>
            </h3>
          </li>
        </ul>
      </div>
    </li>
  </ul>

  <section class="perks">
    <div class="perk">
      <i class="perk__img mbi mbi-rocket"></i>
      <div class="perk__info">
        <h4 class="perk__title">{{ 'index.perk_1_title' | translate }}</h4>
        <div class="perk__text">{{ 'index.perk_1_text' | translate }}</div>
      </div>
    </div>

    <div class="perk">
      <i class="perk__img mbi mbi-sync2"></i>
      <div class="perk__info">
        <h4 class="perk__title">{{ 'index.perk_2_title' | translate }}</h4>
        <div class="perk__text">{{ 'index.perk_2_text' | translate }}</div>
      </div>
    </div>

    <div class="perk">
      <i class="perk__img mbi mbi-credit-card2"></i>
      <div class="perk__info">
        <h4 class="perk__title">{{ 'index.perk_3_title' | translate }}</h4>
        <div class="perk__text">{{ 'index.perk_3_text' | translate }}</div>
      </div>
    </div>

    <div class="perk">
      <i class="perk__img mbi mbi-bubbles"></i>
      <div class="perk__info">
        <h4 class="perk__title">{{ 'index.perk_4_title' | translate }}</h4>
        <div class="perk__text">{{ 'index.perk_4_text' | translate }}</div>
      </div>
    </div>
  </section>

  <recently-added-products></recently-added-products>

  <section class="posts-list">
    <posts-preview [category]="'lastWorks'"></posts-preview>
    <posts-preview [category]="'lastPosts'"></posts-preview>
  </section>

  <recently-viewed-products></recently-viewed-products>

</div>

<app-footer></app-footer>
