@import "variables";
@import "mixins";

$breakpoint: 500px;

.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0;
  padding: 5px 0;

  @include respond-to($media_medium) {
    justify-content: space-around;
    margin: 30px 0 0;
    padding: 0;
  }

  @include respond-to($media_large) {
    margin: 45px 0 0;
  }
}

.category {
  width: calc(100% / 3);
  padding: 5px 6px;
  border-width: 0 1px 1px 0;
  border-color: $borderColor;
  border-style: solid;

  &:nth-child(-n+3) {
    border-top: 1px solid $borderColor;
  }

  &:nth-child(3n) {
    border-right: none;
  }

  @include respond-to($media_medium) {
    display: flex;
    flex-direction: column;
    width: 47%;
    min-height: 200px;
    margin: 0 0 30px;
    padding: 15px 20px 25px;
    border: 1px solid $borderColor;

    &:nth-child(3n) {
      border-right: 1px solid $borderColor;
    }
  }

  @include respond-to($media_max-content-width) {
    flex-direction: row;
    width: 32%;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;

    @include respond-to($media_medium) {
      width: auto;
    }

    @include respond-to($media_max-content-width) {
      width: 50%;
      padding: 0 15px 0 0;
      flex-shrink: 0;
      align-items: flex-start;
    }
  }

  &__img {
    width: 90px;
    height: 90px;
    border-radius: 3px;
    object-fit: contain;

    @include respond-to($breakpoint) {
      width: 110px;
      height: 110px;
    }

    @include respond-to($media_medium) {
      width: auto;
      height: auto;
    }
  }

  &__info {
    width: 100%;
    margin: 8px 0 0;

    @include respond-to($media_medium) {
      width: 60%;
      margin-top: 20px;
    }

    @include respond-to($media_max-content-width) {
      width: 50%;
      margin-top: 10px;
    }
  }

  &__title {
    margin: 5px 0 0;
    font-size: 12px;
    text-align: center;
    hyphens: auto;

    &--link {
      color: $dark;
    }

    @include respond-to($media_medium) {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      text-align: initial;
    }

    @include respond-to($media_medium) {
      &--link {
        color: $link;
      }
    }
  }

  &__subcategories {
    display: none;

    @include respond-to($media_medium) {
      display: block;
      margin: 10px 0 0;
    }
  }

  &__subcategory {
    @include respond-to($media_medium) {
      padding: 5px 0;
      font-size: 14px;
    }
  }
}

.perks {
  margin: 50px 0 0;
  padding: 0 30px;

  @include respond-to($media_medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.perk {
  display: flex;
  align-items: center;
  margin: 0 0 30px;

  @include respond-to($media_medium) {
    width: 50%;
    padding: 0 15px;
  }

  @include respond-to($media_large) {
    width: 25%;
  }

  &__img {
    font-size: 40px;
    color: $primary;
  }

  &__info {
    margin: 0 0 0 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__text {
    margin: 5px 0 0;
    font-size: 14px;
    color: $grey;
  }
}

.posts-list {
  margin-top: 80px;
}
