@import "variables";
@import "mixins";

.banner {
  $brk_point: 500px;

  display: none;

  @include respond-to($media_medium) {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0;
  }

  &__content {
    @include respond-to($brk_point) {
      display: flex;
    }

    @include respond-to($media_large) {
      width: calc(100% - 300px);
      padding: 0 20px;
    }
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__slider {
    @include respond-to($brk_point) {
      width: 60%;
      flex-shrink: 0;
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }

  &__imgs {
    @include respond-to($brk_point) {
      width: 40%;
    }
  }

  &__imgs-row {
    display: flex;
  }

  &__main-img {
    max-height: 250px;

    @include respond-to($brk_point) {
      max-height: 320px;
    }

    @include respond-to($media_large) {
      max-height: 350px;
    }
  }
}

.categories {
  margin: 30px 0 0;

  @include respond-to($media_medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.category {
  display: flex;
  min-height: 150px;
  margin: 0 0 15px;
  padding: 15px 25px;
  border: 1px solid $borderColor;

  @include respond-to($media_medium) {
    flex-direction: column;
    width: 47%;
    min-height: 200px;
    margin: 0 0 30px;
    padding: 15px 20px 25px;
  }

  @include respond-to($media_max-content-width) {
    flex-direction: row;
    width: 32%;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    text-align: center;

    @include respond-to-less-than($media_medium) {
      width: 150px;
    }

    @include respond-to($media_medium) {
      margin: 0 auto;
      padding: 0 15px 0 0;
    }

    @include respond-to($media_max-content-width) {
      width: 50%;
      padding: 0 15px 0 0;
      flex-shrink: 0;
      align-items: flex-start;
    }
  }

  &__img {
    max-height: 150px;
    border-radius: 2px;
    object-fit: cover;
  }

  &__info {
    margin: 8px 0 0;

    @include respond-to($media_medium) {
      margin-top: 20px;
    }

    @include respond-to($media_max-content-width) {
      width: 50%;
      margin-top: 10px;
    }
  }

  &__title {
    margin: 0 0 15px;
    font-size: 23px;
    font-weight: 600;

    @include respond-to($media_medium) {
      margin: 0;
      font-size: 18px;
    }
  }

  &__subcategories {
    margin: 10px 0 0;
  }

  &__subcategory {
    padding: 5px 0;
    font-size: 17px;

    @include respond-to($media_medium) {
      font-size: 14px;
    }
  }
}

.perks {
  margin: 50px 0 0;
  padding: 0 30px;

  @include respond-to($media_medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.perk {
  display: flex;
  align-items: center;
  margin: 0 0 30px;

  @include respond-to($media_medium) {
    width: 50%;
    padding: 0 15px;
  }

  @include respond-to($media_large) {
    width: 25%;
  }

  &__img {
    font-size: 40px;
    color: $primary;
  }

  &__info {
    margin: 0 0 0 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__text {
    margin: 5px 0 0;
    font-size: 14px;
    color: $grey;
  }
}

.posts-list {
  margin-top: 50px;
}
