<app-header></app-header>

<div class="page container not-found">
  <breadcrumbs [breadcrumbs]="[{ title: 'Доставка и оплата' }]"></breadcrumbs>

  <h1 class="page__title">Доставка и оплата</h1>

  <div class="page__content info-page">
    <p><strong>Доставка</strong> заказов в отделение курьерской службы Новая Почта (в некоторых городах также возможна адресная доставка Новой Почтой).<br>Стоимость доставки не входит в стоимость заказа, оплачивается отдельно при получении заказа сотруднику Новой почты.<br>Сусаль отправляется отдельной посылкой. Если в одном заказе сусаль и другие товары, то посылки будет две. Обе доставки оплачивает получатель.<br><br>Заказы, принятые и оплаченные до 18-00, отправляются на следующий рабочий день Новой почты. Заказы, принятые и оплаченные в выходные дни, отправляются в понедельник утром. Вы можете в любое время оставить заказ через корзину на сайте. Заказы по телефону принимаются с понедельника по субботу с 9:00 до 18:00.</p>
    <p><a href="https://novaposhta.ua/ru/tracking" target="_blank" rel="noopener">Отследить посылку на сайте Новой почты</a></p>
    <p>
      <strong>Оплата</strong> заказов возможна в трёх вариантах.<br>
      1. Предоплата на карту. Комиссия по тарифам Вашего банка (для Привата 0.5% минимум 5 грн). Номер карты Вам отправят в смс уведомлении на телефон.<br>
      2. Наложенный платёж. Комиссия Новой почты 2% + 20 грн (оплачивается отдельно при получении товара в отделении Новой Почты). Оплата товара при получении в отделении Новой Почты.<br>
      3. Онлайн-оплата картой. Комиссия 2.5%.
    </p>
    <p>
      <strong>Внимание!</strong> <br>
      Просьба проверять товар при получении посылки в отделении Новой Почты. При обнаружении несоответствия комплектации или брака сразу позвоните нам, мы постараемся оперативно исправить ошибку.
    </p>
  </div>
</div>

<app-footer></app-footer>
