<app-header></app-header>

<div class="page container not-found">
  <breadcrumbs [breadcrumbs]="[{ title: 'global.shipment_and_payment' | translate }]"></breadcrumbs>

  <h1 class="page__title">{{ 'global.shipment_and_payment' | translate }}</h1>

  <div class="page__content info-page">
    <p [innerHTML]="'shipment_payment_page.content_1' | translate"></p>
    <p>{{ 'shipment_payment_page.content_2' | translate }}</p>
    <p>{{ 'shipment_payment_page.content_3' | translate }}</p>
    <p>{{ 'shipment_payment_page.content_4' | translate }}</p>

    <p><a class="main-link" href="https://novaposhta.ua/ru/tracking" target="_blank" rel="noopener">{{ 'shipment_payment_page.content_1' | translate }}</a></p>

    <p>
      <span [innerHTML]="'shipment_payment_page.payment_title' | translate"></span><br>
      1. {{ 'shipment_payment_page.payment_1' | translate }}<br>
      2. {{ 'shipment_payment_page.payment_2' | translate }}<br>
      3. {{ 'shipment_payment_page.payment_3' | translate }}
    </p>

    <p>
      <strong>
        {{ 'shipment_payment_page.content_5_title' | translate }}
      </strong><br>
      {{ 'shipment_payment_page.content_5' | translate }}
    </p>
  </div>

  <recently-viewed-products></recently-viewed-products>

</div>

<app-footer></app-footer>
