<div class="checkout-block__title">{{ 'payment_methods.payment_methods' | translate }}</div>

<div class="checkout-block__content">

  <div class="checkout-block__preloader" *ngIf="isLoading">
    <preloader></preloader>
  </div>

  <div class="checkout-block__error" *ngIf="error; else noErrorTmpl" (click)="fetchMethods()">
    {{ 'payment_methods.error_1' | translate }}<br>
    {{ 'payment_methods.error_2' | translate }}
  </div>

  <ng-template #noErrorTmpl>
    <label class="form__control form__control--radio checkout-block__tooltip-container"
           *ngFor="let method of methods"
           [class.form__control--disabled]="method.disabledState"
    >
      <input class="form__radio-input"
             [value]="method"
             [formControl]="methodControl"
             [attr.disabled]="method.disabledState"
             name="payment-method"
             type="radio"
      >

      <div class="form__radio-icon"
         [ngClass]="{
           'form__radio-icon--checked form__radio-icon--checked:before': methodControl.value === method,
           'form__radio-icon--unchecked': methodControl.value !== method
         }"
      ></div>

      <div class="icon-container">
        <img class="checkout-block__method-icon" src="{{ method.icon }}" alt="logo">
      </div>

      <div class="checkout-block__method">{{ method.name }}</div>

      <div class="checkout-block__tooltip" *ngIf="method.disabledState">
        <ng-container *ngFor="let reason of method.disabledReasons">
          {{ reason }}<br>
        </ng-container>
      </div>
    </label>
  </ng-template>
</div>
