<div class="checkout-block__title">Способы оплаты</div>

<div class="checkout-block__content">

  <div class="checkout-block__preloader" *ngIf="isLoading">
    <preloader></preloader>
  </div>

  <div class="checkout-block__error" *ngIf="error; else noErrorTmpl" (click)="fetchMethods()">
    При загрузке способов оплаты произошла ошибка<br>
    Пожалуйста, нажмите сюда, чтобы попробовать ещё раз
  </div>

  <ng-template #noErrorTmpl>
    <label class="checkout-control checkout-control--radio tooltip-container"
           *ngFor="let method of methods"
           [class.checkout-control--disabled]="method.disabledState"
    >
      <input class="checkout-control__radio-input"
             [value]="method"
             [formControl]="methodControl"
             [attr.disabled]="method.disabledState"
             name="payment-method"
             type="radio"
      >

      <i class="mbi checkout-control__radio-icon"
         [ngClass]="{
           'mbi-checkmark-outline': methodControl.value === method,
           'mbi-circle-outline': methodControl.value !== method
         }"
      ></i>

      {{ method.name }}

      <span class="tooltip" *ngIf="method.disabledState">
        <ng-container *ngFor="let reason of method.disabledReasons">
          {{ reason }}<br>
        </ng-container>
      </span>
    </label>
  </ng-template>
</div>
