@import "variables";
@import "mixins";

:host {
  display: block;
}

.medias {
  display: flex;
  flex-wrap: wrap;
}

.media {
  margin: 0 15px 10px 0;

  &__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.2s ease;

    @include respond-to($media_large) {
      width: 100px;
      height: 100px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
