<app-header></app-header>

<div class="page container blog-page" *ngIf="category">
  <breadcrumbs [breadcrumbs]="breadcrumbs"></breadcrumbs>

  <h1 class="page__title blog-page__title">
    {{ category.name }}
  </h1>

  <div class="blog-page__container">
    <div class="blog-page__toolbar">
      <blog-toolbar></blog-toolbar>
    </div>

    <div class="blog-page__content">
      <blog-posts-list [categoryId]="category.id"></blog-posts-list>
    </div>
  </div>

  <recently-viewed-products></recently-viewed-products>
</div>

<app-footer></app-footer>
