@import "variables";
@import "mixins";

.service-menu {
  $menu: &;

  &--horizontal &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--vertical &__link {
    display: block;
    padding: 8px 15px;
    font-size: 13px;
    transition: all 0.2s ease;

    &:hover {
      color: $primary;
    }
  }

  &__count {
    font-weight: 600;
  }
}
