@import "variables";
@import "mixins";

.service-menu {
  $menu: &;

  &--vertical {
    .container {
      max-width: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    #{$menu}--vertical & {
      display: block;
    }
  }

  &__link {
    display: block;
    padding: 13px 15px;
    font-size: 13px;
    white-space: nowrap;
    transition: all 0.2s ease;

    @include respond-to($media_large) {
      padding-left: 25px;
      padding-right: 25px;
    }

    &:hover {
      color: $primary;
    }
  }

  &__count {
    font-weight: 600;
  }
}
