<div class="service-menu"
     [ngClass]="{
       'service-menu--horizontal': layout === 'horizontal',
       'service-menu--vertical': layout === 'vertical'
     }"
>
  <div [class.container]="layout === 'horizontal'">
    <div class="service-menu__content">
      <a class="service-menu__link" routerLink="/">Скидки</a>
      <a class="service-menu__link" routerLink="/">Доставка и оплата</a>
      <a class="service-menu__link" routerLink="/">Возврат и обмен товара</a>
      <a class="service-menu__link" routerLink="/">Контакты</a>
      <a class="service-menu__link" routerLink="/">Отзывы <span class="service-menu__count" *ngIf="storeReviewsCount">({{ storeReviewsCount }})</span></a>
    </div>
  </div>
</div>
