<div class="service-menu" [class.service-menu--vertical]="vertical">
  <div class="container">
    <div class="service-menu__content">
      <a class="service-menu__link" routerLink="/">Скидки</a>
      <a class="service-menu__link" routerLink="/">Доставка и оплата</a>
      <a class="service-menu__link" routerLink="/">Возврат и обмен товара</a>
      <a class="service-menu__link" routerLink="/">Контакты</a>
      <a class="service-menu__link" routerLink="/">Отзывы <span class="service-menu__count">(192)</span></a>
    </div>
  </div>
</div>
