@import "mixins";

:host {
  display: block;
}

.stars {
  width: 120px;
  cursor: pointer;

  @include respond-to($media_medium) {
    width: 100px;
  }

  &--small {
    width: 60px;
  }

  &--disabled {
    cursor: default;
  }
}
