@import "mixins";

:host {
  display: block;
}

.stars {
  width: 120px;

  @include respond-to($media_medium) {
    width: 80px;
  }

  &:hover {
    cursor: pointer;
  }
}

.small {
  width: 60px;

  &:hover {
    cursor: auto;
  }
}
