@import "variables";
@import "mixins";

.table {
  margin: 30px 0 0;

  @include respond-to($media_medium) {
    margin: 40px auto 0;
    max-width: 800px;
  }

  &:first-child {
    margin-top: 0;
  }

  &__name {
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 600;

    @include respond-to($media_medium) {
      font-size: 21px;
    }
  }

  &__product {
    &:not(:first-child) {
      margin: 5px 0 0;
    }
  }
}

.product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 5px;
  border-bottom: 1px solid rgba($dark, 0.15);

  @include respond-to($media_medium) {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__img {
    flex-shrink: 0;
    display: block;
    height: 50px;
    width: 50px;
    object-fit: contain;

    @include respond-to($media_medium) {
      height: 60px;
      width: 60px;
    }
  }

  &__name {
    display: block;
    margin: 0 10px 0 10px;
    font-size: 14px;

    @include respond-to($media_medium) {
      font-size: 15px;
    }
  }

  &__price {
    margin: 0 0 0 auto;
    font-size: 16px;
    font-weight: 600;
    text-align: right;

    @include respond-to($media_medium) {
      flex-shrink: 0;
    }
  }

  &__currency {
    font-size: 13px;
  }

  &__buy {
    position: relative;
    margin: 0 0 0 7px;
    font-size: 14px;

    @include respond-to($media_medium) {
      margin-left: 13px;
      font-size: inherit;
    }

    &--out-of-stock {
      min-width: 78px;
      text-align: center;
    }
  }

  &__preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 2px), -6px);
  }
}
