<div class="table" *ngFor="let table of tables">
  <div class="table__name">
    {{ table.name }}
  </div>

  <div class="table__products">
    <div class="table__product product" *ngFor="let product of table.products">
      <img class="product__img" [src]="getProductThumbnail(product)" [alt]="product.name" loading="lazy">

      <a class="product__name main-link" [langRouterLink]="['/', product.slug]">{{ product.name }}</a>

      <span class="product__price">
        {{ product.price }}<span class="product__currency"> {{ 'global.uah' | translate }}</span>
      </span>

      <button class="product__buy btn" (click)="addToCart(product)">
        Купить

        <preloader class="product__preloader" *ngIf="product.isLoading"></preloader>
      </button>

    </div>
  </div>
</div>
