<app-header></app-header>

<div class="page container">
  <breadcrumbs [breadcrumbs]="[{ title: 'store_reviews.reviews_suggestions' | translate }]"></breadcrumbs>

  <h1 class="page__title">{{ 'store_reviews.reviews_suggestions' | translate }}</h1>

  <div class="reviews-summary__container" (click)="scrollToReviews()">
      <span class="reviews-summary__average">{{ averageReviewsRating }}</span>

      <rating-stars [isDisabled]="true" [rating]="averageReviewsRating"></rating-stars>

      <div class="reviews-summary__count" *ngIf="storeReviewsCount"> ({{ storeReviewsCount }})</div>
  </div>

  <div class="page__content">
    <div class="store-reviews">

      <div class="store-reviews__actions">
        <div class="store-reviews__add-review">
          <add-review
            [uploadUrl]="mediaUploadUrl"
            [inputPlaceholder]="inputPlaceholder"
            [isLoading]="isLoading"
            (addReview)="onReviewAdd($event)"
          ></add-review>
        </div>

        <div class="sorting">
          <sorting [sortOptions]="sortOptions"
                   [defaultOption]="sortOptions[0]"
                   (valueChanged)="fetchReviews()"
          ></sorting>
        </div>
      </div>

      <div class="store-reviews__error" *ngIf="error as error">
        {{ error }}
      </div>

      <ng-container *ngIf="!reviews && !error">
        <div class="placeholder store-reviews__review" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
          <div class="placeholder__item placeholder__rating"></div>
          <div class="placeholder__item placeholder__name"></div>
          <div class="placeholder__item placeholder__content"></div>
          <div class="placeholder__item placeholder__content placeholder__text"></div>
          <div class="placeholder__item placeholder__content placeholder__text placeholder__text--last"></div>
          <div class="placeholder__item placeholder__actions"></div>
        </div>
      </ng-container>

      <div class="store-reviews__list" #reviewsContainerRef>
        <review class="store-reviews__review"
                *ngFor="let review of reviews"
                [review]="review"
                [canLeaveComment]="false"
                (vote)="vote(review)"
                (downvote)="downvote(review)"
        ></review>
      </div>
    </div>

    <pagination class="product-list__pagination"
                [pagesTotal]="pagesTotal"
                (pagination)="onPagination()"
    ></pagination>
  </div>

  <recently-viewed-products></recently-viewed-products>

</div>

<app-footer></app-footer>

<div [innerHTML]="jsonLd"></div>
