<app-header></app-header>

<div class="page container">
  <breadcrumbs [breadcrumbs]="[{ title: 'Отзывы об интернет-магазине Klondike, предложения' }]"></breadcrumbs>

  <h1 class="page__title">Отзывы об интернет-магазине "Klondike", предложения</h1>

  <div class="reviews-summary__container">

    <a class="reviews-summary reviews-summary__link" routerLink="/otzyvy">
      <p class="reviews-summary__text">Отзывы о нашем магазине</p>
    </a> <span class="reviews-summary__average">{{ averageReviewsRating }}</span>

    <div class="reviews-summary__stars">
      <rating-stars [size]="'default'" [isDisabled]="true" [rating]="averageReviewsRating"></rating-stars>

      <a routerLink="/otzyvy" class="reviews-summary__count" *ngIf="storeReviewsCount"> ({{ storeReviewsCount }})</a>
    </div>
  </div>

  <div class="page__content">
    <p class="info-page">
      Тут Вы можете оставить отзыв о магазине “Клондайк” (например, оценить скорость доставки, качество консультации).<br>
      Мы очень благодарны за обратную связь, каждый Ваш отзыв вдохновляет нас!
    </p>

    <div class="store-reviews">
      <button class="btn store-reviews__btn" (click)="openReviewModal()" type="button">Оставить отзыв</button>

      <div class="store-reviews__error" *ngIf="error as error">
        {{ error }}
      </div>

      <ng-container *ngIf="!reviews && !error">
        <div class="placeholder store-reviews__review" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
          <div class="placeholder__item placeholder__rating"></div>
          <div class="placeholder__item placeholder__name"></div>
          <div class="placeholder__item placeholder__content"></div>
          <div class="placeholder__item placeholder__content placeholder__text"></div>
          <div class="placeholder__item placeholder__content placeholder__text placeholder__text--last"></div>
          <div class="placeholder__item placeholder__actions"></div>
        </div>
      </ng-container>

      <div class="store-reviews__list">
        <review class="store-reviews__review"
                *ngFor="let review of reviews"
                [review]="review"
                [canLeaveComment]="false"
                (vote)="vote(review)"
                (downvote)="downvote(review)"
        ></review>
      </div>
    </div>
  </div>

  <recently-viewed-products></recently-viewed-products>

</div>

<app-footer></app-footer>

<add-review-modal [uploadUrl]="mediaUploadUrl" (addReview)="onReviewAdd($event)"></add-review-modal>

<div [innerHTML]="jsonLd"></div>
