$primary: #fcb800;
$dark: #313131;
$grey: #666;
$red: #f53f48;
$borderColor: #dee2e6;

$cubicBezier: cubic-bezier(0.25, 0.8, 0.25, 1);

$media_medium: 600px;
$media_large: 1024px;
$media_max-content-width: 1300px;
$media_x-large: 1440px;
