<app-header></app-header>

<div class="page container not-found">
  <breadcrumbs [breadcrumbs]="[{ title: 'Возврат и обмен' }]"></breadcrumbs>

  <h1 class="page__title">Возврат и обмен товара</h1>

  <div class="page__content info-page">
    <p>Возврат и обмен неиспользованного товара с целой упаковкой, бракованного товара возможны в течение 14 дней с момента получения посылки на Новой Почте.</p>
    <p><strong>Возврат небракованного товара, обмен.</strong> Для возврата небракованного товара покупатель отправляет товар Новой почтой по согласованному с менеджером магазина адресу. Покупатель оплачивает пересылку на Новой почте. Менеджер осматривает товар. Если упаковка и товар не повреждены, то покупателю возмещается стоимость товара на карту в течение двух дней после получения посылки. При согласии покупателя предлагается обмен. Стоимость пересылок не возмещается покупателю.</p>
    <p><strong>Возврат бракованного товара.</strong> Для возврата покупатель отправляет товар Новой почтой по согласованному с менеджером магазина адресу. Покупатель оплачивает пересылку на Новой почте. Менеджер осматривает товар. В случае подтверждения заводского брака менеджером магазина покупателю возмещается стоимость товара и пересылок на карту в течение двух дней. При согласии покупателя предлагается обмен. Если менеджер не подтверждает заводской брак, то покупателю не возмещается стоимость товара и пересылок.</p>
    <p>
      <strong>Внимание!</strong> <br>
      Просьба проверять товар при получении посылки в отделении Новой Почты. При обнаружении несоответствия комплектации или брака сразу позвоните нам, мы постараемся оперативно исправить ошибку.
    </p>

  </div>

  <recently-viewed-products></recently-viewed-products>
</div>

<app-footer></app-footer>
