<app-header></app-header>

<div class="page container not-found">
  <breadcrumbs [breadcrumbs]="[{ title: 'global.repayments' | translate }]"></breadcrumbs>

  <h1 class="page__title">{{ 'repayments_page.repayments_title' | translate }}</h1>

  <div class="page__content info-page">
    <p>{{ 'repayments_page.content_1' | translate }}</p>
    <p><strong>{{ 'repayments_page.content_2_title' | translate }}</strong> {{ 'repayments_page.content_2' | translate }}</p>
    <p><strong>{{ 'repayments_page.content_3_title' | translate }}</strong> {{ 'repayments_page.content_1' | translate }}</p>
    <p>
      <strong>{{ 'repayments_page.content_4_title' | translate }}</strong> <br>
      {{ 'repayments_page.content_4' | translate }}
    </p>

  </div>

  <recently-viewed-products></recently-viewed-products>

</div>

<app-footer></app-footer>
