<div class="container">
  <header class="header">
    <a class="header__logo" langRouterLink="/">
      <img class="header__logo-img" src="../../assets/images/logo.png" alt="Klondike" loading="lazy">
    </a>

    <div class="header__phones header-phones">
      <div class="header-phones__text">
        {{ 'checkout.phone_consulting' | translate }}
      </div>
      <div class="header-phones__content">
        <a class="header-phones__phone" href="tel:+380502627214">+38 (050) 26-27-214</a>
        <a class="header-phones__phone" href="tel:+380678811962">+38 (067) 88-11-962</a>
        <a class="header-phones__phone" href="tel:+380933444342">+38 (093) 34-44-342</a>
        <i class="mbi mbi-ios-arrow-down header-phones__arrow"></i>
      </div>
    </div>
  </header>

  <div class="subheader">
    <h1 class="subheader__title">
      {{ 'checkout.checkout' | translate }}
    </h1>

    <div class="subheader__login-container" *ngIf="!isLoggedIn">
      <button class="btn btn--small btn--transparent subheader__login" (click)="login()">
        <i class="mbi mbi-user subheader__login-icon"></i>
        {{ 'checkout.login' | translate }}
      </button>

      <div class="subheader__login-text">
        {{ 'checkout.or_register' | translate }}
      </div>
    </div>
  </div>

  <div class="checkout" [class.checkout--loading]="isOrderLoading" #checkoutRef>

    <preloader class="checkout__preloader" *ngIf="isOrderLoading"></preloader>

    <main class="checkout__form">
      <div class="checkout__info-error" *ngIf="orderError as error">
        {{ error }}
      </div>

      <order-customer-info class="checkout__block"></order-customer-info>

      <payment-methods class="checkout__block"></payment-methods>

      <callback-needed class="checkout__block"></callback-needed>

      <order-note class="checkout__block"></order-note>
    </main>

    <aside class="checkout__info">
      <div class="checkout__cart">

        <div class="cart-item" *ngFor="let item of cart">
          <img class="cart-item__img" [src]="setItemImg(item)" alt="" loading="lazy">

          <div class="cart-item__info">
            <a class="cart-item__name main-link" [langRouterLink]="['/', item.slug]" target="_blank">
              {{ item.name }}
            </a>

            <div class="cart-item__additional-services" *ngIf="item.additionalServices?.length">
              <div class="cart-item__additional-service" *ngFor="let service of item.additionalServices">
                {{ service.name }} (+{{ service.price }}{{ 'global.uah' | translate }})
              </div>
            </div>

            <div class="cart-item__qty-cost">
              <div class="cart-item__qty">
                {{ item.qty }} {{ 'global.pcs.' | translate }}
              </div>

              <div class="cart-item__cost-container">
                <span class="cart-item__cost"
                      [class.cart-item__cost--special]="item.oldCost"
                >
                  {{ item.cost }} {{ 'global.uah' | translate }}
                </span>
                <span class="cart-item__old-cost" *ngIf="item.oldCost">
                  {{ item.oldCost }} {{ 'global.uah' | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="checkout__edit">
        <button class="checkout__edit-btn" (click)="editCart()" type="button">
          {{ 'checkout.edit_order' | translate }}
        </button>
      </div>

      <div class="checkout__prices">
        <ng-container *ngIf="prices.discountValue as discountValue">
          <div class="checkout__price">
            <div class="checkout__price-label">{{ 'global.items_cost' | translate }}:</div>
            <div class="checkout__price-value">{{ prices.itemsCost }} {{ 'global.uah' | translate }}</div>
          </div>

          <div class="checkout__price">
            <div class="checkout__price-label">
              {{ 'global.discount' | translate }}
              <div class="checkout__discount-description">
                ({{ prices.discountLabel }}, {{ prices.discountPercent }}%):
              </div>
            </div>
            <div class="checkout__price-value checkout__price-value--discount">-{{ discountValue }} {{ 'global.uah' | translate }}</div>
          </div>
        </ng-container>

        <div class="checkout__price checkout__price--total">
          <div class="checkout__price-label">{{ 'global.total_cost' | translate }}:</div>
          <div class="checkout__price-value checkout__price-value--total">{{ prices.totalCost }} {{ 'global.uah' | translate }}</div>
        </div>
      </div>

      <div class="checkout__cost-error checkout-error" *ngIf="!canPlaceOrder">
        {{ 'global.minimal_order_cost' | translate }}: {{ minimalOrderCost }} {{ 'global.uah' | translate }}.
      </div>

      <button class="btn checkout__submit"
              [disabled]="!canPlaceOrder"
              (click)="placeOrder()"
              type="button"
      >
        {{ 'checkout.order_confirm' | translate }}
      </button>
    </aside>
  </div>

  <div class="footer">
    <div class="footer__contacts footer-phones">
      <div class="footer-phones__title">{{ 'checkout.phones_consulting' | translate }}</div>

      <ul class="footer-phones__phones">
        <li class="footer-phones__phone-container">
          <a class="footer-phones__phone main-link" href="tel:+380502627214">+38 (050) 26-27-214</a>
        </li>
        <li class="footer-phones__phone-container">
          <a class="footer-phones__phone main-link" href="tel:+380678811962">+38 (067) 88-11-962</a>
        </li>
        <li class="footer-phones__phone-container">
          <a class="footer-phones__phone main-link" href="tel:+380933444342">+38 (093) 34-44-342</a>
        </li>
      </ul>
    </div>

    <div class="footer__copyright">
      2015-{{ currentYear }} {{ 'checkout.store' | translate }}
    </div>
  </div>

</div>

