@import "variables";

.checkout-block {
  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__content {
    margin: 20px 0 0;
  }

  &__error {
    color: $red;
  }

  &__preloader {
    min-height: 15px;
  }
}
