@import "variables";
@import "mixins";

.container {
  max-width: $media_large;
}

.header {
  margin: 13px auto 0;

  @include respond-to($media_large) {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;
    text-align: center;
  }

  &__logo-img {
    width: 190px;
  }
}

.subheader {
  max-width: $media_large;

  @include respond-to($media_medium) {
    margin-top: 15px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 18px;
    text-align: center;

    @include respond-to($media_large) {
      font-size: 22px;
    }
  }

  &__login-container {
    margin: 13px 0 0;
    text-align: right;

    @include respond-to($media_large) {
      margin-top: 0;
    }
  }

  &__login-text {
    margin: 4px 0 0;
    font-size: 12px;
    color: rgba($dark, 0.4);
  }
}

.checkout {
  position: relative;
  margin: 15px 0 0;

  @include respond-to($media_large) {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &--loading {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#fff, 0.8);
      animation: fadeIn 0.3s ease;
      z-index: 100;
    }
  }

  &__preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-40px);
    z-index: 101;
  }

  &__error {
    display: block;
    margin: 0 0 20px;
    padding: 12px 17px 11px;
    background: rgba($red, 0.15);
    border: 1px solid rgba($red, 0.4);
    color: red;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.3;
  }

  &__block {
    display: block;
    margin: 15px 0 0;
    padding: 0 8px 20px;
    border-bottom: 1px solid rgba($dark, 0.1);

    &:first-child {
      margin-top: 0;
    }
  }

  &__info {
    position: sticky;
    top: 20px;
    margin: 25px 0 0;
    padding: 0 0 15px;

    @include respond-to($media_large) {
      margin-top: 0;
      margin-left: 5%;
      width: 35%;
      flex-shrink: 0;
    }
  }

  &__form {
    @include respond-to($media_large) {
      flex-grow: 2;
      max-width: 60%;
    }
  }

  &__edit {
    margin: 10px 0 0;
    text-align: center;
  }

  &__edit-btn {
    padding: 0 0 2px;
    color: $blue;
    border-bottom: 1px dashed;
    transition: color 0.2s ease;

    &:hover {
      color: darken($blue, 12%);
    }
  }

  &__prices {
    margin: 15px 0 0;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 0 0 5px;
    font-size: 15px;

    &--total {
      font-size: 20px;
    }
  }

  &__price-value {
    margin: 0 0 0 5px;
    flex-shrink: 0;
    font-weight: 600;

    &--discount {
      color: darken($red, 20%);
    }

    &--total {
      font-size: 26px;
    }
  }

  &__discount-description {
    margin: 3px 0 0;
    font-size: 13px;
    color: rgba($dark, 0.6);
  }

  &__submit {
    display: block;
    width: 100%;
    margin: 30px 0 0;
    padding-top: 14px;
    padding-bottom: 15px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
  }
}

.cart-item {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid rgba($dark, 0.1);

  &__img {
    flex-shrink: 0;
    width: 65px;
    max-height: 65px;
    object-fit: contain;
  }

  &__info {
    flex-grow: 2;
    margin: 0 0 0 10px;
    padding: 0 20px 0 0;
  }

  &__name {
    font-size: 14px;
  }

  &__qty-cost {
    margin: 8px 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  &__cost {
    &--special {
      color: $red;
    }
  }

  &__old-cost {
    position: relative;
    display: inline-block;
    margin: 3px 0 0;
    font-size: 12px;
    color: rgba($dark, 0.6);

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-bottom: 1px solid;
    }
  }
}

.footer {
  margin: 40px 0 0;
  padding: 40px 10px 60px;
  border-top: 1px solid rgba($dark, 0.1);

  &__copyright {
    margin: 20px 0 0;
    color: rgba($dark, 0.6);
  }
}

.header-phones {
  display: none;
  overflow: hidden;
  max-height: 17px;

  @include respond-to($media_large) {
    display: flex;
  }

  &:hover {
    overflow: initial;
  }

  &__text {
    margin: 2px 5px 0 0;
  }

  &__content {
    position: relative;
    top: -7px;
    height: fit-content;
    padding: 4px 23px 8px 13px;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.7;
    z-index: 1;
  }

  &__phone {
    display: block;
    transition: all 0.2s ease;

    & + & {
      opacity: 0;
    }
  }

  &:hover &__content {
    box-shadow: 0 0 6px rgba($dark, 0.4);
  }
  &:hover &__phone {
    opacity: 1;
  }

  &__arrow {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 18px;
  }
}

.footer-phones {
  font-size: 16px;

  @include respond-to($media_large) {
    display: none;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__phones {
    margin: 10px 0 0;
  }

  &__phone {
    display: block;
    padding: 5px 0;
  }
}
