@import "variables";
@import "mixins";

.checkout-block {
  margin: 0 0 15px;

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__content {
    margin: 20px 0 0;
  }

  &__error {
    color: $red;
  }

  &__preloader {
    min-height: 15px;
  }

  &__tooltip-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.method {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon-container {
    width: 56px;
    margin-right: 10px;
  }

  &__icon {
    max-height: 35px;
  }

  &__text {
    width: 80%;

    @include respond-to($media_medium) {
      width: 100%;
    }
  }

  &__tooltip {
    width: 100%;
    margin: 6px 0 0;
    padding: 5px 8px;
    border: 1px dashed #e3e2e2;
    border-radius: 2px;
    color: #d0d0d0;
  }
}
