@import "variables";
@import "mixins";

.toolbar {
  &__title {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title-icon {
    margin: 0 5px 0 0;

    @include respond-to($media_large) {
      display: none;
    }
  }

  &__content {
    margin: 10px 0 0;
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;

    @include respond-to($media_large) {
      max-height: initial;
      overflow: initial;
    }

    &--visible {
      max-height: 500px;
    }
  }
}

.category {
  display: flex;
  align-items: center;
  padding: 7px 0 7px 10px;
  font-size: 16px;

  &__icon {
    margin: 0 5px 0 0;
    font-size: 14px;
  }
}

.last-post {
  display: block;
  padding: 6px 0 6px 10px;
  font-size: 16px;
  color: $blue;
  transition: color 0.2s ease;

  &:hover {
    color: darken($blue, 8%);
  }
}
