<div [innerHTML]="jsonLd"></div>

<div class="details">

  <div class="details__item item">
    <div class="item__container item__container--description html-description">
      <div class="description html-description" [innerHTML]="product.safeFullDescription"></div>
    </div>
  </div>

  <div class="details__item item__container item__container--chars">
    <div class="chars">
      <div class="chars__item" *ngFor="let char of product.characteristics, first as first">
        <div class="chars__cell chars__label" [class.chars__cell--first]="first">{{ char.label }}</div>
        <div class="chars__cell chars__value" [class.chars__cell--first]="first">{{ char.value }}</div>
      </div>
    </div>
  </div>

  <div class="details__item item__container item__container--reviews reviews" #reviewsRef>
    <div class="reviews__container">
      <h3 class="item__title">{{ 'product_details.reviews' | translate }}
        <span class="reviews__count" *ngIf="product.textReviewsCount> 0">({{ product.textReviewsCount }})</span>
      </h3>

      <add-review
        class="reviews__add"
        [isColumnLayout]="true"
        [uploadUrl]="mediaUploadUrl"
        [isLoading]="isLoading"
        (addReview)="onReviewAdd($event)"
      ></add-review>
    </div>

    <review class="reviews__review"
            *ngFor="let review of reviews"
            [review]="review"
            (vote)="vote(review)"
            (downvote)="downvote(review)"
            (addComment)="onAddComment(review, $event)"
    ></review>
  </div>

</div>
