<div [innerHTML]="jsonLd"></div>

<div class="details">

  <div class="details__item item">
    <div class="item__container item__container--description html-description">
      <div class="description html-description" [innerHTML]="product.safeFullDescription"></div>
    </div>
  </div>

  <div class="details__item item__container item__container--chars">
    <div class="chars">
      <div class="chars__item" *ngFor="let char of product.characteristics, first as first">
        <div class="chars__cell chars__label" [class.chars__cell--first]="first">{{ char.label }}</div>
        <div class="chars__cell chars__value" [class.chars__cell--first]="first">{{ char.value }}</div>
      </div>
    </div>
  </div>

  <div class="details__item item__container item__container--reviews reviews" #reviewsRef>
    <div class="reviews__container">
      <h3 class="item__title">Отзывы
        <span class="reviews__count" *ngIf="product.textReviewsCount> 0">({{ product.textReviewsCount }})</span>
      </h3>

      <div class="reviews__add">
        <add-review [uploadUrl]="mediaUploadUrl" (addReview)="onReviewAdd($event)"></add-review>
        <button class="btn reviews__add-btn" (click)="openReviewModal()" type="button">Написать отзыв</button>
      </div>
    </div>

    <review class="reviews__review"
            *ngFor="let review of reviews"
            [review]="review"
            (vote)="vote(review)"
            (downvote)="downvote(review)"
            (addComment)="onAddComment(review, $event)"
    ></review>

<!--    <div class="reviews__no-reviews-yet" *ngIf="!product.textReviewsCount">-->
<!--      Вы можете оставить отзыв здесь<br>Нажмите на кнопку "Написать отзыв"-->
<!--    </div>-->
  </div>

</div>
