@import "variables";
@import "mixins";

.details {
  font-size: 14px;

  @include respond-to($media_large) {
    border-top: 1px solid $borderColor;
  }

  &__row {
    @include respond-to($media_medium) {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  &__column {
    @include respond-to($media_medium) {
      width: 49%;
    }
  }

  &__chars-reviews {
    @include respond-to($media_medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__block {
    margin-top: 10px;
    width: 100%;

    @include respond-to($media_medium) {
      margin-top: 30px;
    }

    &--related {
      display: block;
      margin: 20px 0 0;
    }

    &--chars-reviews {
      @include respond-to($media_medium) {
        width: 49%;
      }
    }
  }

  &__title {
    position: relative;
    display: flex;
    width: 100%;
    margin: 20px 0 15px;
    font-size: 18px;
    font-weight: 600;

    @include respond-to($media_medium) {
      width: auto;
      margin: 0 0 10px;
      font-size: 22px;
    }
  }

  &__categories {
    margin: 10px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid $borderColor;
    font-size: 16px;

    @include respond-to($media_medium) {
      margin-top: 20px;
      padding-top: 20px;
    }
  }

  &__category {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 5px 5px 0;
  }

  &__description {
    text-align: justify;

    @include respond-to($media_medium) {
      font-size: 15px;
    }
  }
}

.chars {
  display: table;
  font-size: 15px;
  width: 100%;
  table-layout: fixed;

  &__item {
    display: table-row;
    margin-top: 0;

    &:first-child {
      margin-top: 0;
      border-top: none;
    }

    &:nth-of-type(odd) {
      background-color: #f3f3f3;
    }
  }

  &__cell {
    display: table-cell;
    width: 50%;

    &--first {
      border-top: none;
    }
  }

  &__label {
    padding: 10px 30px 10px 10px;
    vertical-align: middle;
  }

  &__value {
    margin-left: 0;
    padding: 10px 10px 10px 30px;
    vertical-align: middle;
    text-align: right;
  }
}

.reviews-count {
  margin: 0 0 0 4px;
  color: #7d7d7d;
}

.tabs {
  @include respond-to($media_large) {
    display: none;
  }

  &__container {
    background: #f4f4f4;
    overflow-x: auto;
    overflow-y: hidden;

    &--fixed {
      @include respond-to-less-than($media_medium) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
      }
    }
  }

  &__content {
    width: fit-content;
    display: flex;
    align-items: center;
  }

  &__tab {
    padding: 15px 12px 13px;
    border-bottom: 2px solid rgba(#fff, 0);
    transition: all 0.2s ease;

    &--active {
      color: darken($primary, 5%);
      border-bottom-color: $primary;
    }
  }
}
