@import "variables";
@import "mixins";

.details {
  border-top: 1px solid $borderColor;
  font-size: 14px;

  @include respond-to($media_medium) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 10px;

    @include respond-to($media_medium) {
      margin-top: 30px;
    }
  }
}

.item {

  &__container {
    @include respond-to-less-than($media_medium) {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }

    &-description {
      width: 100%;
    }

    &-chars {
      width: auto;

      @include respond-to($media_medium) {
        width: 40%;
      }
    }

    &-reviews {
      width: auto;

      @include respond-to($media_medium) {
        width: 60%;
        padding-left: 25px;
      }
    }
  }

  &__title {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px 5px 25px;
    font-size: 18px;
    font-weight: 600;

    @include respond-to($media_medium) {
      width: auto;
      margin: 8px 0 35px;
      font-size: 22px;
    }
  }
}

.description {
  text-align: justify;

  @include respond-to($media_medium) {
    font-size: 15px;
  }
}

.chars {
  display: table;
  padding: 0 10px;
  font-size: 15px;
  width: 100%;

  @include respond-to($media_medium) {
    padding: 0;
  }

  &__item {
    display: table-row;
    margin-top: 0;

    &:first-child {
      margin-top: 0;
      border-top: none;
    }

    &:nth-of-type(odd) {
      background-color: #eeeeee;
    }
    }

  &__cell {
    display: table-cell;
    width: 50%;
    border-top: 1px solid rgba($dark, 0.2);

    &--first {
      border-top: none;
    }
  }

  &__label {
    font-weight: 600;
    padding: 10px 30px 10px 10px;
  }

  &__value {
    margin-left: 0;
    padding: 10px 10px 10px 30px;
    text-align: right;
  }
}

.reviews {

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__add {
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 18px;
    text-align: center;

    @include respond-to($media_medium) {
      margin: 0;
    }
  }

  &__add-btn {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 16px;
  }

  &__count {
    margin: 0 0 0 4px;
    color: #7d7d7d;
  }

  &__review {
    display: block;
    margin: 15px 0 0;
  }

  &__no-reviews-yet {
    margin-top: 20px;
    padding: 40px;
    border-radius: 3px;
    background-color: #f1f1f1;
    text-align: center;
    color: #cccccc;

    @include respond-to($media_medium) {
      margin-top: 0;
    }
  }

  &__img {
    width: 20px;
    padding-left: 5px;
    opacity: 0.5;
  }
}
