@import "variables";

.gallery {
  position: relative;
  display: flex;

  &__thumbnails {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    padding: 0 10px 0 0;
    overflow-y: auto;
  }

  &__thumbnail {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    padding: 2px;
    object-fit: contain;
    border: 1px solid transparent;

    &--active {
      border-color: $primary;
    }
  }

  &__img-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &__thumbnails + &__img-container {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  &__img-inner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-height: 100%;
    max-width: 100%;
  }
}
